.confirmation-link {
  cursor: pointer;
}

#confirmation-box {
  position: absolute;
  top: 35px;
  left: -80px;
  height: 175px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  overflow-y: auto;
  z-index: 2;
  box-shadow: -2px 2px 10px 0px rgba(0, 9, 0, 0.3), 2px -2px 10px 0px rgba(0, 9, 0, 0.3);

  p {
    font-size: 18px;
    text-align: center;
    color: #000;
  }
  
  .confirm-button {
    font-size: 16px;
    display: inline-block;
    line-height: 19px;
    text-decoration: none;
    padding: 1em 1.5em;
    cursor: pointer;
    border: 0;
    color: #fff;
    border: 2px solid #eee;
    background: #eee;
    margin: 10px 20px;
  }
  
  .confirm-button.cancel {
    background: #fff;
    color: #000;
  }
}
