html {
  height: 100%;
  font-size: 16px;
  background-color: $white;
  box-sizing: border-box;
}

#root,
#root > div {
  background: $opaque-black-02;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-stack-sans;
  line-height: 1.42;
}

a {
  color: $check-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $check-blue;
  }

  &:not([href]) {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}

button {
  @include button-defaults;
}

input {
  font-size: inherit;
}

p {
  margin-top: 0;
  color: $black-87;
}

ul {
  list-style-type: none;
  padding-#{$from-direction}: 0;
  margin: 0;
}
