
// Report tips for Electionland
.electionland-checklist {
  font-size: 13px;
  display: flex;
  color: $firefly-60;
  margin: 32px auto 0;
  border-radius: 4px;
  width: 100%;
  padding: 32px 2% 32px;
  background-color: #ffffff;
  aside {
    padding: 0 32px 0 0;
    width: 260px;
    h3 {
      @extend .media__notes-heading;
      text-align: right;
      margin-top: 8px;
    }
    p {
      margin: 0 auto;
      text-align: right;
      color: $firefly-60;
      a {

      }
    }
  }

  ul {
    padding: 0;
    border-left: 1px solid $firefly-20;
  }
  li {
    padding: 8px 8px 8px 32px;
    margin: 0;
    // list-style-type: disc;
    list-style-position: outside;
    // border-bottom: 1px solid $firefly-10;
  }
  h4 {
    background-color: transparent;
    font-weight: 700;
    color: $firefly-80;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
  }
  &>span {
    &:before {
      content: " — ";
    }
    margin-left: 0;
    display: inline-block;
  }
  span.fa-ellipsis-h {
    font-family: FontAwesome;
    display: inline-block;
    background-color: $firefly-5;
    padding: 0 2px;
    border-radius: 2px;
    font-size: 20px;
  }
  em {
    font-style: normal;
    font-family: Courier, Monaco, mono;
    color: $thatch;
  }
}
