.media {
  .media-name {
    text-align: center;
  }

  .media-description {
    text-align: center;
  }

  .media-author {
    text-align: center;
    color: $darkgrey;
    font-size: 12px;

    img {
      vertical-align: bottom;
    }

    a, a:visited {
      color: $darkgrey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.media-card {
  img {
    width: auto !important;
    height: auto !important;
  }

  a, a:visited {
    color: $darkgrey;
  }
}

.media-card-link {
  clear: both;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .media-card-col {
    float: left;
  }
  
  .media-last-status {
    width: 30%;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;

    &::before {
      content: "● ";
    }

    &.media-last-status-false { color: #a00; }
    &.media-last-status-undetermined { color: #1194F6; }
    &.media-last-status-verified { color: #00AD10; }
    &.media-last-status-in-progress { color: #FFDD00; }
    &.media-last-status-not-applicable { color: $darkgrey; }
  }
  
  div.media-card-col {
    width: 70%;
  }
  
  .media-description {
    font-weight: bold;
    margin: 0;
  }
  
  .media-data {
    padding: 0;
    
    li {
      color: #CCC;
      margin: 15px 25px 15px 0;
      float: left;
    }
  }
}
