
%icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 16px;

  path {
    color: $black-54;
  	transition: color .2s;
  }

  &:hover {
		path {
		  color: $check-blue;
  		transition: color .4s;
		}  	
  }
}
