.sidebar {
  background: $darkgrey !important;

  div {
    padding: 0 !important;
    line-height: normal;
  }

  a, a:visited {
    display: inline-block;
    height: 68px;
    width: 68px;
    overflow: hidden;
    color: $lightergrey;
    text-align: center;

    &#link-home {
      background: transparent url('/images/logo.png') center center no-repeat;

      &:hover {
        background: transparent url('/images/logo-white.png') center center no-repeat;
      }
    }

    em {
      display: none;
    }

    span {
      font-size: 36px;
      margin-top: 18px;
    }

    &:hover, &.active {
      color: $white;
    }
  }
}
