.tags-list {
  margin: 30px 0;

  .ReactTags__selected {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .ReactTags__tag,
  input {
    padding: 9px 12px;
    border: 1px solid $black-54;
    border-radius: 26px;
    margin-top: 0;
    margin-#{$to-direction}: 6px;
    margin-bottom: 4px;
    margin-#{$from-direction}: 0;
    font-size: 13px;
    font-weight: 500;
  }

  input {
    &:focus {
      outline: initial;
    }
  }

  .ReactTags__remove {
    @include close-button(14px);
    margin: 0 5px;
  }
}
