.tags-list {
  margin: 30px 0;

  .ReactTags__selected {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .ReactTags__tag, input {
    color: theme-gray(60%);
    padding: 9px 12px;
    border: 1px solid theme-gray(90%);
    border-radius: 26px;
    margin: 0 6px 4px 0;
    font-size: 13px;
    font-weight: 500;
  }

  input {
    &:focus {
      outline: initial;
    }
  }

  .ReactTags__remove {
    margin-left: 5px;
    color: theme-gray(80%);
    cursor: pointer;
  }
}
