.top-bar {
  background: #ffffff;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  a {
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    float: right;
    color: #000;
    cursor: pointer;
    font-size: 16px;
  }
}
