// Colors

$black: #000;
$white: #FFF;
$lightestgrey: #EEE;
$lightergrey: #8B939A;
$lightgrey: #FBFAF9;
$midgrey: #D7D7D7;
$darkgrey: #3E4C57;
$darkergrey: #444;
$cream: #FFD;
$grey: #283743;
$blue: #034fda;
$mustard: #FFD980;
