// Colors

$black: #000;
$white: #fff;
$lightestgrey: #eee;
$lightergrey: #8b939a;
$lightgrey: #fbfaf9;
$midgrey: #d7d7d7;
$darkgrey: #3e4c57;
$darkergrey: #444;
$cream: #ffd;
$grey: #283743;
$blue: #034fda;
$mustard: #ffd980;
