#pender-card {
  position: relative;

  #pender-card-loader {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    font-size: 14px;
    color: $midgrey;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
