@charset "utf-8";

@import "font-awesome/font-awesome";
@import "variables";

@import 'theme/colors';
@import 'theme/typography';
@import 'theme/buttons';
@import 'theme/defaults';
@import 'theme/layout';
@import 'theme/forms';

@import 'components/home';
@import 'components/login-menu';
@import 'components/login-email';
@import 'components/team/create-team';
@import 'components/team/join-team';
@import 'components/team/team-members';
@import 'components/team/team-sidebar';
@import 'components/sources';
@import 'components/team';
@import 'source';
@import 'tags';
@import 'annotations';
@import 'sidebar';
@import 'create-account';
@import 'create-media';
@import 'pender';
@import 'media';
@import 'tabs';

body {
  margin: auto;
  width: 100%;
}

.hidden {
  display: none;
}

.top-bar {
  background: $white !important;
  box-shadow: none !important;
  border-bottom: 1px solid hsl(204, 15%, 90%);
}

header {
  margin-top: 6px;
}

.current-user {
  .avatar {
    padding: 2px;
    vertical-align: bottom;
  }
}

address {
  text-align: center;
  color: rgba($darkgrey, 0.5);
  margin-top: 30px;
  font-style: normal;
  font-size: 12px;

  span {
    margin: 10px 0;
    display: inline-block;

    i {
      font-style: normal;
    }
  }

  a, a:visited {
    color: rgba($darkgrey, 0.8);

    &:hover {
      text-decoration: none;
    }
  }
}

.message {
  background: $cream;
  border: 1px solid $midgrey;
  color: $darkergrey;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}

.global-message {
  .message {
    margin-left: 80px;
  }
}

#tos {
  margin: 10px;

  p {
    line-height: 1.5em;
    text-align: justify;
  }

  h2 {
    font-size: 22px;
    text-align: left;
    margin: 10px 0;
  }
}

.main-title {
  text-align: center;
}
