[lang="ar"] {
  direction: rtl;

  // Refine typography
  // TODO — more typography refinements 2017-3-27 CGB
  // - larger text
  // - avoid partially opaque text

  * {
    letter-spacing: 0 !important;
  }

  body {
    font-size: 16px;
  }

  .home__disclaimer > span {
    font-size: 11px;
  }

  .footer {
    font-size: 14px;
  }

  // Rotate some directional icons
  .project-header__back-button svg,
  svg[class$="__team-caret"] {
    transform: rotate(180deg);
  }

  // Unset a style in the rc-tooltip component
  .rc-tooltip-inner {
    text-align: unset !important;
  }

  .create-task__action-container {
    text-align: left !important;
  }
}

// MD ListItem needs RTL support
// TODO integrate this into the component
.team,
.team__project {
  align-items: center;
  display: flex;
  justify-content: space-between;

  > div {
    width: 100% !important;
  }

  svg {
    left: 4px !important;
    right: auto !important;
    transform: rotate(180deg);
  }
}
$from-direction: right;
$to-direction: left;
@import "stylesheet";
