@charset "utf-8";

@import "font-awesome/font-awesome";
@import "variables";
@import "mixins";
@import 'theme/colors';
@import 'theme/typography';
@import 'theme/buttons';
@import 'theme/defaults';
@import 'theme/layout';
@import 'theme/forms';
@import 'theme/images';
@import 'theme/lists';
@import 'theme/animation';
@import 'components/annotation';
@import 'components/browser-support';
@import 'components/caret';
@import 'components/close-button';
@import 'components/home';
@import 'components/inputs/default-button';
@import 'components/layout/breadcrumb';
@import 'components/layout/content-column';
@import 'components/layout/header';
@import 'components/layout/heading';
@import 'components/layout/header-actions';
@import 'components/layout/footer';
@import 'components/login-menu';
@import 'components/login-email';
@import 'components/media/media';
@import 'components/message';
@import 'components/search/search';
@import 'components/sources';
@import 'components/team';
@import 'components/team/create-team';
@import 'components/team/join-team';
@import 'components/team/switch-teams';
@import 'components/team/team-header';
@import 'components/team/team-members';
@import 'components/team/team-sidebar';
@import 'components/team/teams';
@import 'components/project/project';
@import 'components/project/project-edit';
@import 'components/project/project-header';
@import 'components/project/project-list';
@import 'components/tasks';
@import 'source';
@import 'tags';
@import 'create-account';
@import 'tabs';

body {
  margin: auto;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.top-bar {
  background: $white !important;
  box-shadow: none !important;
  border-bottom: 1px solid hsl(204, 15%, 90%);
}

.current-user {
  .avatar {
    padding: 2px;
    vertical-align: bottom;
  }
}

address {
  text-align: center;
  color: rgba($darkgrey, .5);
  margin-top: 30px;
  font-style: normal;
  font-size: 12px;

  span {
    margin: 10px 0;
    display: inline-block;

    i {
      font-style: normal;
    }
  }

  a,
  a:visited {
    color: rgba($darkgrey, .8);

    &:hover {
      text-decoration: none;
    }
  }
}

#tos,
#privacy-policy {
  margin: 10px;

  p {
    line-height: 1.5em;
    text-align: justify;
  }

  h2 {
    font-size: 22px;
    text-align: left;
    margin: 10px 0;
  }
}

.main-title {
  text-align: center;
}
