[lang="ar"] {
  direction: rtl;

  // Rotate icons
  .project-header__back-button svg {
    transform: rotate(180deg);
  }

  // Unset a style in the rc-tooltip component
  .rc-tooltip-inner {
    text-align: unset !important;
  }

  .create-task__action-container {
    text-align: left! important;
  }
}

$from-direction: right;
$to-direction: left;

@import "stylesheet";
