@import 'layout.css';
@import 'typography.css';

/*
Remove Chrome's yellow autofill
https://blog.mariusschulz.com/2016/03/20/how-to-remove-webkits-banana-yellow-autofill-background
NOTE this means inputs all have to be on a white canvas unless you override this.
 */

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px var(--otherWhite);
}

[lang='ar'] {
  * {
    letter-spacing: 0 !important;
  }

  body {
    font-size: 16px;
  }

  .home__disclaimer > span {
    font-size: 11px;
  }

  footer {
    font-size: 14px;
  }

  .rc-tooltip-inner {
    text-align: unset !important;
  }

  /* Flip all icons except logos */
  svg:not(.logo) {
    transform: scale(-1, 1);
  }
}
