@import 'layout.css';
@import 'typography.css';

/*
Remove Chrome's yellow autofill
https://blog.mariusschulz.com/2016/03/20/how-to-remove-webkits-banana-yellow-autofill-background
NOTE this means inputs all have to be on a white canvas unless you override this.
 */

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px var(--color-white-100);
}

[lang='ar'] {
  * {
    letter-spacing: 0 !important;
  }

  body {
    font-size: var(--font-size-base);
  }

  .home__disclaimer > span {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    font-size: 11px;
  }

  footer {
    font-size: var(--font-size-body-1);
  }

  .rc-tooltip-inner {
    text-align: unset !important;
  }

  /* Flip all icons except logos */
  svg:not(.logo) {
    transform: scale(-1, 1);
  }
}

.check-icon {
  box-sizing: content-box;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  height: 1em;
  line-height: 1;
  overflow: visible;
  padding: 0;
  width: 1em;
}
