html {
  background-color: var(--grayBackground);
  border: solid 2px var(--errorMain);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  background-color: var(--grayBorderMain);
  border: none;
  flex-shrink: 0;
  height: 1px;
  margin: 0;
}
