*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background-color: var(--grayBackground);
}

body {
  margin: 0;
}

hr {
  background-color: var(--grayBorderMain);
  border: none;
  flex-shrink: 0;
  height: 1px;
  margin: 0;
}
