*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-beige-93);
  height: 100%;
}

body {
  margin: 0;
}

hr {
  background-color: var(--color-gray-88);
  border: none;
  flex-shrink: 0;
  height: 1px;
  margin: 0;
}
