:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: var(--font-family), sans-serif; }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-gray-15);
  font: 400 var(--font-size-body-1) var(--fontStackSans);
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
}

/* This is so we can remove the shared.js overrides with less code */
.MuiTypography-root {
  font-size: var(--font-size-body-1);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-15);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-blue-32);
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--color-blue-32);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-blue-32);
  }

  &:not([href]) {
    &,
    &:hover {
      text-decoration: none;
    }
  }

  &.link__internal {
    color: var(--color-gray-15);
    text-decoration: none;
  }
}

p {
  @mixin typography-body1;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
.typography-h1 {
  @mixin typography-h1;
}

h2,
.typography-h2 {
  @mixin typography-h2;
}

h3,
.typography-h3 {
  @mixin typography-h3;
}

h4,
.typography-h4 {
  @mixin typography-h4;
}

h5,
.typography-h5 {
  @mixin typography-h5;
}

h6,
.typography-h6 {
  @mixin typography-h6;
}

.typography-subtitle1 {
  @mixin typography-subtitle1;
}

.typography-subtitle2 {
  @mixin typography-subtitle2;
}

.typography-body1 {
  @mixin typography-body1;
}

.typography-body1-bold {
  @mixin typography-body1-bold;
}

.typography-body1-italic {
  @mixin typography-body1-bold;
}

.typography-body2 {
  @mixin typography-body2;
}

.typography-body2-bold {
  @mixin typography-body2-bold;
}

.typography-body2-italic {
  @mixin typography-body2-italic;
}

.typography-button {
  @mixin typography-button;
}

.typography-caption {
  @mixin typography-caption;
}

.typography-overline {
  @mixin typography-overline;
}

.bulleted-list {
  list-style: disc;
  margin: 0 0 0 .75em;
  padding: .5em 0 .5em .75em;

  li {
    margin: 0 0 .5em;
  }

  &.item-limited-list {
    padding: .5em 0;

    li {
      -webkit-box-orient: vertical;
      color: var(--color-gray-15);
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      padding: 0 0 0 1em;
      position: relative;
      white-space: pre-line;
      word-break: break-all;

      &::before {
        content: '\2022';
        left: 0;
        position: absolute;
      }
    }
  }
}
