// TODO: consider !important vs. react inline styles

.create-task__add-button {
  &--default {
    display: inline-block !important;
    margin-#{$from-direction}: 0 !important;
    margin-#{$to-direction}: auto !important;
    margin-bottom: units(2) !important;
    margin-top: 0 !important;

    &:hover {
      background-color: $black-05 !important;
    }
  }
}

// Dialog
//
.create-task__task-label-input {
  width: 100% !important;
}

.create-task__task-description-input {
  display: none !important;
  width: 100% !important;
}

.create-task__add-task-description-label {
  bottom: units(2);
  font: font(caption);
  padding-#{$from-direction}: units(1);
  position: absolute;
  #{$from-direction}: units(2);
}

.create-task__add-task-description-icon {
  font-size: 24px;
  margin-#{$to-direction}: units(2);
  position: relative;
  top: 4px;
}

.create-task__add-task-description { // hidden checkbox
  display: none;

  &:checked {
    & ~ .create-task__task-description-input {
      display: block !important;
    }

    & ~ .create-task__add-task-description-label {
      display: none !important;
    }
  }
}

svg.create-task__md-icon {
  @extend %icon;
}

.create-task__remove-option-button {
  margin-#{$from-direction}: units(2);
}

.create-task__add-options {
  margin-top: units(2);
}

.create-task__add-option-input {
  padding: units(half) units(1);
  width: 75% !important;
}

.create-task__add-options-buttons {
  margin-top: units(1);
}

.create-task__dialog-submit-button {
  background: $check-blue;
  color: $white;
}
