// TODO: consider !important vs. react inline styles

.create-task__add-button {
  &--default {
    display: inline-block !important;
    margin-top: 0 !important;
    margin-#{$to-direction}: auto !important;
    margin-#{$from-direction}: 0 !important;
    margin-bottom: 18px !important;

    &:hover {
      background-color: $black-05 !important;
    }
  }
}

// Dialog
//
.create-task__task-label-input {
  width: 100% !important;
}

.create-task__task-description-input {
  width: 100% !important;
  display: none !important;
}

.create-task__add-task-description-label {
  padding-#{$from-direction}: 8px;
  position: absolute;
  bottom: 16px;
  #{$from-direction}: 16px;
  font-size: 12px;
}

.create-task__add-task-description-icon {
  font-size: 24px;
  margin-#{$to-direction}: 16px;
  position: relative;
  top: 4px;
}

.create-task__add-task-description { // hidden checkbox
  display: none;

  &:checked {
    & ~ .create-task__task-description-input {
      display: block !important;
    }

    & ~ .create-task__add-task-description-label {
      display: none !important;
    }
  }
}

.create-task__remove-option-button {
  margin-#{$from-direction}: 13px;
}

.create-task__dialog-submit-button {
  background: $check-blue;
  color: $white;
}
