.task {
  margin-bottom: 15px;
  position: relative;

  .task__card-text {
    padding-bottom: 0 !important; // material-ui/Card>div override
    padding-top: 0 !important;
  }

  .task__actions {
    position: absolute;
    #{$to-direction}: 14px;
    top: 14px;
  }

  .task__question {
    margin-#{$to-direction}: 32px;
  }

  .task__label-container {
    width: 416px;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .task__label {
    font-size: 14px;
    color: $black-54;

    &--truncated {
      label {
        text-decoration: underline;
        padding: 0 4px;
      }
    }

    &--full {
      word-wrap: break-word;
      word-break: break-all;
      display: none;
    }
  }

  .task__label-truncated-toggle {
    display: none;

    &:checked {
      & ~ .task__label-container {
        width: auto;

        .task__label--full {
          display: inline;
        }

        .task__label--truncated {
          display: none;
        }
      }
    }
  }

  .task__response {
    font-size: 16px;
  }

  .task__response-inputs {
    display: none;
  }

  .task__response-toggle {
    display: none;

    &:checked {
      & ~ .task__response-inputs {
        display: block;
      }
    }
  }

  .task__resolver {
    color: $black-38;
    text-align: $to-direction;
  }

  .task__resolved {
    p {
      margin: 8px 0;
      word-wrap: break-word;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .task__options {
    margin-top: 13px;
    font-size: 16px;
  }

  .task__options-answered {
    margin-top: 13px;
    color: rgba(0, 0, 0, .38);
  }

  .task__option_other_radio {
    float: $from-direction;
    max-width: 24px;
    max-height: 24px;
    margin-#{$from-direction}:: 5px;
    margin-top: 10px;
    margin-#{$to-direction}: 12px;
  }

  .task__option_other_checkbox {
    float: $from-direction;
    max-width: 24px;
    max-height: 24px;
    margin-#{$from-direction}:: 5px;
    margin-top: 10px;
  }

  .task__option_other_text_input {
    float: $from-direction;
    width: 75% !important;
  }

  .task__options_other:after {
    content: "";
    display: table;
    clear: both;
  }

  #task__remove-button,
  #task__edit-button {
    float: $to-direction;
    color: #ccc;
    margin: 0;
    margin-top: 5px;
    margin-#{$to-direction}: 5px;
    cursor: pointer;
  }

  #task__remove-button {
    margin-#{$to-direction}: 8px;
  }

  #task__cancel-button,
  #task__edit-response-button {
    color: #ccc;
    margin-#{$from-direction}: 5px;
    cursor: pointer;
  }

  .media-actions__icon {
    margin: 0;
    margin-#{$to-direction}: 4px;
    width: 24px;
    height: 24px;
    padding: 0;
    color: $black-38;
  }

  .task__description-icon {
    float: $to-direction;
    margin-top: 16px;
    margin-#{$to-direction}: 4px;
    margin-#{$from-direction}: 16px;
    margin-bottom: 8px;
    width: 24px;
    height: 22px;
    padding: 0 2px 2px;
    color: $black-38;
  }
}

.task__description-tooltip { // via rc-tooltip, outside Task.js markup tree
  max-width: 600px;

  @media (max-width: $layout-mobile-breakpoint) {
    max-width: 80vw;
  }

  span {
    word-wrap: break-word;
  }
}
