// TODO: consider !important vs. react inline styles

.tasks__add-button {
  display: inline-block !important;
  margin: 0 auto 18px 0 !important;
  &:hover {
    background-color: rgba($black-87, 0.12) !important;
  }
}

// Dialog
//
.tasks__task-label-input {
  width: 100% !important;
}

.tasks__task-description-input {
  width: 100% !important;
  display: none !important;
}

.tasks__add-task-description-label {
  padding-left: 8px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
  & > span {
    font-size: 24px;
    margin-right: 16px;
    position: relative;
    top: 4px;
  }
}

.tasks__add-task-description { // hidden checkbox
  display: none;
  &:checked {
    & ~ .tasks__task-description-input {
      display: block !important;
    }
    & ~ .tasks__add-task-description-label {
      display: none !important;
    }
  }
}

.tasks__dialog-submit-button {
  background: $check-blue;
  color: white;
}