.login-container {
  max-width: units(80);
  margin: 0 auto;
  padding-bottom: units(12);
}

p {
  @include when-smaller-than(mobile-breakpoint) {
    padding: 0 units(2);
  }
  text-align: center;
}
