.login-container {
  margin: 0 auto;
  max-width: units(80);
  padding-bottom: units(12);

  p {
    @include when-smaller-than(mobile-breakpoint) {
      padding: units(1) units(2);
    }
    text-align: center;
  }
}

