
// Registration: Upload an image
//
.login .upload-file > div {
  width: 100%;
  height: auto;
  padding: units(3) units(1);
  border: $border-width-small dashed $black-38;
  color: $black-38;
  text-align: center;
  float: $to-direction;

  &.with-file {
    width: 80%;
  }
}

.upload-file {
  width: 100%;
  margin: units(1) 0;

  br {
    clear: both;
  }

  .preview {
    position: relative;
    display: inline-block;
    float: #{$from-direction};
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: units(9);
    padding: 0;
    margin: 0;
    border: $border-width-small solid $black-38;
    width: 19%;
    margin-#{$to-direction}: 1%;

    .remove-image {
      position: absolute;
      top: 0;
      #{$to-direction}: 1px;
      z-index: 1;
      color: $black-38;
      cursor: pointer;
    }
  }
}
