.login-container {
  max-width: units(80);
  margin: 0 auto;
  padding-bottom: units(12);
}

p {
  text-align: center;

  @media all and (max-width: $layout-mobile-breakpoint) {
    padding: 0 units(2);
  }
}
