.search-field-label {
  border-left: 2px solid var(--otherWhite);
  border-radius: 0;
  border-right: 2px solid var(--otherWhite);
  height: 36px;
  margin: 0;
  min-width: 0;

  &:hover {
    background: 'transparent';
  }
}
