.datepicker-container {
  .input {
    background-color: var(--otherWhite);
    border: 2px solid var(--grayBorderMain);
    border-radius: 8px;
    color: var(--textPrimary);
    font: 400 14px var(--fontStackSans);
    letter-spacing: .15px;
    line-height: 20px;
    padding: 10px;

    &.outlined {
      background-color: transparent;
    }

    &:disabled,
    &.disabled {
      background-color: var(--grayDisabledBackground);
      color: var(--textDisabledInput);
    }

    &:hover {
      border-color: var(--grayBorderAccent);
    }

    &::placeholder {
      font: 400 14px var(--fontStackSans);
      letter-spacing: .15px;
      line-height: 20px;
    }

    &:focus {
      border-color: var(--brandMain);
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }

    &.error {
      border-color: var(--errorMain) !important;

      &:hover {
        border-color: var(--errorSecondary) !important;
      }

      &:focus {
        border-color: var(--errorMain) !important;
      }
    }
  }
}
