.listSort {
  align-items: center;
  display: flex;
  gap: 4px;
}

.listSortDirectionButton {
  align-items: center;
  background: var(--grayBackground);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 8px;
  width: 32px;

  svg {
    color: var(--textPlaceholder);
    font-size: var(--iconSizeSmall);
  }
}

.listSortDesc svg + svg {
  color: var(--brandMain);
}

.listSortAsc svg:first-child {
  color: var(--brandMain);
}
