.select-wrapper {
  align-items: center;
  display: flex;
  gap: 8px;

  .select-container {
    width: 100%;

    .input {
      appearance: none;
      background-color: var(--otherWhite);
      border: 2px solid var(--grayBorderMain);
      border-radius: 8px;
      color: var(--textPrimary);
      font: 400 14px var(--fontStackSans);
      height: 100%;
      letter-spacing: .15px;
      line-height: 20px;
      min-height: 48px;
      padding: 12px 34px 12px 10px;
      text-overflow: ellipsis;
      width: 100%;

      &:hover {
        border-color: var(--grayBorderAccent);
      }

      &::placeholder {
        font: 400 14px var(--fontStackSans);
        letter-spacing: .15px;
        line-height: 20px;
      }

      &:focus,
      &:active {
        border-color: var(--brandMain);
        outline: none;

        &::placeholder {
          color: transparent;
        }
      }

      &.input-icon-left {
        padding-left: 38px;
      }

      &.outlined {
        background-color: transparent;
      }

      &.error {
        border-color: var(--errorMain) !important;

        &:hover {
          border-color: var(--errorSecondary) !important;
        }

        &:focus {
          border-color: var(--errorMain) !important;
        }
      }

      &:disabled,
      &.disabled {
        background-color: var(--grayDisabledBackground);
        color: var(--textDisabledInput);
        cursor: not-allowed;
        opacity: 1;

        &.outlined {
          background-color: transparent;
        }

        &:hover {
          border-color: var(--grayBorderMain);
        }
      }
    }
  }
}

.select-removeable {
  padding: 0 46px 0 0;
}
