/* stylelint-disable no-descending-specificity */
.switchWrapper {
  :global(.MuiFormControlLabel-root) {
    margin: 0;
  }

  .switch {
    .switchRoot {
      height: 32px;
      margin: 0 0 6px;
      padding: 0;
      width: 60px;

      &:hover {
        .thumb {
          color: var(--color-blue-98);
        }

        :global(.Mui-disabled) {
          .thumb {
            color: var(--color-gray-75);
          }
        }
      }

      .switchBase {
        padding: 0;
      }

      .track {
        background-color: var(--color-gray-88);
        border: 1px solid var(--color-gray-88);
        border-radius: 8px;
        opacity: 1;
      }

      .thumb {
        align-items: center;
        border-radius: 6px;
        color: var(--color-white-100);
        height: 26px;
        margin: 3px;
        padding: 0;
        transition: color 150ms cubic-bezier(.4, 0, .2, 1) 0ms;
        width: 26px;
      }

      :global(.Mui-checked) {
        transform: translateX(28px);

        + .track {
          background-color: var(--color-blue-54);
          border: none;
          opacity: 1;
        }
      }

      :global(.Mui-disabled) {
        .thumb {
          color: var(--color-gray-75);
          cursor: not-allowed;
          opacity: .6;
        }

        + .track {
          background-color: var(--color-gray-88);
          cursor: not-allowed;
          opacity: .6;
        }

        &.checked {
          .thumb {
            color: var(--color-white-100);
            opacity: .9;
          }

          + .track {
            background-color: var(--color-blue-54);
            opacity: .4;
          }
        }
      }
    }

    :global(+ .MuiFormControlLabel-label) {
      @mixin typography-body2;
      color: var(--color-gray-37);
      margin: 0 0 8px 10px;
    }
  }

  &.switch-disabled {
    :global(.MuiFormControlLabel-root) {
      cursor: default;
    }

    .switch {
      :global(+ .MuiFormControlLabel-label) {
        color: var(--color-gray-75);
      }
    }
  }

  :global(.MuiFormControlLabel-labelPlacementTop) {
    align-items: flex-start;

    .switch {
      :global(+ .MuiFormControlLabel-label) {
        margin: 0 0 0 10px;
      }

      .switchRoot {
        margin: 12px 0 8px;
      }
    }
  }

  :global(.MuiFormControlLabel-labelPlacementStart) {
    .switch {
      :global(+ .MuiFormControlLabel-label) {
        margin: 0 10px 8px 0;
      }

      .switchRoot {
        margin: 0 0 8px;
      }
    }

    + .switch-help-container {
      padding: 0 4px 0 0;
    }
  }

  :global(.MuiFormControlLabel-labelPlacementBottom) {
    align-items: flex-start;

    .switch {
      :global(+ .MuiFormControlLabel-label) {
        margin: 0 0 0 10px;
      }

      .switchRoot {
        margin: 0 0 8px;
      }
    }
  }
}

body[dir='rtl'] {
  .switchWrapper {
    .switch {
      :global(.Mui-checked) {
        transform: translateX(-28px);
      }

      :global(+ .MuiFormControlLabel-label) {
        margin: 0 10px 0 0;
      }
    }
  }
}
/* stylelint-enable */
