.textfield-container {
  .input {
    background-color: var(--otherWhite);
    border: 2px solid var(--grayBorderMain);
    border-radius: 8px;
    color: var(--textPrimary);
    font: 400 14px var(--fontStackSans);
    height: 100%;
    letter-spacing: .15px;
    line-height: 20px;
    min-height: 48px;
    padding: 12px 10px;
    width: 100%;

    &.input-icon-left {
      padding-left: 38px;
    }

    &.input-icon-right {
      padding-right: 34px;
    }

    &:hover {
      border-color: var(--grayBorderAccent);
    }

    &::placeholder {
      font: 400 14px var(--fontStackSans);
      letter-spacing: .15px;
      line-height: 20px;
    }

    &:focus {
      border-color: var(--brandMain);
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }

    &.disabled {
      background-color: var(--grayDisabledBackground);
      color: var(--textDisabledInput);
      cursor: not-allowed;

      &:hover {
        border-color: var(--grayBorderMain);
      }
    }

    &.outlined {
      background-color: transparent;
    }

    &.error {
      border-color: var(--errorMain) !important;

      &:hover {
        border-color: var(--errorSecondary) !important;
      }

      &:focus {
        border-color: var(--errorMain) !important;
      }
    }
  }

  &.textarea-container {
    textarea {
      max-width: 100%;
      min-height: 3.5em;

      &.textarea-autoGrow {
        overflow-y: hidden;
        resize: none;
      }
    }
  }
}
