.toggle-button-group {
  background-color: transparent !important;
  border: 2px solid var(--grayBorderMain);
  border-radius: 8px !important;
  width: min-content;

  :global(.MuiButtonBase-root) {
    border: none;
    color: currentcolor;
    text-transform: none;

    &:hover {
      background: inherit;
    }
  }

  :global(.MuiButtonBase-root.Mui-selected) {
    background-color: var(--brandMain);
    color: var(--otherWhite);

    &:hover {
      background-color: var(--brandMain);
    }
  }

  button:not(:first-child) {
    border-left: 2px solid var(--grayBorderMain);
  }
}

.contained {
  background-color: var(--otherWhite) !important;

  &:hover {
    background-color: var(--otherWhite) !important;
  }
}

.label {
  color: var(--textSecondary);
  margin-left: 10px;
}

.help-container {
  color: var(--textSecondary);
  margin-left: 10px;
  margin-top: 4px;
}
