.search {
  .search__input {
    background: units(2) 50% url('/images/search.svg') $white no-repeat;
    background-size: units(2);
    border: $border-width-small solid $black-16;
    border-radius: units(half);
    height: units(6);
    width: 100%;
    padding-#{$from-direction}: units(6);
    margin-top: units(1);
    outline: none;
    transition: box-shadow $transition-speed-fast;

    &:focus {
      @include box-shadow(2);
      transition: box-shadow $transition-speed-slow;
    }
  }

  .search__filters {
    @include when-larger-than(mobile-breakpoint) {
      padding: units(1);
    }
    padding: units(2) 0;
    max-width: 1200px;
    margin: 0 auto;

    div {
      display: flex;
      margin-top: units(1);
      max-height: units(20);
      overflow-y: auto;

      h4 {
        flex: 1;
        color: $black-87;
        margin: 0;
        display: flex;
        align-items: center;
        margin-#{$to-direction}: units(2);
        min-width: units(6);
      }

      ul {
        flex: 10;

        li {
          @extend %ellipsis;
          max-width: units(25);
          margin-bottom: 0;
        }
      }

      @include when-smaller-than(mobile-breakpoint) {
        padding: 0;
        flex-flow: nowrap column;

        h4 {
          text-align: $from-direction;
          padding-#{$from-direction}: units(1);
          padding-top: units(2);
        }
      }
    }
  }

  .search__filters-loader {
    text-align: center;
    margin: 2em 0;
  }

  .search__results {
    padding: 0 units(2) units(2);

    & > h4 {
      text-align: center;
      color: $black-38;
      font-weight: 200;
    }

    ul.results {
      max-width: layout(column-width-narrow);
      margin: 0 auto;

      & > li {
        margin-top: units(1);
      }
    }
  }

  .search__results-heading {
    color: $black-87;
    margin-top: 20px;
    text-align: center;
  }

  .image-media-card img {
    width: auto;
  }
}
