.search {
  // TODO: conform prototype styles to app conventions

  .search__input {
    background: 15px 13px url(/images/search.png) #fff no-repeat;
    background-size: 18px;
    border: $layout-border;
    border-radius: 4px;
    flex: 20;
    height: 44px;
    width: 100%;
    min-width: 500px;
    padding-left: 45px;
    margin-top: 4px;
    @media all and (max-width: $layout-mobile-breakpoint) {
      min-width: 300px;
    }
  }

  .search__filters {
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    div {
      display: flex;
      margin-top: 1em;
      max-height: 160px;
      overflow-y: auto;
      h4 {
        flex: 1;
        color: $firefly-80;
        margin: 0;
        vertical-align: top;
        display: inline-block;
        margin-right: 16px;
        min-width: 80px;
        text-align: right;
      }
      ul {
        flex: 10;
      }
    }
  }

  .search__filters-heading {
    color: $firefly-80;
    margin-top: 20px;
    text-align: center;
  }

  .search__filters-loader {
    text-align: center;
    @include gray-text;
    margin: 2em 0;
  }

  .search__results {
    padding: 0 16px 16px;

    & > h4 {
      text-align: center;
      color: $firefly-30;
      font-weight: 200;
    }
    ul.results {
      max-width: $layout-column-width-narrow;
      margin: 0 auto;
      & > li {
        margin-top: 8px;
      }
    }
  }

  .search__results-heading {
    color: $firefly-80;
    margin-top: 20px;
    text-align: center;
  }

  .image-media-card img {
    width: auto;
  }
}
