.MediaSuggestionReview {
  background-color: var(--color-orange-95);
  border-color: var(--color-orange-95);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 16px;
  padding: 16px;

  .MediaSuggestionReviewTitle {
    @mixin typography-subtitle2;

    + p {
      @mixin typography-body2;
    }
  }

  .MediaSuggestionReviewActions {
    align-items: center;
    display: flex;

    .MediaSuggestionReviewActionsConfirm {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
    }
  }
}
