$browser-support-height: 46px;

.browser-support {
  position: absolute;
  top: 0;
  height: $browser-support-height;
  width: 100%;
  z-index: 6;
  background-color: $white;
  padding: 15px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (max-width: $layout-mobile-breakpoint) {
    font-size: 12px;
  }
}

.browser-support ~ .home {
  top: $browser-support-height;
}

.browser-support__message {
  flex: 1;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.4;
}

.browser-support__close {
  position: absolute;
  #{$to-direction}: 17px;
  top: 5px;
  font-weight: 200;
  font-size: 28px;
  opacity: .2;
  cursor: pointer;
}

.browser-support a {
  color: $black-87;
}
