.browser-support {
  width: 100%;
  z-index: 6;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

.browser-support__message {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.4;
}

.browser-support__close {
  position: absolute;
  #{$to-direction}: 17px;
  top: 5px;
  font-weight: 200;
  font-size: 28px;
  opacity: .2;
  cursor: pointer;
}

.browser-support a {
  color: $black-87;
}
