.footer {
  color: $opaque-black-38;
  font: font(caption);
  margin: units(4) 0;
  text-align: center;

  span {
    display: inline-block;
    margin: units(1) 0;

    i {
      font-style: normal;
    }
  }

  a,
  a:hover {
    color: $opaque-black-38;
  }
}
