.header { // see also .project__description
  background: $black-05;
  height: layout(header-height);
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  height: 100%;
  position: relative;
}

.header__app-link {
  align-items: center;
  display: flex;

  img {
    width: units(8);
  }
}

.header__team {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: units(6);
  overflow: hidden;
}

.header__breadcrumb {
  svg path {
    color: $black-54;
  }
}

// media page
.header--media {
  .team-header__copy {
    display: none;
  }
}
