.header-actions {
  display: flex;
  align-items: center;
  text-align: $to-direction;
  margin-#{$from-direction}: auto;
}

.header-actions__search-icon {
  @extend %icon;
}

.header-actions__menu-toggle {
  @extend %icon;
  margin-#{$to-direction}: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.header-actions__menu-overlay {
  @include modal-overlay(transparent);
}

.header-actions__menu {
  @include menu;
  #{$to-direction}: units(2);
  top: units(5) + units(half);
}

.header-actions__menu-item {
  &:nth-of-type(5) {
    border-top: $border-width-small solid $black-10;
  }
}
