$home-content-padding: units(3);

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home__content {
  margin-top: $layout__header-height;
  padding-top: units(2);
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $opaque-black-02;
}

.home__disclaimer { // container
  position: absolute;
  top: 0;
  #{$from-direction}: 0;
  #{$to-direction}: 0;

  & > span { // badge
    border-radius: 0;
    border-bottom-#{$to-direction}-radius: 3px;
    border-bottom-#{$from-direction}-radius: 3px;
    background-color: $black-38;
    color: $white;
    padding: 2px units(half) 1px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .02em;
    position: absolute;
    font: font(tiny);
    #{$to-direction}: units(13);

    @media all and (max-width: $layout-mobile-breakpoint) {
      #{$to-direction}: 10%;
    }
  }
}
