$home-content-padding: units(3);

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.home__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: layout(header-height);
  padding-top: layout(gutter-medium);
  width: 100%;
}

// The "beta" label
//
.home__disclaimer { // container
  position: absolute;
  top: 0;

  & > span { // badge
    @include when-smaller-than(mobile-breakpoint) {
      #{$to-direction}: 2%;
    }
    background-color: $black-38;
    border-radius: 0;
    color: $white;
    font: font(tiny);
    letter-spacing: $letter-spacing-medium;
    padding: 2px units(.5) 1px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    #{$to-direction}: units(23);
    border-bottom-#{$from-direction}-radius: $border-radius-default;
    border-bottom-#{$to-direction}-radius: $border-radius-default;
  }
  #{$from-direction}: 0;
  #{$to-direction}: 0;
}
