$home-bg: $lighter-gray-bg;
$home-content-padding: 23px;

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: $home-bg;
}

.home__content {
  padding-top: $layout-header-height;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__global-message {}

.home__main {
  flex: 1;
}
