$home-bg: $lighter-gray-bg;
$home-content-padding: 23px;

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: $home-bg;
  position: relative;
}

.home__main {
  padding-top: $layout-header-height;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__global-message {}

.home__content {
  flex: 1;
  width: 100%;
  max-width: $layout-column-width-wide;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

.home__disclaimer {
  position: fixed;
  top: 0;
  right: 14px;
  font-size: 10px;
  border-radius: 0 0 3px 3px;
  background-color: $red-900;
  color: $red-100 !important;
  padding: 2px 5px 1px;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
