$home-content-padding: 23px;

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: $opaque-black-02;
  position: relative;
}

.home__content {
  margin-top: $layout-header-height;
  padding-top: $layout-padding;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__disclaimer { // container
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  & > span { // badge
    font-size: 8px;
    border-radius: 0 0 3px 3px;
    background-color: $black-38;
    color: $white;
    padding: 2px 5px 1px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .02em;
    position: absolute;
    right: 109px;
  }
}
