.login-menu {
  text-align: center;
  position: relative;
  padding: 45px 0 0;
}

.login-menu__icon {
  margin-top: 50px;
  height: 36px;
}

.login-menu__heading {
  @include onboarding-heading;
}

.login-menu__content {
  position: relative;
  max-width: 500px;
  margin: 4em auto;
}

.login-menu__blurb {
  @include onboarding-blurb;
  margin-bottom: 15px;
}

.login-menu__options {
  list-style-type: none;
  padding: 0;
  max-width: 245px;
  margin: 0 auto 60px;
}

.login-menu__button {
  @include button-medium;
  width: 100%;
  transition: background-color 400ms ease;

  &:hover {
    transition: background-color 80ms ease;
  }
}

.login-menu__button--twitter {
  background-color: $twitter-blue;

  &:hover {
    background-color: darken(saturate($twitter-blue, 10%), 10%);
  }
}

.login-menu__button--facebook {
  background-color: $facebook-blue;

  &:hover {
    background-color: darken(saturate($facebook-blue, 10%), 10%);
  }
}

.login-menu__button--google {
  background-color: $google-orange;

  &:hover {
    background-color: darken(saturate($google-orange, 10%), 10%);
  }
}

.login-menu__button--slack {
  background-color: $slack-green;

  &:hover {
    background-color: darken(saturate($slack-green, 10%), 10%);
  }
}

.login-menu__footer-link {
  color: $check-blue;
}

.login-email__link {
  @extend .login-menu__button;
  @include button-medium;
  color: $white !important;
  background-color: $black-54;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $black-87;
  }
}

p.other-method {
  border-top: 1px solid $black-16;
  padding: 32px 16px 16px;
}
