.login-menu {
  text-align: center;
  position: relative;
  padding: 45px 0 0 0;
  p {
    color: $firefly-60;
  }

  a {
    color: $firefly-60;
  }
}

.login-menu__icon {
  margin-top: 50px;
  height: 36px;
}

.login-menu__heading {
  @include onboarding-heading;
}

.login-menu__content {
  position: relative;
  max-width: 500px;
  margin: 4em auto;
}

.login-menu__blurb {
  @include onboarding-blurb;
  margin-bottom: 15px;
}

.login-menu__options {
  list-style-type: none;
  padding: 0;
  max-width: 245px;
  margin: 0 auto 60px auto;
}

.login-menu__button {
  @include button-medium;
  width: 100%;
}

.login-menu__button {
  transition: background-color 400ms ease;
  &:hover { transition: background-color 80ms ease; }
}

.login-menu__button--twitter {
  background-color: #0095FF;
  &:hover { background-color: darken(saturate(#0095FF, 10%), 10%); }
}

.login-menu__button--facebook {
  background-color: #3B5999;
  &:hover { background-color: darken(saturate(#3B5999, 10%), 10%); }
}

.login-menu__button--google {
  background-color: #DB4437;
  &:hover { background-color: darken(saturate(#DB4437, 10%), 10%); }
}

.login-menu__button--slack {
  background-color: #2AB27B;
  &:hover { background-color: darken(saturate(#2AB27B, 10%), 10%); }
}

.login-menu__footer {
  color: $light-gray-text;
}

.login-menu__footer-link {
  color: $light-blue-text;
}

.login-email__link {
  @include button-medium;
  @extend .login-menu__button;
  color: white!important;
  background-color: $firefly-40;
  text-align: center;
  text-decoration: none;
  &:hover { background-color: $firefly-80; }
}

p.other-method {
  border-top: 1px solid $firefly-20;
  padding: 32px 16px 16px;
}

.browser-support a {
  color: #0a0d0f;
}
