$media-card-padding: 8px 14px 14px 14px;
$media-max-width: $layout-default-max-width;

@mixin media-card {
  border: $layout-border;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: $layout-box-shadow;
  margin: 10px auto;
}

@mixin media-metadata {
  @include gray-text;
  margin-bottom: 2px;

  a {
    color: inherit;
  }
  // TODO: merge with
  // %metadata {
  //   color: $firefly-60-5;
  //   font-weight: 200;
  //   padding: 5px 10px;
  //   font-size: 14px;
  // }
}

@mixin media-title($size: 19px) {
  font-size: $size;
  font-family: $font-stack-sans-condensed;
  color: theme-gray(23%);
  margin: 0;
}

@import 'media/create-media';
@import 'media/media';
@import 'media/media-card';
@import 'media/media-detail';
@import 'media/media-header';
@import 'media/media-metadata-summary';
@import 'media/media-status';
@import 'media/media-tags';
@import 'media/medias';
@import 'media/medias-and-annotations';
@import 'media/pender-card';
@import 'media/quote-media-card';
