.menu-button {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  position: relative;

  .menu-button__search-icon {
    @extend %icon;
    color: $black-54;
  }

  .menu-button__menu-toggle {
    @extend %icon;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: $black-54;
  }

  .menu-button__overlay {
    @include modal-overlay(transparent);
  }

  .menu-button__menu {
    @include app-menu;
    right: -13px;
    top: 100%;
    z-index: 6; // TODO: better z-index strategy
  }

  .menu-button__link {
    &:nth-last-child(-n + 2) {
      color: $black-38;
    }
  }
}
