// The menu on the annotations
// TODO: Consider standardizing all menu buttons to use the same component.
//
.menu-button {
  align-items: center;
  display: flex;
  font-size: units(3);
  height: 100%;
  position: relative;

  .menu-button__icon {
    @extend %icon;
    color: $black-54;
    cursor: pointer;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .menu-button__overlay {
    @include modal-overlay(transparent);
  }

  .menu-button__menu {
    @include menu;
    #{$to-direction}: -1 * units(1);
    top: 100%;
    z-index: 6; // TODO: better z-index strategy
  }
}
