.message {
  @include fade-in(1s);
  background: $black-54;
  color: $white;
  padding: units(1);
  text-align: center;
  position: relative;
  margin-bottom: units(2);
  border-radius: $border-radius-default;

  a {
    color: $white !important;
    text-decoration: underline;
  }

  #close-message {
    position: absolute;
    #{$to-direction}: units(1);
    cursor: pointer;
  }
}
