.message {
  background: $check-blue;
  color: $white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-bottom: 16px;

  #close-message {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
