.message {
  background: $black-02;
  color: $black-38;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  position: relative;

  #close-message {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
