.sources {
  padding: 14px;
}

.sources__heading {
  @include app-heading;
  text-align: center;
}

.sources__list {
  padding: 0;
}

.sources__source {
  padding: 5px;
  margin-bottom: 10px; 
  &:hover { background-color: $light-gray-bg; }
  border-radius: 2px;
}

.sources__source-link {
  display: flex;
  align-items: center;
  &, &:hover, &:visited { 
    color: $dark-gray-text; 
    text-decoration: none;
  }
}

.sources__source-avatar {
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.sources__source-name {
  margin: 0 9px;
}

.sources__source-description {
  display: none;
}
