.user-password-reset__component {
  color: $black-87;
}

.user-password-reset__card {
  width: 480px;
  margin: auto;
}

.user-password-reset__email-input {
  margin-top: 16px;
}

.user-password-reset__actions {
  text-align: $to-direction;
}
