.user-password-change__card {
  max-width: 575px;
  margin: 70px auto auto;
  text-align: center;
}

.user-password-change__confirm-card {
  max-width: 480px;
  margin: 90px auto auto;
}

.user-password-change__password-input-field {
  margin-top: 8px;
}

.user-password-change__logo {
  display: block;
  margin: 53px auto 0;
}

.user-password-change__error {
  color: red;
  font-size: 14px;
  display: block;
  margin: 8px auto;
}

.user-password-change__title {
  font-size: 20px;
  font-weight: 500;
  color: $black-54;
  display: block;
  margin: 8px auto;
}

.user-password-change__submit-button {
  margin-top: 20px;
  margin-bottom: 46px;
}

.user-password-change__actions {
  text-align: $to-direction;
}
