.user-password-change__card {
  margin: units(9) auto auto;
  max-width: layout(card-width);
  text-align: center;
}

.user-password-change__confirm-card {
  margin: units(10) auto auto;
  max-width: layout(card-width);
}

.user-password-change__password-input-field {
  margin-top: units(1);
}

.user-password-change__logo {
  display: block;
  margin: units(7) auto 0;
}

.user-password-change__error {
  color: $alert-red;
  display: block;
  margin: units(1) auto;
}

.user-password-change__title {
  color: $black-54;
  display: block;
  font: font(title);
  margin: units(1) auto;
}

.user-password-change__submit-button {
  margin-bottom: units(6);
  margin-top: units(3);
}

.user-password-change__actions {
  text-align: $to-direction;
}
