.status-label {
  align-items: center;
  display: flex;
  gap: 2px;

  :global(.check-icon) {
    font-size: 28px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
  }

  small {
    @mixin typography-subtitle1;
    color: var(--textSecondary);
    margin: 3px 0 0 3px;
  }
}

.settings-status-listitem {
  align-items: flex-start;
  border-bottom: solid 2px var(--grayBorderMain);
  display: flex;
  gap: 16px;
  margin: 0 0 16px;
  padding: 0 0 16px;

  &:last-of-type {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }

  > div {
    flex: 1 1 auto;

    p {
      color: var(--textSecondary);
      margin: 3px 0 0 32px;
    }

    .status-message {
      margin: 6px 0 0 28px;
      width: calc(100% - 28px);
    }

    &.settings-status-menu {
      flex: 0 0 auto;
    }
  }
}

.settings-translated-statuses {
  .settings-translated-rows {
    border-bottom: solid 2px var(--grayBorderMain);
    display: flex;
    gap: 16px;
    padding: 16px 0;

    &:last-of-type {
      border-bottom: 0;
    }

    > div {
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;
      gap: 16px;
    }
  }

  .settings-translated-row-header {
    > div {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 8px;
    }
  }
}
