// Colors
//
// This file contains colors which are used in more than one place. If colors are specific to a component, they live in that component's stylesheet.
/* stylelint-disable */

// Basic colors
//
$white: #fff;
$black: #000;
$alert-red: #d0021b;
$check-blue: #2e77fc;

// Modals
//
$midnight-blue-90: rgba(0, 15, 41, .9);

// Material blacks
//
$black-87: rgba(0, 0, 0, .87);
$black-54: rgba(0, 0, 0, .54);
$black-38: rgba(0, 0, 0, .38);
$black-32: rgba(0, 0, 0, .32);
$black-16: rgba(0, 0, 0, .16);
$black-10: rgba(0, 0, 0, .1);
$black-05: rgba(0, 0, 0, .05);
$black-02: rgba(0, 0, 0, .02);

// Material blacks, translated to opaque versions
//
$opaque-black-87: #212121;
$opaque-black-54: #757575;
$opaque-black-38: #9e9e9e;
$opaque-black-16: #d6d6d6;
$opaque-black-10: #e5e5e5;
$opaque-black-05: #f2f2f2;
$opaque-black-02: #fafafa;

// Social network colors
//
$facebook-blue: #3b5999;
$twitter-blue: #0095ff;
$google-orange: #db4437;
$slack-green: #2ab27b;

/* stylelint-enable */
