
// Layout variables
//
$layout-sizes: (
  gutter-small: units(2),
  gutter-medium: units(3),
  gutter-large: units(7),
  header-height: units(7),
  viewport-height-min: units(84),
  column-width-small: units(56),
  column-width-medium: units(85),
  column-width-large: units(100),
  column-width-wide: units(152)
  );

// Helper for accessing the layout sizes
//
@function layout($size) {
  @if map-has-key($layout-sizes, $size) {
    @return map-get($layout-sizes, $size);
  }
}

// Breakpoint map
//
$breakpoints: (
  mobile-breakpoint-small: layout(column-width-small),
  mobile-breakpoint: layout(column-width-medium),
  widescreen-breakpoint: layout(column-width-wide),
  tallscreen-breakpoint: layout(column-width-wide),
);

// Helpers for accessing breakpoints
//
@mixin when-smaller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (max-width: $value) {
    @content;
  }
}

@mixin when-larger-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @content;
  }
}

@mixin when-taller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-height: $value) {
    @content;
  }
}

// Layout default settings
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
