
// Layout variables
//
$layout-sizes: (
  gutter-small: units(2),
  gutter-medium: units(3),
  gutter-large: units(7),
  header-height: units(8),
  viewport-height-min: units(84),
  column-width-small: units(56),
  column-width-medium: units(85),
  column-width-large: units(100),
  column-width-wide: units(152)
  );

// Helper for accessing the layout sizes
//
@function layout($size) {
  @if map-has-key($layout-sizes, $size) {
    @return map-get($layout-sizes, $size);
  }
}

// Breakpoint map
//
$breakpoints: (
  mobile-breakpoint-small: layout(column-width-small),
  mobile-breakpoint: layout(column-width-medium),
  widescreen-breakpoint: layout(column-width-wide),
  tallscreen-breakpoint: layout(column-width-wide),
);

// Helpers for accessing breakpoints
//
@mixin when-smaller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (max-width: $value) {
    @content;
  }
}

@mixin when-larger-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @content;
  }
}

@mixin when-taller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-height: $value) {
    @content;
  }
}

@mixin layout-full-height-with-sticky-footer($sticky-selector: ".annotations") {
  // Full height layout with optional sticky footers
  //
  // Goal: The annotation input to should stick to the bottom on the media page and the annotations tab of source pages.
  // Dependency: `layout(header-height)` and `layout(gutter-medium)` must define the height of the header in home.scss
  //
  // 1. Set up the flex container
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - #{layout(header-height) + layout(gutter-medium)});
  z-index: 0;

  // 2. Now an immediate child can now be positioned to the bottom of this flex container
  & > #{$sticky-selector} {
    margin-top: auto;
  }
}

// Layout default settings
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

