{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [["react-intl", { "messagesDir": "./localization/react-intl/" }]]
    },
    "development": {
      "plugins": [
        ["./webpack/babelRelayPlugin.js", {}],
        ["react-intl", { "messagesDir": "./localization/react-intl/" }],
      ]
    }
  }
}
