{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [["react-intl", { "messagesDir": "./localization/react-intl/" }]]
    },
    "development": {
      "plugins": [["./src/plugins/babelRelayPlugin.js", {}], ["react-intl", { "messagesDir": "./localization/react-intl/" }], [
        "react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }
      ]]
    }
  }
}
