{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "globals": {
        "describe": true,
        "it": true,
    },
    "rules": {
        "indent": [2, 2],
        "react/jsx-filename-extension": "off",
        "react/jsx-no-bind": "off",
        "react/prop-types": "off",
        "react/forbid-prop-types": "off",

        // Todo: use pure functions where possible (or set this rule to "off")
        "react/prefer-stateless-function": "warn",

        // Todo: don't assign to function parameters
        "no-param-reassign": "warn",

        // Todo: reconfigure eslint to be aware of our configuration
        // files we import without extensions (or set this rule to "off".)
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",

        "class-methods-use-this": ["error", { "exceptMethods": ["getMutation", "getFatQuery", "getConfigs"] }],

        // Styled components uses the "confusing" arrows
        "no-confusing-arrow": "off",

        //Todo: Refactor to only have one component per file (or set this rule to off)
        "react/no-multi-comp": "warn",

        //Todo: improve a11y compliance
        "jsx-a11y/no-static-element-interactions": "warn",
        "jsx-a11y/anchor-has-content": "warn",

        "no-irregular-whitespace": ["error", { "skipComments": true }],

        // Todo: consider standardizing on camelcase
        "camelcase": "off",

        // Todo: consider standardizing order
        "react/sort-comp": "warn",

        // https://github.com/babel/babel-eslint/issues/487
        "no-undef": "off",

        // Allow to override Array for cleaner code.
        "no-extend-native": ["error", {"exceptions": ["Array"]}],
    }
}
