node_modules
*.sw*
*~
npm-debug.log
build
test/config.yml
.project
config.js
!test/unit/config.js
.DS_Store
releases/
supervisord.pid
supervisord.log
config.js.travis
config.yml.travis
travis
travis.zip
linters
test/spec/sauce
config-build.js
.tmp
