{
	"formatOnSave": true,
	"syntaxes": ["SCSS"],
	"extensions": [".scss"],
	"extends": ["stylelint-config-standard"],
	"rules": {
	  "number-leading-zero": null,
	  "property-no-vendor-prefix": true,
	  "at-rule-empty-line-before": [ "always", {
	  	"ignore": [
	  		"after-comment"
	  	],
	  	"except": [
	  		"first-nested"
	  	]
	  }],
	}
}