{
	"plugins": [
		"stylelint-order"
	],
	"ignoreFiles": ["**/*/_layout.scss"],
	"formatOnSave": true,
	"syntaxes": ["SCSS"],
	"extensions": [".scss"],
	"extends": ["stylelint-config-standard"],
	"rules": {
		"selector-max-specificity": "1,0,0",
		"color-no-hex": true,
		"declaration-empty-line-before": "never",
		"at-rule-empty-line-before": null,
		"block-closing-brace-newline-after": ["always", {
			ignoreAtRules: ["if", "else"]
		} ],
	  "number-leading-zero": null,
	  "property-no-vendor-prefix": true,
	  "order/properties-alphabetical-order": true
	}
}
