const config = {
  default: {
    appName: 'check',
    relayPath: 'http://api:3000/api/graphql',
    // The "access_token" attribute of an "ApiKey" created on Check API
    checkApiToken: 'dev',
    httpAuth: 'user:password:realm',
  },
  test: {
    appName: 'check',
    relayPath: 'http://api.test:13000/api/graphql',
    checkApiToken: 'test'
  }
};
module.exports = config;
