window.config = {
  selfHost: 'http://test.localdev.checkmedia.org:3333',
  restBaseUrl: 'http://test.localdev.checkmedia.org:3000/api/',
  relayPath: 'http://test.localdev.checkmedia.org:3000/api/graphql',
  relayHeaders: {
    'X-Check-Token': 'dev'
  },
  penderUrl: 'http://test.localdev.checkmedia.org:3200',
  pusherKey: '',
  pusherDebug: true,
  googleAnalyticsCode: 'UA-00000000-1' // Optional
}
