window.config = {
  restBaseUrl: 'http://localhost:3000/api/',
  relayPath: 'http://localhost:3000/api/graphql',
  relayHeaders: {
    'X-Checkdesk-Token': 'dev'
  },
  penderUrl: 'http://localhost:3005'
}
