const config = {
  default: {
    appName: 'check',
    relayPath: 'http://api:3000/api/graphql',
    checkApiToken: 'dev',

    // Heap is used for user analytics https://heap.io
    //
    // OPTIONAL
    // Remove key if not needed
    //
    heapAppId: null, // '<HEAP APP ID>',

    // Simple Analytics is used for lightweight user analytics https://simpleanalytics.com/
    //
    // OPTIONAL
    // Defaults to true, can switch to false if performance or security are a concern
    //
    useAnalytics: true,

    // Uptime is used for monitoring of real user activity with a javascript callback https://uptime.com/
    //
    // OPTIONAL
    // Remove key if not needed
    //
    uptimeId: null, // '<UPTIME ID>',
  },
  test: {
    appName: 'check',
    relayPath: 'http://api:3000/api/graphql',
    checkApiToken: 'test'
  }
};
module.exports = config;
