window.config = {
  selfHost: 'localhost:3333',
  restBaseUrl: 'http://localhost:3000/api/',
  relayPath: 'http://localhost:3000/api/graphql',
  relayHeaders: {
    'X-Check-Token': 'dev'
  },
  penderUrl: 'http://localhost:3200',
  pusherKey: '',
  pusherDebug: true,
  locale: 'en',
  googleAnalyticsCode: 'UA-00000000-1', // Optional
  googleStaticMapsKey: '', // Optional
  newRelicLicenseKey: '',
  newRelicAppId: ''
}
