const config = {
  default: {
    appName: 'check',
    relayPath: 'http://api:3000/api/graphql',
    checkApiToken: 'dev',

    // Heap is used for user analytics https://heap.io
    //
    // OPTIONAL
    // Remove key if not needed
    //
    heapAppId: '<HEAP APP ID>',
  },
  test: {
    appName: 'check',
    relayPath: 'http://api:3000/api/graphql',
    checkApiToken: 'test'
  }
};
module.exports = config;
