.settings-wrapper {
  background-color: var(--grayBackground);
  display: flex;
  flex-direction: column;
  height: 100vh;

  .settings-content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 16px 32px 32px;

    .setting-details-wrapper {
      border: solid 10px var(--brandMain);
      max-width: var(--columnWidthLarge);
      width: 100%;
    }
  }
}
