.team-details-buttons {
  display: flex;
  gap: 8px;
}

.team-details {
  display: flex;
  gap: 32px;
}

.team-details-column {
  width: 100%;
}

.team-details-section {
  background: var(--otherWhite);
  border: 2px solid var(--grayBorderMain);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  padding: 16px;
  width: 100%;
}

.StyledAvatarEditButton {
  width: 100%;
}
