.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .dashboard-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 32px;
    overflow: auto;
    padding: 16px 32px 32px;

    .dashboard-filter-area {
      background: var(--color-beige-86);
      border-radius: var(--border-radius-default);
      display: flex;
      gap: 16px;
      padding: 16px;
    }

    .dashboard-two-column {
      display: flex;
      flex-direction: row;
      gap: 16px;

      > div {
        flex: 1;
      }
    }

    .dashboard-single-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .dashboard-combo {
      background-color: var(--color-white-100);
      border-radius: var(--border-radius-large);
      display: flex;
      flex-direction: row;
    }

    .dashboard-combo > div:first-child {
      flex: 1;
      margin: 16px 0 16px 16px;
    }

    .dashboard-combo > div:last-child {
      flex: 2;
    }
  }
}
