@keyframes placeHolderShimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

%shimmer {
  animation: placeHolderShimmer 1s ease-out infinite;
  animation-fill-mode: forwards;
  background: linear-gradient(90deg, $opaque-black-05, $opaque-black-05, $opaque-black-02, $opaque-black-02, $white, $opaque-black-02, $opaque-black-05, $opaque-black-05);
  background-size: 400%;
}
