.longShort {
  -webkit-box-orient: vertical;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  hyphens: auto;
  max-height: none;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}
