.workspaces-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  user-select: none;
  width: 100%;
}

.current-active-item {
  border-left: 4px var(--color-beige-47) solid;
}

.list-item {
  cursor: pointer;
}
