/* stylelint-disable no-descending-specificity */
.buttonMain {
  @mixin typography-button;
  align-items: center;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 38px;
  justify-content: center;
  min-width: auto;
  padding: 4px 8px;
  transition: color 100ms linear, background-color 100ms linear, border-color 100ms linear;

  .buttonMainLabel {
    display: inline-block;
    max-width: 250px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .input-icon-left-icon,
  .input-icon-right-icon,
  .input-icon-center-icon {
    display: flex;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    font-size: 20px;
    width: fit-content;
  }

  &.sizeSmall {
    @mixin typography-body2;
    gap: 4px;
    height: 30px;
    padding: 4px 6px;

    .input-icon-left-icon,
    .input-icon-right-icon,
    .input-icon-center-icon {
      /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
      font-size: 16px;
    }

    &.input-icon-center {
      height: 30px;
      min-width: 30px;
      width: 30px;
    }
  }

  &.sizeLarge {
    height: 48px;

    .input-icon-left-icon,
    .input-icon-right-icon {
      /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
      font-size: 32px;
    }

    .input-icon-center-icon {
      /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
      font-size: 30px;
    }

    &.input-icon-center {
      height: 48px;
      min-width: 48px;
      width: 48px;
    }
  }

  &.input-icon-center {
    height: 38px;
    min-width: 38px;
    width: 38px;

    .buttonMainLabel {
      display: none;
    }
  }

  &.theme-info,
  &.theme-lightInfo,
  &.theme-text,
  &.theme-lightText,
  &.theme-error,
  &.theme-lightError,
  &.theme-validation,
  &.theme-lightValidation,
  &.theme-alert,
  &.theme-lightAlert,
  &.theme-black,
  &.theme-white,
  &.theme-beige,
  &.theme-lightBeige {
    &:disabled {
      cursor: default;
    }

    &:not([type]) {
      cursor: text;
      user-select: text;
    }

    &[type='button']:disabled,
    &[type='submit']:disabled {
      color: var(--color-gray-59);
      cursor: not-allowed;
      pointer-events: none;
    }

    &.contained {
      &[type='button']:disabled,
      &[type='submit']:disabled {
        background-color: var(--color-gray-88);
        border: solid 2px var(--color-gray-88);
      }
    }

    &.outlined {
      background-color: transparent;

      &[type='button']:disabled,
      &[type='submit']:disabled {
        border: solid 2px var(--color-gray-88);
      }
    }

    &.textVariant {
      background-color: transparent;
      border: solid 2px transparent;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &.theme-info:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-blue-54), var(--color-blue-38), var(--color-white-100), var(--color-white-100);

      &:active {
        background-color: var(--color-blue-32);
        border-color: var(--color-blue-32);
      }

      &:focus {
        background-color: var(--color-blue-32);
        border-color: var(--color-blue-32);
      }
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-blue-54), var(--color-blue-38), var(--color-blue-54), var(--color-blue-38), var(--color-blue-98);

      &:active {
        border-color: var(--color-blue-32);
      }

      &:focus {
        border-color: var(--color-blue-32);
      }
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-blue-54), var(--color-blue-38), var(--color-blue-98);

      &:active {
        color: var(--color-blue-32);
      }

      &:focus {
        color: var(--color-blue-32);
      }
    }
  }

  &.theme-lightInfo:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-blue-98), var(--color-blue-54), var(--color-blue-38), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-blue-98), var(--color-blue-54e), var(--color-blue-54), var(--color-blue-38), var(--color-blue-98);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-blue-54), var(--color-blue-38), var(--color-blue-98);
    }
  }

  &.theme-text:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-gray-96), var(--color-gray-88), var(--color-gray-15), var(--color-gray-37);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-gray-88), var(--color-gray-75), var(--color-gray-15), var(--color-gray-37), var(--color-gray-88);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-gray-15), var(--color-gray-37), var(--color-gray-88);
    }
  }

  &.theme-lightText:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-gray-96), var(--color-gray-88), var(--color-gray-37), var(--color-gray-37);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-gray-88), var(--color-gray-75), var(--color-gray-37), var(--color-gray-37), var(--color-gray-88);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-gray-37), var(--color-gray-15), var(--color-gray-88);
    }
  }

  &.theme-error:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-pink-53), var(--color-pink-40), var(--color-white-100), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-pink-53), var(--color-pink-40), var(--color-pink-53), var(--color-pink-40), var(--color-pink-96);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-pink-53), var(--color-pink-40), var(--color-pink-96);
    }
  }

  &.theme-lightError:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-pink-96), var(--color-pink-53), var(--color-pink-40), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-pink-96), var(--color-pink-53), var(--color-pink-53), var(--color-pink-40), var(--color-pink-96);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-pink-53), var(--color-pink-40), var(--color-pink-96);
    }
  }

  &.theme-validation:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-green-35), var(--color-green-23), var(--color-white-100), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-green-35), var(--color-green-23), var(--color-green-35), var(--color-green-23), var(--color-green-97);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-green-35), var(--color-green-23), var(--color-green-97);
    }
  }

  &.theme-lightValidation:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-green-97), var(--color-green-35), var(--color-green-23), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-green-97), var(--color-green-35), var(--color-green-35), var(--color-green-23), var(--color-green-97);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-green-35), var(--color-green-23), var(--color-green-97);
    }
  }

  &.theme-alert:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-orange-54), var(--color-orange-31), var(--color-white-100), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-orange-54), var(--color-orange-31), var(--color-orange-54), var(--color-orange-31), var(--color-orange-95);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-orange-54), var(--color-orange-31), var(--color-orange-95);
    }
  }

  &.theme-lightAlert:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-orange-95), var(--color-orange-54), var(--color-orange-31), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-orange-95), var(--color-orange-54), var(--color-orange-54), var(--color-orange-31), var(--color-orange-95);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-orange-54), var(--color-orange-31), var(--color-orange-95);
    }
  }

  &.theme-black:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-gray-15), var(--color-gray-37), var(--color-white-100), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-gray-15), var(--color-gray-37), var(--color-gray-15), var(--color-gray-37), var(--color-gray-96);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-gray-15), var(--color-gray-37), var(--color-gray-96);
    }
  }

  &.theme-white:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-white-100), var(--color-gray-88), var(--color-gray-15), var(--color-gray-37);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-white-100), var(--color-gray-88), var(--color-white-100), var(--color-gray-88), transparent;
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-white-100), var(--color-gray-37), var(--color-gray-88);
    }
  }

  &.theme-beige:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-beige-60), var(--color-beige-40), var(--color-white-100), var(--color-white-100);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-beige-60), var(--color-beige-40), var(--color-beige-47), var(--color-beige-40), var(--color-beige-93);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-beige-47), var(--color-beige-40), var(--color-beige-93);
    }
  }

  &.theme-lightBeige:not([type='button']:disabled):not([type='submit']:disabled) {
    &.contained {
      @mixin main-button-contained-theme var(--color-beige-86), var(--color-beige-40), var(--color-beige-40), var(--color-beige-93);
    }

    &.outlined {
      @mixin main-button-outlined-theme var(--color-beige-86), var(--color-beige-47), var(--color-beige-47), var(--color-beige-40), var(--color-beige-93);
    }

    &.textVariant {
      @mixin main-button-text-theme var(--color-beige-55), var(--color-beige-40), var(--color-beige-93);
    }
  }
}
/* stylelint-enable */
