.chip-container {
  background-color: var(--color-blue-54);
  border-radius: 50px;
  color: var(--otherWhite);
  cursor: pointer;
  display: inline-flex;
  height: 26px;
  padding: 3px 12px;

  span {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .delete-button {
    border-radius: 0 50px 50px 0;
    display: none;
    height: 26px;
    margin: -3px -12px 0 -6px;
    min-width: 18px;
    overflow: hidden;

    button {
      border-radius: 0;
      height: 26px;
      padding: 0;
    }
  }

  &:hover .delete-button {
    display: inline-block;

    button {
      height: 26px;
      min-width: 18px;
      width: 18px;
    }
  }
}
