.media-chip {
  align-items: center;
  background-color: var(--brandBackgroundAccent);
  border-radius: 4px;
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  width: max-content;
}

.media-chip-icon svg {
  color: var(--textPrimary);
  display: block;
}

.media-chip-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
