.drawer {
  --drawerWidth: 256px;
  --drawerFooterHeight: 80px;

  transition: width 225ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: var(--drawerWidth);
  z-index: 1;

  &.drawOpen {
    border: solid 1px  var(--errorMain);
  }

  &.drawerClosed {
    width: 0;
  }
}

.drawerFooter {
  flex: 0 0 var(--drawerFooterHeight);
}
