.drawer {
  --drawerWidth: 256px;

  transition: width 225ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: var(--drawerWidth);

  &.drawOpen {
    background-color: var(--errorMain);
  }

  &.drawerClosed {
    width: 0;
  }
}

.bigEmptySpaceInSidebar {
  background-color: var(--errorMain);
  flex: 1 1 auto;
}

.drawerFooter {
  background-color: var(--errorMain);
}
