.drawerRail {
  --drawerRailWidth: 70px;
  --drawerRailIcon: 26px;

  align-items: center;
  background-color: var(--color-beige-86);
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
  width: var(--drawerRailWidth);
  z-index: 2;

  .drawerRailTop,
  .drawerRailMiddle,
  .drawerRailBottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: var(--drawerRailWidth);
  }

  .drawerRailTop,
  .drawerRailBottom {
    gap: 16px;
  }

  .drawerRailMiddle {
    align-self: center;
    flex: 1 1 100%;
    justify-content: center;
  }

  .railIconButton,
  .railIconLink {
    background-color: var(--color-beige-86);
    border: 0;
    border-radius: var(--border-radius-default);
    color: var(--color-gray-37);
    cursor: pointer;
    display: block;
    font-size: var(--drawerRailIcon);
    height: 40px;
    position: relative;
    transition: color 300ms cubic-bezier(.19, 1, .22, 1) 0s, background-color 300ms cubic-bezier(.19, 1, .22, 1) 0s;
    width: 40px;

    :global(.check-icon) {
      @mixin position absolute, 50%, auto, auto, 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      color: var(--color-gray-15);
    }

    &.railIconLinkActive {
      background-color: var(--color-gray-15);
      color: var(--color-white-100);
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .railIconButton {
    background-color: var(--color-beige-93);
  }

  /* stylelint-disable no-descending-specificity */
  .railIconLink:not(.railIconLinkActive) {
    background-color: var(--color-beige-86);

    &:hover {
      background-color: var(--color-beige-93);
    }
  }
}
