.drawerHeader {
  align-items: center;
  display: flex;
  padding: 8px;

  .teamLogo {
    flex: 0 0 auto;
    margin: 0 8px 0 0;
    transition: border-color 200ms linear 0ms;
  }

  .teamName {
    @mixin text-truncate inline-block;
    color: var(--textPrimary);
    transition: color 200ms linear 0ms;
  }

  a {
    align-items: center;
    background-color: var(--grayBackground);
    border-radius: 8px;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 8px;
    text-decoration: none;
    transition: color 200ms linear 0ms;
    transition-property: color, background, border-color;

    &:hover {
      background-color: var(--brandHoverAccent);

      .teamLogo {
        border-color: var(--brandBorder);
      }

      .teamName {
        color: var(--textLink);
      }
    }
  }
}
