.drawerRail {
  --drawerRailWidth: 70px;
  --drawerRailIcon: 26px;

  align-items: center;
  background-color: var(--brandBackground);
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
  width: var(--drawerRailWidth);
  z-index: 2;

  .drawerRailTop,
  .drawerRailMiddle,
  .drawerRailBottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: var(--drawerRailWidth);
  }

  .drawerRailTop,
  .drawerRailBottom {
    gap: 15px;
  }

  .drawerRailMiddle {
    align-self: center;
    flex: 1 1 100%;
    justify-content: center;
  }

  .railIconButton {
    color: var(--textSecondary);
    display: block;
    font-size: var(--drawerRailIcon);
  }
}
