.feedPageTitleWrapper {
  align-items: flex-start;
  color: var(--textSecondary);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 32px 0 0;

  .feedHeaderTitle {
    align-items: flex-start;
    display: flex;
    gap: 12px;

    h6 {
      @mixin typography-h6;
      -webkit-box-orient: vertical;
      color: var(--textPrimary);
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      margin: 0;
      max-height: 5em;
      overflow: hidden;
      white-space: pre-line;
      word-break: break-all;

      > span {
        vertical-align: middle;
      }
    }
  }
}

.feed-page-header {
  margin: 16px 32px;
}

.feed-container {
  background-color: var(--otherWhite);
  border: solid 3px var(--otherWhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: '10px';
  left: 326px;
  margin: 0 32px 16px;
  max-height: 100%;
  overflow: hidden;
  padding: '32px';
  top: 96px;
  width: 1048px;
}

.feed-content-wrapper {
  background-color: var(--otherWhite);
  border: solid 3px var(--otherWhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 100%;
  overflow: hidden;
}

.feed-content {
  color: var(--textPrimary);
  font-size: var(--textSizeDefault);
  text-align: left;
}

.feed-section {
  gap: 4px;
  margin: 10px;
}
