@keyframes placeHolderShimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

%shimmer {
  animation: placeHolderShimmer 1s ease-out infinite;
  animation-fill-mode: forwards;
  background: linear-gradient(90deg, $black-05, $black-05, $black-02, $black-02, $white, $black-02, $black-05, $black-05);
  background-size: 400%;
}

// Fade in things
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fade-in($speed: .3s) {
  opacity: 0;  /* start hidden */
  animation: fade-in ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: $speed;
}

.medias_list li {
  @include fade-in(.6s);

  &:nth-of-type(1) {
    animation-duration: .4s;
  }

  &:nth-of-type(2) {
    animation-duration: .6s;
  }

  &:nth-of-type(3) {
    animation-duration: .8s;
  }
}
