@keyframes placeHolderShimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

%shimmer {
  animation: placeHolderShimmer .7s ease-out infinite;
  animation-fill-mode: forwards;
  background: linear-gradient(90deg, theme-gray(97%), theme-gray(97%), theme-gray(98%), theme-gray(98%), theme-gray(100%), theme-gray(98%), theme-gray(97%), theme-gray(97%));
  background-size: 400%;
}


// Fade in things
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.medias_list li {
  opacity:0;  /* start hidden */
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.6s;
  &:nth-of-type(1) {
    animation-duration:0.3s;
  }
  &:nth-of-type(2) {
    animation-duration:0.5s;
  }
  &:nth-of-type(3) {
    animation-duration:0.6s;
  }
}