@mixin button-defaults {
  cursor: pointer;
  border: 0;
  font-family: $font-stack-sans;
  background-color: $black-38;
  font-size: inherit;
}

// elements that should semantically be <button> but not look like buttons
//
@mixin unbutton {
  @include button-defaults;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@mixin button-standard {
  @include button-defaults;
  border-radius: 3px;
  color: $white;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-xsmall {
  @include button-standard;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;

  @media screen and (max-width: 500px) {
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@mixin button-small {
  @include button-standard;
  height: 36px;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin button-medium {
  @include button-standard;
  height: 43px;
  font-size: 17px;
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

@mixin button-large {
  @include button-standard;
  height: 50px;
  font-size: 20px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 8px;
}

@mixin button-primary {
  background-color: $check-blue;
}

@mixin close-button($size: 30px) {
  @include unbutton;
  color: $black-16;
  font-weight: 200;
  font-size: $size;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin chicklet {
  @extend %chip;
  cursor: pointer;

  &--selected {
    background-color: $black-54;
    color: $white;
  }

  &:hover {
    background-color: $black-16;
  }
}
