@mixin button-defaults {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: $font-stack-sans;
  color: #fff;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-medium {
  @include button-defaults;
  height: 43px;
  font-size: 17px;
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

@mixin button-large {
  @include button-defaults;
  height: 50px;
  font-size: 20px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 8px;
}
