@mixin button-defaults {
  cursor: pointer;
  border: none;
  font-family: $font-stack-sans;
  background-color: $gray-350;
}

@mixin unbutton { // elements that should semantically be <button> but not look like buttons
  @include button-defaults;
  background-color: transparent;
  padding: 0;
  &:focus { outline: none; }
}

@mixin button-standard {
  @include button-defaults;
  border-radius: 3px;
  color: #fff;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-xsmall {
  @include button-standard;
  height: 30px;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

@mixin button-small {
  @include button-standard;
  height: 36px;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin button-medium {
  @include button-standard;
  height: 43px;
  font-size: 17px;
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

@mixin button-large {
  @include button-standard;
  height: 50px;
  font-size: 20px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 8px;
}

@mixin button-green {
  background-color: rgb(71, 207, 152);
}
