@mixin button-defaults {
  cursor: pointer;
  border: none;
  font-family: $font-stack-sans;
  background-color: $gray-350;
  font-size: inherit;
}

@mixin unbutton { // elements that should semantically be <button> but not look like buttons
  @include button-defaults;
  background-color: transparent;
  padding: 0;
  &:focus { outline: none; }
}

@mixin button-standard {
  @include button-defaults;
  border-radius: 3px;
  color: #fff;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-xsmall {
  @include button-standard;
  height: 30px;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;

  @media screen and (max-width: 500px) {
    height: 30px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@mixin button-small {
  @include button-standard;
  height: 36px;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin button-medium {
  @include button-standard;
  height: 43px;
  font-size: 17px;
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

@mixin button-large {
  @include button-standard;
  height: 50px;
  font-size: 20px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 8px;
}

@mixin button-green {
  background-color: rgb(71, 207, 152);
}

@mixin close-button($size: 30px) {
  @include unbutton;
  color: $light-gray-text;
  font-weight: 200;
  font-size: $size;
  &, &:hover {
    text-decoration: none;
  }
}

@mixin chicklet {
  border-radius: 3px;
  background-color: $firefly-60-1;
  color: $regent-grey;
  display: inline-block;
  font-size: 14px;
  // font-weight: 200;
  padding: 2px 11px !important;
  margin: 0 4px 4px 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  &--selected {
    background-color: $firefly-60;
    color: $firefly-5;
  }
  &--active {
  }
  &--hover {
    cursor: pointer;
  }
}
