// palettes

//- grays

@function theme-gray($brightness) { // 0% black, 100% white
  @return hsl(205, 18%, $brightness);
}

$dark-gray-text: theme-gray(5%);
// $medium-dark-gray-text: theme-gray(27%);
$light-gray-text: theme-gray(74%);
$lighter-gray-text: theme-gray(80%);
$medium-gray-bg: theme-gray(80%);
$light-gray-bg: theme-gray(95%);
$lighter-gray-bg: theme-gray(98.7%);

//- blues

@function theme-blue($brightness) {
  @return hsl(208, 98%, $brightness); // TODO: consider switch to MUI blues
}

$blue-text: theme-blue(62%);
$light-blue-text: theme-blue(67%);

//- mui

$blue-100: #BBDEFB;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$gray-300: #E0E0E0;
$gray-350: mix(#E0E0E0, #BDBDBD);
$gray-400: #BDBDBD;
$green-500: #4CAF50;
$red-500: #F44336;
$amber-500: #FFC107;
