// palettes

//- grays

@function theme-gray($brightness: 50%) { // 0% black, 100% white
  @return hsl(205, 18%, $brightness);
}

$dark-gray-text: theme-gray(5%);
// $medium-dark-gray-text: theme-gray(27%);
$light-gray-text: theme-gray(75%);
$lighter-gray-text: theme-gray(80%);
$medium-gray-bg: theme-gray(80%);
$light-gray-bg: theme-gray(95%);
$lighter-gray-bg: theme-gray(98.7%);

//- blues

@function theme-blue($brightness) {
  @return hsl(208, 98%, $brightness); // TODO: consider switch to MUI blues
}

$blue-text: theme-blue(62%);
$light-blue-text: theme-blue(67%);

//- https://material.google.com/style/color.html#color-color-palette

$blue-100: #BBDEFB;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$gray-100: #F5F5F5;
$gray-300: #E0E0E0;
$gray-350: mix(#E0E0E0, #BDBDBD);
$gray-400: #BDBDBD;
$green-100: #C8E6C9;
$green-500: #4CAF50;
$orange-100: #FFE0B2;
$orange-500: #FF9800;
$red-100: #FFCDD2;
$red-500: #F44336;
$red-900: #B71C1C;

// media colors from prototype
//
// - TODO: merge and DRY more once settled

$check-blue: #2E77FC;
$firefly-5: #F3F4F4;
$firefly-10: #E7E8EA;
$firefly-20: #CFD3D5;
$firefly-30: #B7BCC0;
$firefly-40: #9FA6AC;
$firefly-60: #6F7A82;
$firefly-80: #404D59;
$firefly-90: #283743;
$firefly: #10212F;
$heather-grey: #C4D1DB;
$monza-red: #D0021B;
$porcelain-grey: #FAFBFB;
$regent-grey: #8799A6;
$thatch: #B89892;

$hawkes-blue: #E4EEFC;
$seashell-peach: #FFF6F0;
$hint-green: #E5FFEF;
$pippin-red: #FFE5E5;

// Firefly with alpha for blending
$firefly-60-1: rgba($firefly-60, 0.1);
$firefly-60-2: rgba($firefly-60, 0.2);
$firefly-60-5: rgba($firefly-60, 0.5);
$firefly-60-8: rgba($firefly-60, 0.8);

// media status colors

$media-status-blue: $blue-500;
$media-status-orange: $orange-500;
$media-status-green: $green-500;
$media-status-red: $red-500;
$media-status-gray: $gray-350;

$media-status-blue-bg: $hawkes-blue;
$media-status-orange-bg: $seashell-peach;
$media-status-green-bg: $hint-green;
$media-status-red-bg: $pippin-red;
$media-status-gray-bg: $gray-100;

@mixin media-status-colors {
  &--undetermined { color: $media-status-blue; }
  &--in-progress { color: $media-status-orange; }
  &--verified { color: $media-status-green; }
  &--false { color: $media-status-red; }
  &--not-applicable { color: $media-status-gray; }
}

@mixin media-status-bg-colors {
  $alpha: 0.17;
  &--undetermined { background: $media-status-blue-bg; }
  &--in-progress { background: $media-status-orange-bg; }
  &--verified { background: $media-status-green-bg; }
  &--false { background: $media-status-red-bg; }
  &--inconclusive { background: $media-status-gray-bg; }
}

@mixin media-status-border-colors {
  $saturation: 100%;
  $alpha: 1.0;
  &--undetermined { border-color: $media-status-blue; }
  &--in-progress { border-color: $media-status-orange; }
  &--verified { border-color: $media-status-green; }
  &--false { border-color: $media-status-red; }
  &--not-applicable { border-color: $media-status-gray; }
}
