// Basic colors
$white: #fff;
$monza-red: #d0021b;
$check-blue: #2e77fc;
$facebook-blue: #3b5999;
$twitter-blue: #0095ff;
$google-orange: #db4437;
$slack-green: #2ab27b;
$hyperlink-blue: #0000ee;
$visited-hyperlink-purple: #551a8b;

// Modals
$midnight-blue-90: rgba(0, 15, 41, .9);

// Material blacks
//
$black-87: rgba(0, 0, 0, .87);
$black-54: rgba(0, 0, 0, .54);
$black-38: rgba(0, 0, 0, .38);
$black-16: rgba(0, 0, 0, .16);
$black-05: rgba(0, 0, 0, .05);
$black-02: rgba(0, 0, 0, .02);

// Material blacks, opaque
//
$opaque-black-87: #212121;
$opaque-black-54: #757575;
$opaque-black-38: #9e9e9e;
$opaque-black-16: #d6d6d6;
$opaque-black-05: #f2f2f2;
$opaque-black-02: #fafafa;

// Media status font color
//
$media-status-blue: $check-blue;
$media-status-orange: #efac51;
$media-status-green: #5cae73;
$media-status-red: #f04747;
$media-status-gray: $black-38;
$media-status-black: $black-54;

// Media status page background colors
//
$media-status-blue-page-bg: $media-status-blue;
$media-status-orange-page-bg: #ffbb5d;
$media-status-green-page-bg: #72d18d;
$media-status-red-page-bg: $media-status-red;
$media-status-gray-page-bg: $black-16;
$media-status-black-page-bg: $black-87;

// Media status menu hover background colors
//
$menu-hover-bg-opacity: .02;
$media-status-blue-menu-hover-bg: rgba($media-status-blue, $menu-hover-bg-opacity);
$media-status-orange-menu-hover-bg: rgba($media-status-orange, $menu-hover-bg-opacity);
$media-status-green-menu-hover-bg: rgba($media-status-green, $menu-hover-bg-opacity);
$media-status-red-menu-hover-bg: rgba($media-status-red, $menu-hover-bg-opacity);
$media-status-grey-menu-hover-bg: rgba($media-status-gray, $menu-hover-bg-opacity);
$media-status-black-menu-hover-bg: rgba($media-status-black, $menu-hover-bg-opacity);