// palettes

//- grays

@function theme-gray($brightness: 50%) { // 0% black, 100% white
  @return hsl(205, 18%, $brightness);
}

$dark-gray-text: theme-gray(5%);
$medium-gray-text: theme-gray(27%);
$light-gray-text: theme-gray(55%);
$lighter-gray-text: theme-gray(65%);
$lightest-gray-text: theme-gray(75%);
$medium-gray-bg: theme-gray(80%);
$light-gray-bg: theme-gray(95%);
$lighter-gray-bg: theme-gray(98.7%);

$home-bg: $lighter-gray-bg;


//- blues

@function theme-blue($brightness) {
  @return hsl(208, 98%, $brightness); // TODO: consider switch to MUI blues
}

$blue-text: theme-blue(62%);
$light-blue-text: theme-blue(67%);

//- https://material.google.com/style/color.html#color-color-palette

$blue-100: #BBDEFB;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$gray-100: #F5F5F5;
$gray-300: #E0E0E0;
$gray-350: mix(#E0E0E0, #BDBDBD);
$gray-400: #BDBDBD;
$green-100: #C8E6C9;
$green-500: #4CAF50;
$orange-100: #FFE0B2;
$orange-500: #FF9800;
$red-100: #FFCDD2;
$red-500: #F44336;
$red-900: #B71C1C;

// media colors from prototype
//
// - TODO: merge and DRY more once settled

$check-blue: #2E77FC;
$firefly-5: #F3F4F4;
$firefly-10: #E7E8EA;
$firefly-20: #CFD3D5;
$firefly-30: #B7BCC0;
$firefly-40: #9FA6AC;
$firefly-60: #6F7A82;
$firefly-80: #404D59;
$firefly-90: #283743;
$firefly: #10212F;
$heather-grey: #C4D1DB;
$monza-red: #D0021B;
$porcelain-grey: #FAFBFB;
$regent-grey: #8799A6;
$thatch: #B89892;

$hawkes-blue: #E4EEFC;
$seashell-peach: #FFF6F0;
$hint-green: #E5FFEF;
$pippin-red: #FFE5E5;

// Firefly with alpha for blending
$firefly-60-1: rgba($firefly-60, 0.1);
$firefly-60-2: rgba($firefly-60, 0.2);
$firefly-60-5: rgba($firefly-60, 0.5);
$firefly-60-8: rgba($firefly-60, 0.8);

// Media status colors (font and border color)
//
$media-status-blue: $blue-500;
$media-status-orange: $orange-500;
$media-status-green: $green-500;
$media-status-red: $red-500;
$media-status-gray: $firefly-40;
$media-status-black: $firefly-90;

// Media status background colors
//
$media-status-blue-bg: $hawkes-blue;
$media-status-orange-bg: $seashell-peach;
$media-status-green-bg: $hint-green;
$media-status-red-bg: $pippin-red;
$media-status-gray-bg: $gray-100;
$media-status-black-bg: $gray-300;

// Media status menu hover background colors
//
$hover-bg-opacity: 0.15;
$media-status-blue-hover-bg: rgba($blue-100, $hover-bg-opacity);
$media-status-orange-hover-bg: rgba($orange-100, $hover-bg-opacity); 
$media-status-green-hover-bg: rgba($green-100, $hover-bg-opacity); 
$media-status-red-hover-bg: rgba($red-100, $hover-bg-opacity); 
$media-status-grey-hover-bg: rgba($gray-300, $hover-bg-opacity);
$media-status-black-hover-bg: rgba($firefly-40, $hover-bg-opacity);

// Cheatsheet (because the text labels don't match the classes)
//
// BLUE 
// • "New" = --undetermined
//
// ORANGE
// • "In progress" = --in-progress
// • "Important/In Progress" = --important-in_progress, --important-in-progress (EL ONLY)
//
// GREEN
// • "Authenticated" = --verified 
// • "Important/authenticated" = --important-authenticated (EL ONLY)
//
// RED
// • "False" = --false 
// • "Important/false" = --important-false (EL ONLY)
// 
// GREY
// • "Not applicable" = --not-applicable_2, --not-applicable-2 (EL ONLY)
// • "Marked for deletion" = --marked-for_deletion, --marked-for-deletion (EL ONLY)
//
// BLACK
// • "Important/Inconclusive" = --important-inconclusive (EL ONLY)
// • "Inconclusive" = --inconclusive 
//

// Status selectors
//
// Currently includes custom Electionland selectors — CGB 2016-11-5
$orange-selectors: "&--in-progress, &--important-in-progress, &--important-in_progress";
$blue-selectors: "&--undetermined";
$green-selectors: "&--verified, &--important-authenticated";
$red-selectors: "&--false, &--important-false";
$gray-selectors: "&--not-applicable_2, &--not-applicable-2, &--marked-for-deletion, &--marked-for_deletion";
$black-selectors: "&--not-applicable, &--important-inconclusive, &--inconclusive";

// Font colors of media status labels
// 
@mixin media-status-font-colors {
  
  #{$blue-selectors} { 
    color: $media-status-blue; 
  } 
  
  #{$orange-selectors} { 
    color: $media-status-orange; 
  } 
  
  #{$green-selectors} { 
    color: $media-status-green; 
  } 
  
  #{$red-selectors} { 
    color: $media-status-red; 
  } 

  #{$gray-selectors} { 
    color: $media-status-gray;
  }
  
  #{$black-selectors} {
    color: $media-status-black;
  }
}

// Borders and backgrounds of media items
//
@mixin media-status-background-and-border-colors {
  #{$blue-selectors} { 
    background: $media-status-blue-bg;
    border-color: $media-status-blue;
  }

  #{$orange-selectors} { 
    background: $media-status-orange-bg;
    border-color: $media-status-orange; 
  }

  #{$green-selectors} { 
    background: $media-status-green-bg;
    border-color: $media-status-green; 
  }
  
  #{$red-selectors} { 
    background: $media-status-red-bg;
    border-color: $media-status-red; 
  }

  #{$gray-selectors} { 
    background: $media-status-gray-bg; 
    border-color: $media-status-gray;
  }

  #{$black-selectors} {
    background: $media-status-black-bg; 
    border-color: $media-status-black;
  }
}

// Backgrounds in the status menu
//
@mixin media-status-menu-hover-colors {
  #{$blue-selectors} {
    &:hover { 
     background: $media-status-blue-hover-bg; 
    }
  }

  #{$orange-selectors} { 
    &:hover {
      background: $media-status-orange-hover-bg;
    }
  }

  #{$green-selectors} { 
    &:hover {
      background: $media-status-green-hover-bg;
    }
  }

  #{$red-selectors} { 
    &:hover {
      background: $media-status-red-hover-bg;
    }
  }

  #{$gray-selectors} {
    &:hover {
      background: $media-status-grey-hover-bg;
    }
  }
  
  #{$black-selectors} {
    &:hover {
      background: $media-status-black-hover-bg;
    }
  }
}