// grays

$dark-gray-text: hsl(204, 15%, 5%);
$light-gray-text: hsl(204, 15%, 70%);
$medium-gray-bg: hsl(204, 15%, 80%);
$light-gray-bg: hsl(204, 15%, 95%);


// blues

$blue-text: hsl(208, 98%, 62%);
$light-blue-text: hsl(208, 98%, 67%);

// mui

$blue-100: #BBDEFB;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$gray-300: #E0E0E0;
$gray-350: mix(#E0E0E0, #BDBDBD);
$gray-400: #BDBDBD;
$green-500: #4CAF50;
$red-500: #F44336;
