html {
  height: 100%;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-stack-sans;
}

a {
  color: $blue-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: mix($blue-text, purple, 70%);
  }
}

button {
  @include button-defaults;
}

input {
  font-size: inherit;
}

p {
  margin-top: 0;

  color: $dark-gray-text;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
