@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin text-input {
  order: 2;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(theme-gray(), 0.2);
  transition: border-color 100ms ease;
  font-size: 24px;
  padding: 3px 0 6px; // padding: 7px 0;
  &:focus {
    outline: none;
    border-color: theme-blue(62%);
  }
}