// TODO I think this is handled by Autoprefixer, can we remove it? CGB 2017-2-12
@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin text-input {
  order: 2;
  background: transparent;
  border: 0;
  border-bottom: 2px solid $black-02;
  transition: border-color 100ms ease;
  font-size: 24px;
  padding: 3px 0 6px;

  &:focus {
    outline: none;
    border-color: $check-blue;
  }
}
