@mixin background-cover {
  background-size: cover;
  background-position: center;
}

@mixin image($width, $height: $width) {
  @include background-cover;
  width: $width;
  height: $height;
  border: 1px solid theme-gray(95%);
  border-radius: 3px;
  box-shadow: 0 0 2px theme-gray(98%);
}

@mixin avatar($size) {
  @include background-cover;
  width: $size;
  height: $size;
  border-radius: 2px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2)
  ;
  background-color: rgb(246, 248, 249);
}

@mixin user-avatar($size) {
  @include avatar($size);
  border-radius: 50%;
}
