@mixin background-cover {
  background-size: cover;
  background-position: center;
}

@mixin image($size) {
  width: $size;
  height: $size;
  border: 1px solid theme-gray(95%);
  border-radius: 3px;
  box-shadow: 0 0 2px theme-gray(98%);
  @include background-cover;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border: 1px solid theme-gray(95%);
  border-radius: 3px;
  box-shadow: 0 0 2px theme-gray(98%);
  background-color: rgb(246, 248, 249);
  @include background-cover;
}

@mixin user-avatar($size) {
  @include avatar($size);
  border-radius: 50%;
}
