#root {
  height: 100%;
}

@mixin hide-scrollbars {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

$layout-border-color: theme-gray(90%);
$layout-border: 1px solid $layout-border-color;
$layout-border-light: 1px solid theme-gray(95%);
$layout-box-shadow: 0 3px 0 transparentize(theme-gray(20%), 0.99);
$layout-header-height: 72px;
$layout-sidebar-width: 245px;
$layout-column-width-narrow: 900px;
$layout-column-width-wide: 1200px + 30px;
