#root {
  height: 100%;
}

@mixin hide-scrollbars {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

$layout-border: 1px solid theme-gray(90%);
$layout-border-light: 1px solid theme-gray(95%);
$layout-header-height: 68px;
$layout-sidebar-width: 245px;
$layout-box-shadow: 0 3px 0 transparentize(theme-gray(20%), 0.99);
