#root {
  height: 100%;
}

@mixin hide-scrollbars {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

$layout-border: 1px solid theme-gray(91%);
$layout-header-height: 63px;
$layout-sidebar-width: 245px;
