@mixin app-menu {
  @include box-shadow(2);
  @include fade-in(.2s);
  z-index: 3;
  margin: 0;
  border: $layout-border;
  border-radius: 2px;
  min-width: 160px;
  background: $white;
  padding: 8px 0;
  text-align: left;

  & > li {
    @include app-menu-item;
  }
}

@mixin app-menu-item {
  font-size: 14px;
  font-weight: 400;
  color: $black-87;
  line-height: 48px;
  cursor: pointer;

  img {
    vertical-align: middle !important;
  }

  &:hover {
    background: $opaque-black-05;
    transition: background .2s;
  }

  & > a {
    color: inherit;

    &,
    &:hover {
      text-decoration: none;
    }
  }
}
