@mixin app-menu {
  z-index: 2;
  margin: 0;
  border: $layout-border;
  border-radius: 2px;
  min-width: 250px;
  background: $white;
  padding: 2px;

  & > li {
    @include app-menu-item;
  }
}

@mixin app-menu-item {
  font-size: 15px;
  padding: 11px 15px;
  cursor: pointer;

  &:hover {
    background: $opaque-black-05;
  }

  & > a {
    color: inherit;

    &,
    &:hover {
      text-decoration: none;
    }
  }
}
