@mixin app-menu {
  z-index: 2;
  margin: 0;
  border: $layout-border;
  border-radius: 2px;
  min-width: 250px;
  background: #fff;
  padding: 2px;

  & > li {
    @include app-menu-item;
  }
}

@mixin app-menu-item {
  &:hover { background: darken($home-bg, 5%); }
  font-size: 15px;
  padding: 11px 15px;
  cursor: pointer;

  & > a {
    color: inherit;
    &, &:hover { text-decoration: none; }
  }
}
