@mixin app-menu {
  @include box-shadow(2);
  background: $white;
  border-radius: 2px;
  border: $layout-border;
  color: $black-87;
  display: none;
  margin: 0;
  min-width: 250px;
  padding: 8px 0;
  position: absolute;
  text-align: #{$from-direction};
  z-index: 3;

  &--active {
    opacity: 1;
    display: block;
  }

  & > li {
    @include app-menu-item;
  }
}

@mixin app-menu-item {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;

  img {
    vertical-align: middle !important;
  }

  &:hover {
    background: $opaque-black-05;
    transition: background .2s;
  }

  & > a,
  & > span:first-child {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0 16px;
    color: inherit;

    &,
    &:hover {
      text-decoration: none;
    }

    &[class$="--active"] {
      font-weight: bold;
    }
  }
}
