$font-stack-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;
$font-stack-sans-condensed: "Roboto Condensed", $font-stack-sans;
$font-stack-serif: "Merriweather", Georgia, serif;

@mixin onboarding-heading {
  margin: 25px 0 20px;
  font-size: 34px;
  font-family: $font-stack-sans-condensed;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .035em;
  color: $check-blue;
}

@mixin onboarding-blurb {
  font-size: 17px;
  color: $black-87;
  font-family: $font-stack-serif;
  margin-bottom: 30px;
  line-height: 1.45;
}

@mixin app-heading {
  @include onboarding-heading;
  text-align: center;
}

@mixin app-blurb {
  @include onboarding-blurb;
}

@mixin header-title($size: 19px) {
  font-size: $size;
  font-family: $font-stack-sans-condensed;
  margin: 0;

  &,
  & > a {
    color: $black-87;
  }
}

@mixin app-kicker($size: 14px) {
  font-size: $size;
  text-transform: uppercase;
  font-weight: 500;
}

@mixin team-name($size: 17px) {
  font-size: $size;
  font-weight: 600;
  letter-spacing: .02em;
}

@mixin breadcrumb-heading {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 2px 0 0;
}

// Default typography
//
body {
  color: $opaque-black-54;
  font: $font-stack-sans;
  font-size: 14px;

  a,
  a:visited {
    color: $opaque-black-54;
  }

  a:hover {
    color: $opaque-black-87;
    transition: color .4s;
  }
}
