$font-stack-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;
$font-stack-sans-condensed: "Roboto Condensed", $font-stack-sans;
$font-stack-serif: "Merriweather", Georgia, serif;

@mixin onboarding-heading {
  margin: 11px 0 20px 0;
  font-size: 34px;
  font-family: $font-stack-sans-condensed;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  color: hsl(206, 98%, 62%);
}

@mixin onboarding-blurb {
  font-size: 17px;
  color: $dark-gray-text;
  font-family: $font-stack-serif;
  margin-bottom: 30px;
  line-height: 1.45;
}

@mixin app-heading {
  @include onboarding-heading;
  text-align: center;
}

@mixin app-blurb {
  @include onboarding-blurb;
}

@mixin app-kicker {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
}

@mixin team-name($size: 17px) {
  font-size: $size;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: theme-gray(27%);
}

@mixin breadcrumb-heading {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: theme-gray(75%);
  margin: 2px 0 0 0;
}
