.userNameRole {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .userName {
    max-width: 80%;
  }

  .userRole {
    color: var(--textSecondary);
    margin-left: 8px;
  }
}

.user-email {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
