.create-media {
  @include box-shadow(1);
  @include fade-in;
  background-color: $white;
  border-radius: $border-radius-default;
  margin: 0 auto units(2);
  max-width: layout(column-width-narrow);
  padding: units(2) units(1);
  width: 100%;

  footer {
    align-items: top;
    display: flex;
  }

  &__helper {
    @include when-smaller-than(mobile-breakpoint-small) {
      display: none;
    }

    color: $black-38;
    font: font(caption);
  }

  &__title {
    color: $black-87;
    font: font(title);
    padding-#{$from-direction}: units(1);
  }
}

.create-media__buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-#{$from-direction}: auto;
}

// The button to show the dropzone
//
.create-media__insert-photo {
  display: flex;

  svg {
    @extend %icon;

    path {
      color: $black-16;
    }
    margin-#{$to-direction}: 0;
  }
}

.create-media__input {
  // The placeholder
  & > :first-child {

    @include when-smaller-than(mobile-breakpoint-small) {
      font: font(caption);
    }
    padding: 0;
  }
}
