.media-actions {
  position: relative;
  align-self: center;
  text-align: right;
}

.media-actions__icon {
  color: $light-gray-text;
  font-size: 20px;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
}

.media-actions__overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: theme-gray(20%);
  opacity: 0;
  transition: opacity 100ms ease;
  pointer-events: none;

  &--active {
    pointer-events: auto;
    opacity: .5;
  }
}

.media-actions__menu {
  z-index: 2;
  margin: 0;
  border: $layout-border;
  border-top: 0;
  border-radius: 2px;
  position: absolute;
  right: 0;
  min-width: 150px;
  top: 27px;
  display: none;
  background: $home-bg;
  padding: 2px;
  text-align: left;

  &--active {
    display: block;
  }
}

.media-actions__menu-item {
  font-size: 15px;
  padding: 11px 15px;
  cursor: pointer;

  &:hover {
    background: darken($home-bg, 5%);
  }
}

.media-actions__link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }

  &:nth-last-child(-n + 2) {
    color: $light-gray-text;
  }
}
