.media-tags {
  &:empty {
    display: none;
  }

  &--editing {
    margin: units(1) 0;
    width: 100%;
  }
}

.media-tags__header {
  // TODO remove in markup
  display: none;
}

.media-tags__heading {
  font-weight: $font-weight-medium;
  margin-bottom: 1px;
  margin-top: 4px;
  text-transform: uppercase;
  margin-#{$from-direction}: 0;
  margin-#{$to-direction}: units(2);
}

.media-tags__message {
  font: font(caption);
  margin: 0;
}

.media-tags__suggestions {
  display: inline-block;
  margin-bottom: 0;
  margin-top: units(1);
  margin-#{$from-direction}: 0;
  margin-#{$to-direction}: units(1);
}

.media-tags__tag,
.media-tags__suggestion {
  @include chip;
}

.media-tags .tags-list .ReactTags__tag {
  @include chip;
  min-width: units(7);
  margin-#{$to-direction}: units(2);
}

// TODO standardize with other form inputs — CGB 2017-3-12
.media-tags .tags-list input {
  border-bottom: $border-width-small solid $black-16 !important;
  border-width: 0;
  color: $black-87;
  font: font(body2);
  margin: units(1);
  padding: units(1);

  &:focus {
    border-bottom-color: $check-blue !important;
    outline: none;
  }
}

button.ReactTags__remove {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
