.social-media-card {
  color: $black-87;
  display: flex;
  margin-right: 24px;
  flex-flow: nowrap row;
  @media all and (max-width: 700px) {
    flex-wrap: wrap;
  }
}

.social-media-card__header {
  display: flex;
  align-items: flex-start;
}

.social-media-card__author-avatar {
  @include avatar(40px);
  margin-right: 8px;
}

.social-media-card__header-text-primary {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  a {
    color: $black-87;

    &:hover {
      color: $check-blue;
    }

    &:active {
      color: $black-87;
    }
  }
}

// Name and username
// 
.social-media-card__name {
  font-weight: 600;
}

.social-media-card__username {
  overflow-x: hidden;
}

// Truncate when smaller
.social-media-card__name,
.social-media-card__username {
  @media all and (max-width: 400px) {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.social-media-card__header-text-secondary {
  margin-right: 20px;
  text-align: right;
  padding-left: 10px;
}

.social-media-card__body {
  margin: 16px 24px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  @media all and (max-width: $layout-mobile-breakpoint-small) {
    flex-wrap: wrap;
  }

  &--condensed {
    cursor: auto;
  }
}

.social-media-card__body-text {
  padding-right: 10px;
}

.social-media-card__body-image {
  @include image(200px, 100px);
  flex-shrink: 0;
  @media all and (max-width: $layout-mobile-breakpoint-small) {
    margin-top: 8px;
  }
}

.social-media-card__footer {
  padding-left: 0;
  padding-right: 20px;
  margin-top: 12px;
}

.social-media-card__footer-stat {
  margin-right: 16px;
}
