$menu-status-item-padding: units(2);
$menu-status-offset: units(1);

.media-status {
  border-radius: $border-radius-default;
  display: inline-block;
  padding-#{$from-direction}: $menu-status-offset;
  padding-#{$to-direction}: units(1);
  padding-bottom: 0;
  padding-top: units(.5);
  position: relative;

  &--editable {
    cursor: pointer;
    margin-#{$from-direction}: -$menu-status-offset;

    &:hover {
      background-color: $black-05;
      transition: $transition-speed-fast;
    }
  }
}

.media-status__label {
  font-weight: $font-weight-medium;
  text-transform: uppercase;

  &--current {
    height: units(3);
  }
}

// The text of the currently applied status
.media-status__current {
  @include media-status-font-colors;
  position: relative;
}

.media-status__message {
  color: $black-87;
}

// The status menu
.media-status__overlay {
  @include modal-overlay(transparent);
}

.media-status__menu {
  @include menu;
}

.media-status__menu-item {
  @include media-status-menu-hover-colors;
  @include media-status-font-colors;
  align-items: center;
  display: flex;
  padding-#{$from-direction}: units(2);

  .media-status__icon--radio-button-selected {
    display: none;
  }

  svg {
    margin-#{$to-direction}: units(1);
    height: units(2);
    width: units(2);
  }

  &:hover {
    opacity: 1;
  }

  &--current {
    opacity: .9;

    .media-status__icon--radio-button-selected {
      display: inline-block;
    }

    .media-status__icon--radio-button {
      display: none;
    }
  }
}
