.media-inspector {
  #{$from-direction}: 0;
  #{$to-direction}: 0;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 100ms ease;
  z-index: 1;

  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.media-inspector__overlay {
  @include modal-overlay;
}

.media-inspector__media {
  position: relative;
  width: 100%;
  z-index: 2;

  .close-button {
    align-self: flex-end;
  }
}

.media-inspector__caption-url {
  color: $black-38;
  margin: 12px 0;
  word-wrap: break-word;
}
