#media-embed__actions {
  text-align: $to-direction;

  span {
    cursor: pointer;
    padding: units(1) units(2);
    text-transform: uppercase;
    color: $check-blue;
    font-size: 14px;
    font-weight: bold;
  }
}

#media-embed__customization-menu {
  padding: 0;

  li {
    display: flex;
    list-style: none;
    padding: 16px;
  }

  .media-embed__customization-label {
    font-size: 16px;
    flex-grow: 1;
    padding-#{$to-direction}: 16px;

    .media-embed__customization-slogan {
      font-size: 14px;
      color: $opaque-black-54;
    }
  }
}

#media-embed__copy-code {
  padding: 16px;
  width: 560px;

  .media-embed__warning {
    color: $media-status-red;
    font-weight: bold;
    font-size: 14px;
  }

  .media-embed__copy-footer {
    display: flex;
  }

  #media-embed__code-field {
    font-family: 'Roboto Mono';
    font-size: 12px;
    flex-grow: 1;
    padding: 1px;
    border: 1px solid #eee;
    background: transparent;
    margin-#{$to-direction}: 16px;

    &:focus {
      outline: none;
    }
  }

  .media-embed__copy-button,
  .media-embed__copy-button-inactive {
    text-transform: uppercase;
    font-size: 14px;
    padding-#{$from-direction}: 16px;
    border-#{$from-direction}: 1px solid $black-16;
  }
  
  .media-embed__copy-button {
    cursor: pointer;
    color: $check-blue;
  }
  
  .media-embed__copy-button-inactive {
    color: $opaque-black-54;
  }
}
