.media-checklist {
  margin: 0 auto;
  max-width: layout(card-width-large);
  padding: units(2);
  width: 100%;

  &,
  p {
    color: $white;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-position: outside;
    margin: 0;
  }

  h4 {
    background-color: transparent;
    display: inline-block;
    font: font(caption);
    font-weight: font-weight-bold;
    margin: 0;
    text-transform: uppercase;

    &::after {
      content: '–';
      font-weight: $font-weight-normal;
      padding-#{$from-direction}: units(1);
      padding-#{$to-direction}: units(1);
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  & > span {
    margin-#{$from-direction}: 0;
    display: inline-block;
  }

  em {
    font-style: normal;
    font-weight: $font-weight-bold;
  }
}
