$menu-status-item-padding: 16px;

.media-status {
  position: relative;
  padding: 3px 3px 0 5px;
  border-radius: 2px;
  display: inline-block;

  &--editable {
    cursor: pointer;
    margin-left: -4px;
  }

  &__caret {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $black-05;
    transition: .2s;
  }

  &:hover &__caret {
    color: $black-54;
  }
}

.media-status__label {
  @include app-kicker(14px);

  &--current {
    height: 24px;
  }
}

// current
.media-status__current {
  @include media-status-font-colors;
  position: relative;
  border-left: 1px solid transparent;
  white-space: nowrap;
}

.media-status__message {
  color: $black-87;
}

// menu
.media-status__overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease;

  &--active {
    pointer-events: auto;
  }
}

.media-status__menu {
  // TODO This should probably be based on @mixin app-menu CGB 2017-2-16
  @include box-shadow(2);
  z-index: 3;
  position: absolute;
  top: 31px;
  left: -15px;
  min-width: 250px;
  padding: 8px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  background: $white;

  &--active {
    pointer-events: auto;
    opacity: 1;
  }
}

.media-status__menu-item {
  @include media-status-font-colors;
  @include media-status-menu-hover-colors;
  padding: $menu-status-item-padding;
  font-size: 15px;
  cursor: pointer;
  opacity: .7;
  transition: opacity 200ms ease;
  margin-right: 5px;

  .media-status__icon--radio-button-selected {
    display: none;
  }

  svg {
    margin-right: 8px;
  }

  &:hover {
    opacity: 1;
  }

  &--current {
    opacity: .9;

    .media-status__icon--radio-button-selected {
      display: inline-block;
    }

    .media-status__icon--radio-button {
      display: none;
    }
  }
}
