.media-header {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.media-header__copy {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 195px;
  text-align: center;

  // ellipsis truncation requires explicit width
  @media screen and (min-width: 400px) {
    width: 200px;
  }

  @media screen and (min-width: 500px) {
    width: 300px;
  }

  @media screen and (min-width: 600px) {
    width: 400px;
  }

  @media screen and (min-width: 700px) {
    width: 500px;
  }

  @media screen and (min-width: 800px) {
    width: 600px;
  }

  @media screen and (min-width: 900px) {
    width: 700px;
  }
}

.media-header__title {
  @include header-title(16px);
  margin: 0 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
