.media-detail {
  padding: 8px 14px 14px 14px;
  border: $layout-border;
  border-radius: 2px;
  @include media-status-background-and-border-colors;
  box-shadow: $layout-box-shadow;
  margin-bottom: 14px;
}

.media-detail__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media-detail__status {
  display: inline-block;
  margin-bottom: 4px;
}

// op

.media-detail__media {
  border-radius: 2px;
  position: relative;
  // background: #fff;
}

// check

.media-detail__check-metadata {
  margin-top: 11px;
  @include media-metadata;
}

.media-detail__check-added-at {
  margin-right: 15px;
}

.media-detail__check-notes-count {
  margin-right: 15px;
}

.media-detail__title {
  @include media-title(20px);
  margin: 0 0 17px 1px;
}

.media-detail__title-input {
  // color: #879cab;
  padding: 3px 5px 3px 5px;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  margin: -1px 0 15px 0;
  font-size: 19px;
  font-family: $font-stack-sans-condensed;
  font-weight: 600;
  width: 100%;
  max-width: 500px;
}

.media-detail__description {
  margin-top: 9px;
  max-width: 42em;
  line-height: 1.35;

  color: theme-gray(45%);
}

.media-detail__editing-buttons {
  margin-bottom: 8px;
}

.media-detail__cancel-edits {
  margin-right: 8px;
}
