.media-inspector {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 100ms ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.media-inspector__overlay {
  @include modal-overlay;
  background-color: $midnight-blue-90;
}

.media-inspector__media {
  position: relative;
  z-index: 2;
  width: 100%;

  .close-button {
    align-self: flex-end;
  }
}

.media-inspector__caption-url {
  color: $black-38;
  margin: 12px 0;
  word-wrap: break-word;
}
