.medias-loading {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.medias-loading__medias {
  flex: 3;
}

.medias-loading__media {
  $loader-grid-unit: 16px;
  background: $white;
  border: 1px solid $black-05;
  border-radius: 3px;
  margin: $loader-grid-unit 0;
  min-height: 200px;
  padding: $loader-grid-unit;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  div {
    @extend %shimmer;

    height: $loader-grid-unit;
    border-radius: 50px;

    &:nth-of-type(1) {
      margin-top: $loader-grid-unit;
      width: 30%;
    }

    &:nth-of-type(2) {
      margin-top: $loader-grid-unit;
    }

    &:nth-of-type(3) {
      margin-top: $loader-grid-unit;
    }

    &:nth-of-type(4) {
      margin-top: $loader-grid-unit;
      width: 80%;
    }
  }
}
