// Uploaded image reports
//

// On the project page
//
.project .image-media-card img {
  width: auto;
}

.image-media-card {
  padding: 0;
}

// On the detail view
//
.image-media-card img {
  width: 100%;
}

// Uploaded images are full bleed
.media__expanded .media-detail--image .media-detail__media {
  margin: -1 * units(2);
  margin-bottom: -1 * units(4);
}
