.quote-media-card {
  border-radius: $border-radius-default;
  min-height: none;
  overflow-x: hidden;
  margin-#{$to-direction}: units(3);
}

.quote-media-card__body-text {
  font: font(headline);
  font-weight: $font-weight-light;
  margin-bottom: units(2);
  padding-top: units(2);

  @include when-smaller-than(mobile-breakpoint) {
    font: font(subheading2);
  }
}

.quote-media-card__attribution {
  padding-#{$from-direction}: 55%;
}

.quote-media-card__attribution-name,
.quote-media-card__attribution-link {
  font-weight: $font-weight-light;
  margin: units(half) units(1);
  max-width: units(25);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quote-media-card__attribution-name {
  font-size: units(2);
  max-width: units(38);
}
