.media {}

.media__contents {
  margin: 15px auto;
  max-width: $media-max-width;
}

.media__notes-heading {
  text-align: center;
  font-size: 18px;
  font-family: $font-stack-sans-condensed;
  color: $light-gray-text;
  font-weight: 400;
  margin: 65px 0 25px;
}
