$menu-status-item-padding: 11px 15px 11px 13px;

.media-status {
  position: relative;
  margin-bottom: 5px;

  &--editable {
    cursor: pointer;
  }
}

.media-status__icon {
  margin-right: 10px;
  font-size: 12px;

  &--caret {
    margin-left: 5px;
    opacity: .85;
    font-size: 11px;
  }
}

.media-status__label {
  @include app-kicker;
}

// current
.media-status__current {
  @include media-status-font-colors;
  position: relative;
  border-left: 1px solid transparent;
  white-space: nowrap;
}

.media-status__message {
  font-size: 14px;
  color: $black-87;
}

// menu
.media-status__overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease;

  &--active {
    pointer-events: auto;
    opacity: .15;
  }
}

.media-status__menu {
  @include box-shadow(2);
  z-index: 3;
  position: absolute;
  top: 31px;
  left: -15px;
  min-width: 250px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  background: #fff;
  border-radius: 3px;
  border: $layout-border;

  &--active {
    pointer-events: auto;
    opacity: 1;
  }
}

.media-status__menu-item {
  @include media-status-font-colors;
  @include media-status-menu-hover-colors;
  border-bottom: $layout-border;
  padding: $menu-status-item-padding;
  font-size: 15px;
  cursor: pointer;
  opacity: .7;
  transition: opacity 200ms ease;

  .media-status__icon--radio-button-selected {
    display: none;
  }

  &:hover {
    opacity: 1;
  }

  &--current {
    opacity: .9;

    .media-status__icon--radio-button-selected {
      display: inline-block;
    }

    .media-status__icon--radio-button {
      display: none;
    }
  }
}
