.media-actions {
  position: relative;
  text-align: right;
  margin-#{$from-direction}: auto;
}

.media-actions__icon {
  @extend %icon;
}

.media-actions__overlay {
  @include modal-overlay(tranparent);
}

.media-actions__menu {
  @include app-menu;
  position: absolute;
  #{$to-direction}: 0;
  top: 27px;
  display: none;

  &--active {
    display: block;
  }
}

.media-actions__menu-item { // TODO: merge with header-actions and app-menu-item
  font-size: 15px;
  padding: 0 16px;
  cursor: pointer;

  &:hover {
    background: $opaque-black-05;
  }
}

.media-actions__link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }

  &:nth-last-child(-n + 2) {
    color: $black-38;
  }
}
