.quote-media-card {
  border-radius: 4px;
  min-height: none;
  color: $black-54;
  overflow-x: hidden;
  margin-right: 24px;
}

.quote-media-card__body-text {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 15px;
}

.quote-media-card__attribution {
  padding-left: 55%;
}

.quote-media-card__attribution-name,
.quote-media-card__attribution-link {
  color: $black-54;
  margin: 3px 7px;
  font-weight: 200;
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote-media-card__attribution-name {
  font-size: 16px;
  max-width: 300px;
}
