$menu-status-item-padding: 16px;
$menu-status-offset: 5px;

.media-status {
  position: relative;
  padding-top: 3px;
  padding-#{$to-direction}: 3px;
  padding-bottom: 0;
  padding-#{$from-direction}: $menu-status-offset;
  border-radius: 2px;
  display: inline-block;

  &--editable {
    cursor: pointer;
    margin-#{$from-direction}: -$menu-status-offset;

    &:hover {
      background-color: $black-05;
      transition: .2s;
    }
  }

  &__caret {
    width: 20px;
    height: 20px;
  }

  &:hover &__caret {
    color: $black-54;
  }
}

.media-status__label {
  text-transform: uppercase;
  font-weight: 500;

  &--current {
    height: 24px;
  }
}

// The text of the currently applied status
.media-status__current {
  @include media-status-font-colors;
  position: relative;
  white-space: nowrap;
}

.media-status__message {
  color: $black-87;
}

// The status menu
.media-status__overlay {
  @include modal-overlay(transparent);
}

.media-status__menu {
  @include app-menu;
}

.media-status__menu-item {
  @include media-status-menu-hover-colors;
  @include media-status-font-colors;
  padding-#{$from-direction}: 16px;

  .media-status__icon--radio-button-selected {
    display: none;
  }

  svg {
    margin-#{$to-direction}: 8px;
  }

  &:hover {
    opacity: 1;
  }

  &--current {
    opacity: .9;

    .media-status__icon--radio-button-selected {
      display: inline-block;
    }

    .media-status__icon--radio-button {
      display: none;
    }
  }
}
