.media-tags {
  &:empty {
    display: none;
  }
}

.media-tags__header {
  // TODO remove in markup
  display: none;
}

.media-tags__heading {
  @include app-kicker;
  margin-top: 4px;
  margin-#{$to-direction}: 16px;
  margin-bottom: 1px;
  margin-#{$from-direction}: 0;
}

.media-tags__message {
  font-size: 13px;
  margin: 0;
}

.media-tags__suggestions {
  display: inline-block;
  margin-top: 5px;
  margin-#{$to-direction}: 10px;
  margin-bottom: 0;
  margin-#{$from-direction}: 0;
}

.media-tags__tag,
.media-tags__suggestion {
  @include chicklet;
}

.media-tags .tags-list .ReactTags__tag {
  @extend %chip;
  margin-#{$to-direction}: 15px;
  min-width: 52px;
}

// Tags list in both modes
.media-tags__list,
.media-tags .tags-list {
  // TBD
}

.media-tags .tags-list input {
  color: $black-38;
  padding: 3px 5px;
  border: 1px solid $black-16;
  border-radius: 4px;
  margin: 4px 10px 5px;
  font-size: 12px;
  font-weight: 400;
}
