$menu-status-item-padding: 11px 15px 11px 13px;

.media-status {
  position: relative;
  top: -11px;
  left: -15px;

  margin-bottom: 5px;
  cursor: pointer;
}

.media-status__icon {
  margin-right: 10px;
  font-size: 12px;

  &--caret {
    margin-left: 5px;
    opacity: 0.85;
    font-size: 11px;
  }
}

.project .media-status__icon--caret { display: none; } // TODO: enable status change on project page

.media-status__label {
  @include app-kicker;
  font-weight: 500;
}

// current

.media-status__current {
  position: relative;
  padding: $menu-status-item-padding;
  border-left: 1px solid transparent;

  @include media-status-colors;
}

.media-status__message {
  font-size: 14px;
  color: theme-gray(75%);
  font-size: 14px;
}

// menu

.media-status__overlay {
  // TODO: mixinify?
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: theme-gray(20%);

  opacity: 0;
  pointer-events: none;
  &--active {
    pointer-events: auto;
    opacity: 0.15;
  }
  transition: opacity 100ms ease;
}

.media-status__menu {
  z-index: 3;
  position: absolute;
  top: bottom;
  left: 0;
  min-width: 190px;

  opacity: 0;
  pointer-events: none;
  &--active {
    pointer-events: auto;
    opacity: 1;
  }
  transition: opacity 200ms ease;

  // style
  background: #fff;
  border-radius: 3px;
  border: $layout-border;
  box-shadow: 3px 3px 0 transparentize(theme-gray(20%), 0.99);
}

.media-status__menu-item {
  @include media-status-colors;

  $hover-bg-opacity: 0.15;
  &--undetermined:hover { background: rgba($blue-100, $hover-bg-opacity); }
  &--in-progress:hover { background: rgba($orange-100, $hover-bg-opacity); }
  &--verified:hover { background: rgba($green-100, $hover-bg-opacity); }
  &--false:hover { background: rgba($red-100, $hover-bg-opacity); }
  &--not-applicable:hover { background: rgba($gray-100, $hover-bg-opacity); }

  border-bottom: $layout-border; // TODO: consistent opacity
  padding: $menu-status-item-padding;

  font-size: 15px;
  cursor: pointer;

  opacity: 0.7; &:hover { opacity: 1; }
  transition: opacity 200ms ease;
  .media-status__icon--radio-button-selected { display: none; }
  &--current {
    opacity: 0.9;
    .media-status__icon--radio-button-selected { display: inline-block; }
    .media-status__icon--radio-button { display: none; }
  }
}
