// An outer wrapper only on the report page 
// 
.media__contents {
  margin: 15px auto;
  max-width: $layout-column-width-narrow;
}

// Wrapper around all reports (globally)
// TODO: This should be renamed to avoid misleading use of "detail"
// Since it does not only apply to the detail view. — CGB 
// 
.media-detail {
  @include media-status-background-and-border-colors;
  @include box-shadow(1);
  padding: 12px 0 0 24px;
  border-left: 4px solid;
  border-radius: 2px;
  margin-bottom: 24px;
  background-color: $white;
}

// Row with the status and actions menu button
//
.media-detail__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media-detail__status {
  display: inline-block;
}

// Optional title
//
.media-detail__title {
  @include header-title(24px);
  margin: 2px 24px 14px 0;
}

// Optional description
//
.media-detail__description {
  margin-top: 9px;
  max-width: 42em;
  line-height: 1.35;
  color: theme-gray(45%);
}

// The "inner card"
// This contains the "original upstream" media
//
.media-detail__media {
  border-radius: 2px;
  position: relative;
}

// Check metadata
//
.media-detail__check-metadata {
  @include media-metadata;
  display: flex;
  align-items: center;
  border-top: 1px solid $black-05;
  margin-top: 24px;
  font-size: 12px;
}

.media-detail__check-added-at,
.media-detail__check-added-by,
.media-detail__check-notes-count {
  margin-right: 16px;
  min-width: 50px;
  min-height: 48px;
  display: flex;
  align-items: center;
  span {
    padding-left: 3px;
  }
}

// Edit mode
//
.media-detail__title-input {
  padding: 3px 5px;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  margin: -1px 0 15px;
  font-size: 19px;
  font-family: $font-stack-sans-condensed;
  font-weight: 600;
  width: 100%;
  max-width: 500px;
}

.media-detail__editing-buttons {
  margin: 8px 8px 8px auto;
  span {
    display: block;
    margin: 8px 4px;
  }
}

// The headline that says "Verification timeline"
//
.media__notes-heading {
  text-align: center;
  font-size: 18px;
  font-family: $font-stack-sans-condensed;
  color: $light-gray-text;
  font-weight: 400;
  margin: 65px 0 25px;
}
