// Media mixins
//
@mixin media-metadata {
  @include gray-text;

  a {
    color: inherit;
  }
}


// Font colors of media status labels
// 
@mixin media-status-font-colors {

  #{$blue-selectors} {
    color: $media-status-blue;
  }

  #{$orange-selectors} {
    color: $media-status-orange;
  }

  #{$green-selectors} {
    color: $media-status-green;
  }

  #{$red-selectors} {
    color: $media-status-red;
  }

  #{$gray-selectors} {
    color: $media-status-gray;
  }

  #{$black-selectors} {
    color: $media-status-black;
  }
}

// Background of media detail page 
//
@mixin media-status-background-colors {
  #{$blue-selectors} {
    background-color: $media-status-blue-page-bg;
  }

  #{$orange-selectors} {
    background-color: $media-status-orange-page-bg;
  }

  #{$green-selectors} {
    background-color: $media-status-green-page-bg;
  }

  #{$red-selectors} {
    background-color: $media-status-red-page-bg;
  }

  #{$gray-selectors} {
    background-color: $media-status-gray-page-bg;
  }

  #{$black-selectors} {
    background-color: $media-status-black-page-bg;
  }
}

// Borders of media items
//
@mixin media-status-border-colors {
  #{$blue-selectors} {
    border-color: $media-status-blue-page-bg;
  }

  #{$orange-selectors} {
    border-color: $media-status-orange-page-bg;
  }

  #{$green-selectors} {
    border-color: $media-status-green-page-bg;
  }

  #{$red-selectors} {
    border-color: $media-status-red-page-bg;
  }

  #{$gray-selectors} {
    border-color: $media-status-gray-page-bg;
  }

  #{$black-selectors} {
    border-color: $media-status-black-page-bg;
  }
}

// Backgrounds in the status menu
//
@mixin media-status-menu-hover-colors {
  #{$blue-selectors} {
    &:hover {
      background: $media-status-blue-menu-hover-bg;
    }
  }

  #{$orange-selectors} {
    &:hover {
      background: $media-status-orange-menu-hover-bg;
    }
  }

  #{$green-selectors} {
    &:hover {
      background: $media-status-green-menu-hover-bg;
    }
  }

  #{$red-selectors} {
    &:hover {
      background: $media-status-red-menu-hover-bg;
    }
  }

  #{$gray-selectors} {
    &:hover {
      background: $media-status-grey-menu-hover-bg;
    }
  }

  #{$black-selectors} {
    &:hover {
      background: $media-status-black-menu-hover-bg;
    }
  }
}