.pender-card {
  min-height: 200px;
  position: relative;

  iframe {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.pender-card__loader {
  display: inline-block;
  $size: 35px; width: $size; height: $size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .react-spinner {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }

  .react-spinner_bar {
    animation: spinner 1.2s linear infinite;
    border-radius: 5px;
    background-color: theme-gray(50%);
    position: absolute;
    width: 20%;
    height: 8%;
    top: -4%;
    left: -10%;
  }

  @keyframes spinner {
    0% { opacity: 0; }
    20% { opacity: 0.25; }
    100% { opacity: 0; }
  }
}
