.pender-card {
  min-height: 200px;
  position: relative;
  max-height: 2000px;
  overflow-y: hidden;

  iframe {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.pender-card__loader {
  $size: 100%;
  width: $size;
  height: $size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .social-media-card {
    border: 0;
    padding-top: 40px;
  }
}
