.quote-media-card {
  background-color: #fff;
  border: $layout-border;
  border-radius: 4px;
  padding: 10px;
  min-height: none;
  color: $medium-gray-text;
}

.quote-media-card__body-text {
  font-size: 24px;
  font-weight: 100;
  margin-left: 50px;
  margin-bottom: 15px;
  &:before {
    color: $lightest-gray-text;
    content: "\f10d";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 30px;
    margin-left: -50px;
    padding: 0 10px;
  }
}

.quote-media-card__attribution {
  padding-left: 55%;
}

.quote-media-card__attribution-name,
.quote-media-card__attribution-link {
  color: $medium-gray-text;
  margin: 3px 7px;
  font-weight: 200;
  font-size: 14px;
  max-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote-media-card__attribution-name {
  font-size: 16px;
  max-width: 300px;
}
