.social-media-card {
  background-color: #fff;
  border: $layout-border;
  border-color: $firefly-60-2;
  border-radius: 4px;
  padding: 10px;
  min-height: none;
  color: $firefly-80;
}

.social-media-card__header {
  display: flex;
  align-items: flex-start;
}

.social-media-card__network-icon {
  width: 24px;
  font-size: 24px;
  margin-right: 10px;
  color: theme-gray(60%);
}

.social-media-card__author-avatar {
  margin-right: 14px;
  @include avatar(40px);
}

.social-media-card__header-text-primary {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 10;
  a {
    color: $firefly-80;
    &:hover { color: $check-blue; }
    &:active { color: $firefly; }
  }
}

.social-media-card__name {
  font-size: 16px;
  font-weight: 600;
  color: $firefly-80;
}

.social-media-card__username {
  font-size: 14px;
  color: $firefly-40;
}

.social-media-card__header-text-secondary {
  font-size: 14px;
  &, & > a { color: $firefly-40; }
  margin-right: 20px;
  text-align: right;
  padding-left: 10px;
}

.social-media-card__body {
  margin: 18px 20px 18px 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
}

.social-media-card__body-text {
  padding-right: 10px;
}

.social-media-card__body-image {
  @include image(72px);
}

.social-media-card__footer {
  padding-left: 0;
  padding-right: 20px;
}

.social-media-card__footer-stat {
  @include media-metadata;
  margin-right: 15px;
}
