doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Check
    link(href='/images/logo/favicon.ico', rel='icon')
    script(src='/js/config.js')
    script(src='/js/newrelic.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400|Merriweather:400|Roboto:400,700,500,300|' rel='stylesheet' type='text/css')

  body
    #root
  script(src='/js/index.bundle.js')

  //- Temporary logic for RTL stylesheets — 2017-3-15 CGB
  script.
      (function(){
        //- 1. Add a locale-based attribute to facilitate styling 
        document.body.setAttribute("lang", config.locale);

        //- 2. Add (only one) stylesheet appropriate for the locale
        if (config.locale == "ar") {
          var rtlStylesheet = document.createElement("link");
          rtlStylesheet.href = "/css/stylesheet-rtl.css";
          rtlStylesheet.setAttribute('rel', 'stylesheet');
          rtlStylesheet.setAttribute('type', 'text/css');
          document.head.appendChild(rtlStylesheet);
        } else {
          var ltrStylesheet = document.createElement("link");
          ltrStylesheet.href = "/css/stylesheet.css";
          ltrStylesheet.setAttribute('rel', 'stylesheet');
          ltrStylesheet.setAttribute('type', 'text/css');
          document.head.appendChild(ltrStylesheet);
        }
      })()

