doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Checkdesk
    link(href='/css/stylesheet.css', rel='stylesheet')
    link(href='/images/logo/favicon.ico', rel='icon')
    script(src='/js/config.js')

  body
    #root
  script(src='/js/index.bundle.js')
