doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ...
    link(href='/images/logo/favicon.ico', rel='icon')
    script(src='/js/config.js' defer='defer')
    script(src='/js/newrelic.js' defer='defer')
    script(src='/js/vendor.bundle.js' defer='defer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pusher/4.0.0/pusher.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|' rel='stylesheet' type='text/css')

  body
    #root
  script(src='/js/index.bundle.js' defer='defer')
