doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Check
    link(href='/images/logo/favicon.ico', rel='icon')
    script(src='/js/config.js')
    script(src='/js/newrelic.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400|Merriweather:400|Roboto:400,700,500,300|' rel='stylesheet' type='text/css')

  body
    #root
  script(src='/js/index.bundle.js')
