doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Checkdesk
    link(href='/css/stylesheet.css', rel='stylesheet')
    link(href='/images/logo/favicon.ico', rel='icon')
    script(src='/js/config.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Merriweather:400,400italic,700italic,700|Roboto:700,500,400,300,100,900|' rel='stylesheet' type='text/css')

  body
    #root
  script(src='/js/index.bundle.js')
