.articleCard {
  display: block;
  min-width: 500px;
}

.card {
  background-color: var(--color-white-100);
  border: 1px solid var(--color-gray-88);
  border-radius: 8px;
  outline: solid 1px transparent;
  padding: 8px;
  transition: border-color 225ms cubic-bezier(0, 0, .2, 1) 0ms, outline-color 225ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: 100%;
}

.articleIcon {
  font-size: var(--font-size-subtitle-1);
  margin-right: .5px;
}

.articleType {
  color: var(--color-gray-37);
}

.articleCardHeader {
  align-items: flex-start;
  display: flex;

  & > div {
    display: flex;
  }

  & > div + div {
    align-items: center;
  }
}

.articleCardRight {
  align-items: flex-end;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  text-align: right;
  width: 150px;
}
