.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .seachHeader {
    border: solid 2px;
  }

  .seachResults {
    border: solid 2px;
  }
}

.heading {
  color: var(--color-gray-37);
  padding-left: 10px;
}
