.mediaArticlesDisplay {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  padding: 0 16px 16px;
  width: 100%;

  &::before {
    background-color: var(--color-white-100);
    content: '';
    display: block;
    flex-shrink: 0;
    height: 2px;
    left: 0;
    margin: auto -16px 0;
    position: relative;
    right: 0;
    z-index: 2;
  }
}

.explainerCard:hover {
  opacity: 1 !important;
}
