.snackbar-wrapper {
  margin: 0 0 0 16px;
  max-width: 500px;

  .snackbar-message-details {
    cursor: pointer;
    margin-bottom: 8px;
    user-select: none;

    textarea {
      width: 100%;
    }
  }
}
