.sharedFeedTitle {
  color: var(--textSecondary);
  text-transform: uppercase;
}

.createFeedContainer {
  background: var(--grayBackground);
  display: flex;
  gap: 32px;
  height: 100%;
  overflow: auto;
  padding: 16px 32px 32px;
}

.createFeedContent {
  --iconSize: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  max-width: 650px;
}

.createFeedContentNarrow {
  padding-top: 16px;
}

.createFeedCard {
  background: var(--otherWhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.licenseOption {
  align-items: center;
  display: flex;
  padding: 8px;
}

.licenseOptionIcon {
  align-items: center;
  display: flex;
  font-size: var(--iconSize);
  margin-right: 16px;
}

.licenseOptionDescription {
  color: var(--textSecondary);
}

.licenseOptionDisabled {
  color: var(--textDisabled);
}
