.feedClusters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  padding: 0 16px 16px;
}

.feedClustersToolbar {
  background: var(--otherWhite);
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.feedClustersPagination {
  align-items: center;
  display: flex;
  gap: 4px;
}
