.feedTopBar {
  align-items: center;
  border: 2px solid var(--brandMain);
  border-radius: 6px;
  display: inline-flex;
  gap: 12px;
  padding: 6px;

  .feedListTitle {
    color: var(--textPrimary);
  }

  .feedNoListTitle {
    color: var(--textPlaceholder);
    font-style: italic;
  }

  .feedListIcon {
    background: var(--grayBackground);
    color: var(--textSecondary);
    margin-left: 8px;
  }
}
