.feedClusters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  padding: 16px;
}

.feedClustersToolbar {
  display: flex;
  justify-content: space-between;
}

.feedClustersPagination {
  align-items: center;
  display: flex;
  gap: 4px;
}
