.feedHeader {
  margin: 16px 0;

  .feedHeaderSubtitle {
    text-transform: uppercase;
  }

  .feedHeaderTitle {
    color: var(--textPrimary);
    margin: 0;
  }

  .feedHeaderRow {
    align-items: center;
    display: flex;
    gap: 12px;
  }

  .feedHeaderIcons {
    align-items: center;
    display: flex;
    gap: 12px;
  }

  .feedHeaderIcon {
    background: var(--grayBackground);
    border: 2px solid var(--grayBorderMain);
    border-radius: 8px;
    color: var(--textSecondary);
    height: 32px;
    width: 32px;

    &:hover {
      background: var(--brandHoverAccent);
      border-color: var(--brandBorder);
      color: var(--textSecondary);
    }
  }
}
