.feed-collab-card {
  background: var(--otherWhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.feed-collab-input {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: 8px;
}

.feed-collab-invites {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feed-collab-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.feed-collab-icon {
  border: 2px solid var(--grayBorderMain);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-size: var(--iconSizeDefault);
  height: 40px;
  padding: 6px;
  width: 40px;
}

.invitationSentIcon {
  color: var(--alertMain);
}

.invitationSentLabel {
  color: var(--alertSecondary);
}

.feed-collab-label {
  flex: auto;
}

.feed-collab-organizer {
  color: var(--textPlaceholder);
}

.feed-collab-text-field {
  flex: auto;
}
