.feedBlankState {
  background: var(--otherWhite);
  border-radius: 0 0 8px 8px;
  padding-bottom: 32px;
  text-align: center;

  h6 {
    margin: 16px;
  }

  p {
    margin: auto;
    width: 242px;
  }

  svg {
    font-size: var(--iconSizeBig);
  }
}
