.user-info-wrapper {
  align-items: flex-start;
  display: flex;

  .user-info-avatar {
    flex: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 16px;
  }

  .user-info-primary {
    flex: 3;

    .user-info-name {
      align-items: center;
      display: flex;
      gap: 8px;
      margin-bottom: 8px;
    }

    .user-info-description {
      color: var(--textSecondary);
      margin-bottom: 8px;
    }

    .contact-info {
      align-items: center;
      color: var(--textSecondary);
      display: flex;
      flex-flow: wrap row;
      gap: 8px;
      margin: 0 0 16px;
    }
  }
}
