.articleCard {
  display: block;

  .articleCardDescription {
    align-items: flex-start;
    display: flex;

    /* flex: 1 0 0; */
    flex-direction: column;
    gap: 6px;
    width: calc(100% - 170px);
  }

  .cardRight {
    min-width: 150px;
    text-align: right;
  }
}
