.itemCard {
  background-color: transparent;
  position: relative;

  .listItemUnread {
    &::before {
      background-color: var(--textPlaceholder);
      border-radius: 3px;
      bottom: 6px;
      content: '';
      left: 6px;
      overflow: hidden;
      position: absolute;
      right: auto;
      top: 6px;
      width: 5px;
    }
  }

  .sharedItemCardLeft {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;
    grid-gap: 0 16px;
    justify-content: space-between;
  }

  .sharedItemCardMiddle {
    align-items: flex-start;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 6px;

    .sharedItemCardWorkspaces {
      align-items: center;
      display: flex;
      gap: 10px;

      .extraWorkspaces {
        align-items: center;
        background-color: var(--otherWhite);
        border: 2px solid var(--grayBorderMain);
        border-radius: 6px;
        color: var(--textSecondary);
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        font-feature-settings: 'clig' off, 'liga' off;
        gap: 12px;
        height: 30px;
        justify-content: center;
        padding: 6px;
        text-align: center;
        width: 30px;
      }
    }
  }

  .bulletSeparator > div {
    color: var(--grayBorderAccent);
  }

  .workspaceItemCardRating {
    align-items: flex-end;
    display: flex;
    gap: 3px;
    justify-content: flex-end;

    .publishedLabel > button > div > svg {
      color: var(--validationMain);
    }
  }

  .checkbox {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 0 0 42px;
    flex-direction: row;
    overflow: hidden;
  }
}
