.alert-wrapper {
  align-items: flex-start;
  border-radius: var(--border-radius-large);
  display: flex;
  gap: 10px;
  padding: 16px;
  width: 100%;

  .iconWrapper {
    flex: 0 0 24px;
    font-size: var(--iconSizeDefault);
    height: 24px;
  }

  .contentWrapper {
    flex: 1 1 auto;
    padding: 2px 0 0;

    .title {
      @mixin typography-subtitle2;
    }

    .content {
      @mixin typography-body1;
    }

    .title + .content {
      margin: 6px 0 0;
    }

    .actionsWrapper {
      margin: 12px 0 0;
    }
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }

  a:not([href]) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.floating {
    border: solid 2px var(--color-blue-38);
    box-shadow: 0 3px 14px 2px rgba(0 0 0 / .12), 0 8px 10px 1px rgba(0 0 0 / .14), 0 5px 5px -3px rgba(0 0 0 / .2);
    max-width: 320px;
  }

  &.banner {
    border-radius: var(--border-radius-zero);
  }

  &.contained {
    border: solid 2px var(--color-blue-38);
    border-radius: var(--border-radius-medium);
    padding: 12px;

    .iconWrapper {
      flex: 0 0 20px;
      font-size: var(--iconSizeSmall);
      height: 20px;
    }

    .contentWrapper {
      .title {
        @mixin typography-body1-bold;
      }

      .content {
        @mixin typography-body2;
      }
    }
  }

  &.success {
    background-color: var(--color-green-97);
    border-color: var(--color-green-23);
    color: var(--color-green-23);
  }

  &.warning {
    background-color: var(--color-orange-95);
    border-color: var(--color-orange-31);
    color: var(--color-orange-31);
  }

  &.info {
    background-color: var(--color-blue-98);
    border-color: var(--color-blue-38);
    color: var(--color-blue-38);
  }

  &.error {
    background-color: var(--color-pink-96);
    border-color: var(--color-pink-40);
    color: var(--color-pink-40);
  }

  &.persist-alert-flash-message {
    max-width: inherit;
    min-width: 600px;

    details {
      cursor: pointer;
      margin: 8px 0;
      user-select: none;

      textarea {
        width: 100%;
      }
    }
  }
}

.alert-flash-home-message {
  left: 0;
  margin-top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
