.alert-wrapper {
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  gap: 10px;
  padding: 16px;
  position: relative;
  width: 100%;

  &.floating {
    border: solid 2px var(--color-blue-38);
    box-shadow: 0 4px 16px 0 rgba(0 0 0 / .1);
    max-width: 320px;
  }

  &.banner {
    border-radius: 0;
  }

  &.contained {
    border: solid 1px var(--color-blue-38);
    border-radius: 5px;
  }

  &.success {
    background-color: var(--color-green-97);
    border-color: var(--color-green-23);
    color: var(--color-green-23);
  }

  &.warning {
    background-color: var(--color-orange-95);
    border-color: var(--color-orange-31);
    color: var(--color-orange-31);
  }

  &.info {
    background-color: var(--color-blue-98);
    border-color: var(--color-blue-38);
    color: var(--color-blue-38);
  }

  &.error {
    background-color: var(--color-pink-96);
    border-color: var(--color-pink-40);
    color: var(--color-pink-40);
  }

  .iconWrapper {
    flex: 0 0 24px;
    font-size: var(--iconSizeDefault);
  }

  .contentWrapper {
    flex: 1 1 auto;
    padding: 2px 0 0;

    .title + .content {
      margin: 6px 0 0;
    }

    .actionsWrapper {
      margin: 12px 0 0;
    }
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }
}
