.sources {
  padding: units(2);
}

.sources__list {
  padding: 0;
}

.sources__source {
  border-radius: $border-radius-default;
  margin-bottom: units(1);
  padding: units(1);

  &:hover {
    background-color: $black-05;
  }
}

.sources__source-link {
  align-items: center;
  display: flex;

  &,
  &:hover,
  &:visited {
    color: $black-87;
    text-decoration: none;
  }
}

.sources__source-avatar {
  border-radius: $border-radius-default;
  height: units(4);
  width: units(4);
}

.sources__source-name {
  margin: 0 units(1);
}

.sources__source-description {
  display: none;
}
