.sources {
  padding: 14px;
}

.sources__list {
  padding: 0;
}

.sources__source {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: $border-radius-default;

  &:hover {
    background-color: $black-05;
  }
}

.sources__source-link {
  display: flex;
  align-items: center;

  &,
  &:hover,
  &:visited {
    color: $black-87;
    text-decoration: none;
  }
}

.sources__source-avatar {
  height: 30px;
  width: 30px;
  border-radius: $border-radius-default;
}

.sources__source-name {
  margin: 0 9px;
}

.sources__source-description {
  display: none;
}
