.source-tags__tags {
  display: inline;
  flex-wrap: wrap;
}

.source-tags__tag {
  display: inline-flex !important;
  margin: units(0.5) units(1) units(0.5) 0 !important;
  span {
    color: $black-54 !important;
  }
}
