.source-card {
  margin-bottom: units(2);

  > div {
    padding-bottom: 0 !important;
  }
  padding-#{$from-direction}: units(1);
}

div.source-card__content {
  padding-bottom: 0 !important;
}

.source-card__avatar {
  float: $from-direction;
  padding-top: units(.5);

  img {
    @include avatar(units(5));
  }
}

.source-card__body {
  margin-#{$from-direction}: units(7);
}

.source-card__heading {
  svg {
    color: $opaque-black-54;
    margin-#{$to-direction}: units(1);
  }
}

.source-card__name {
  font: font(headline);
  padding-top: units(1);
}

.source-card__description {
  color: $opaque-black-54;
  font: font(body1);
  padding-top: units(1.5);
}

.source-card__accounts {
  padding-top: units(3);

  svg {
    path {
      color: $black-54;
    }
    margin-#{$to-direction}: units(1);
  }
}

.source-card__url {
  padding: units(1.5) 0;
}

.source-card__account-stats {
  color: $opaque-black-54;
  padding: units(1.5) 0;
}

.source-card__account-link {
  padding-bottom: units(1.5);
}

.source-card__footer {
  border-top: 1px solid $black-16;
  color: $black-54 !important;
  padding: units(2) 0 !important;
}
