.source {
  padding: units(2);

  .source-header {
    text-align: center;

    .source-avatar {
      border: $border-width-small solid $black-87;
      margin-top: units(1);
      padding: units(1);
    }

    .source-accounts {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: units(1);

        a {
          background: $black-87;
          border-radius: units(1);
          color: $white;
          display: inline-block;
          font-size: units(3);
          height: units(6);
          width: units(6);

          span {
            margin-top: units(2);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
