.source {
  padding: 14px;

  .source-header {
    text-align: center;

    .source-avatar {
      margin-top: 10px;
      padding: 2px;
      border: 1px solid $black-87;
    }

    .source-accounts {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        margin: 10px;

        a {
          display: inline-block;
          width: 48px;
          height: 48px;
          background: $black-87;
          color: $white;
          font-size: 24px;
          border-radius: 5px;

          span {
            vertical-align: middle;
            margin-top: 12px;
          }
        }
      }
    }
  }
}
