.source {
  @include layout-full-height-with-sticky-footer;
  $source-avatar-width: units(10);
  $source-profile-offset: units(18);
  $source-profile-bottom-pad: 0;
  $source-profile-fab-width: 40px;

  &__profile {
    margin-bottom: units(6);
    margin-top: $source-profile-offset * -1;
    padding-bottom: $source-profile-bottom-pad;
    padding-top: $source-profile-offset;

    .source__name {
      font: font(headline);
      font-weight: 400;
      margin-bottom: units(1);
    }

    .source__description-text {
      color: $black-54;
      font: font(subheading1);
      margin-bottom: units(1);
    }

    &--editing {
      .source__settings {
        margin-top: units(6);
      }

      .source__profile-card-actions {
        margin-top: units(4);
      }
    }
  }

  &__contact-info {
    color: $black-54;
    display: flex;
    flex-flow: wrap row;
    font: font(caption);

    & > span {
      margin-#{$to-direction}: units(2);
    }
  }

  &__avatar {
    @include avatar($source-avatar-width);
    border-radius: $border-radius-default;
    margin-top: units(2.5);
    margin-#{$to-direction}: units(2);
  }

  &__edit-avatar-button {
    max-width: units(10);
  }

  // Ideally this would be a FAB component, but MUI FAB doesn't have a tooltip so we're doing our own using iconButton
  &__edit-button {
    @include box-shadow(2);
    background-color: white !important;
    border-radius: 50% !important;
    bottom: -1 * ($source-profile-fab-width / 2 + $source-profile-bottom-pad) !important;
    position: absolute !important;
    right: 16% !important;

    &:hover {
      @include box-shadow(4);

      svg {
        fill: $black-87 !important;
      }
    }

    svg {
      fill: $black-54 !important;
      font-size: 20px;
    }
  }

  &__tab-buttons {
    margin: auto;
    text-align: center;
  }

  &__edit-buttons {
    margin: units(6) auto;
  }

  &__edit-hspacer {
    padding: 0 units(4);
  }
}

.layout-two-column {
  display: flex;

  .column-secondary {
    flex: 0;
  }

  .column-primary {
    flex: 3;
  }
}

.layout-fab-container {
  position: relative;
}

.home--source {
  .footer {
    display: none;
  }
}
