// Buttons 
// TODO review and sync with material design style 
// Should we just use the Button component? 
// — CGB 2017-3-12

// elements that should semantically be <button> but not look like buttons
// 
@mixin unbutton {
  cursor: pointer;
  border: 0;
  font-family: $font-stack-sans;
  font-size: inherit;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@mixin button-standard {
  cursor: pointer;
  border: 0;
  font-family: $font-stack-sans;
  background-color: $black-38;
  font-size: inherit;
  border-radius: $border-radius-default;
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 units(2);

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-small {
  @include button-standard;
  height: units(4);
  font: font(body2);
  margin-bottom: units(1);
}

@mixin button-medium {
  @include button-standard;
  height: units(5);
  font: font(subheading1);
  margin-bottom: units(1);
}

@mixin button-large {
  @include button-standard;
  font-size: 20px;
  padding-#{$from-direction}: 44px;
  padding-#{$to-direction}: 44px;
  margin-bottom: units(1);
}

@mixin button-primary {
  background-color: $check-blue;
}

@mixin close-button($size: 30px) {
  @include unbutton;
  color: $black-16;
  font-weight: 200;
  font-size: $size;

  &,
  &:hover {
    text-decoration: none;
  }
}
