// Buttons 
// TODO review and sync with material design style 
// Should we just use the Button component? 
// — CGB 2017-3-12

// elements that should semantically be <button> but not look like buttons
// 
@mixin unbutton {
  cursor: pointer;
  border: 0;
  font-family: $font-stack-sans;
  font-size: inherit;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@mixin button-standard {
  cursor: pointer;
  border: 0;
  font-family: $font-stack-sans;
  background-color: $black-38;
  font-size: inherit;
  border-radius: $border-radius-default;
  color: $white;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-small {
  @include button-standard;
  height: 36px;
  font-size: 16px;
  margin-bottom: 8px;
  padding-#{$from-direction}: units(2);
  padding-#{$to-direction}: units(2);
}

@mixin button-medium {
  @include button-standard;
  height: 43px;
  font-size: 17px;
  margin-bottom: 8px;
  padding-#{$from-direction}: 18px;
  padding-#{$to-direction}: 18px;
}

@mixin button-large {
  @include button-standard;
  height: 50px;
  font-size: 20px;
  padding-#{$from-direction}: 44px;
  padding-#{$to-direction}: 44px;
  margin-bottom: 8px;
}

@mixin button-primary {
  background-color: $check-blue;
}

@mixin close-button($size: 30px) {
  @include unbutton;
  color: $black-16;
  font-weight: 200;
  font-size: $size;

  &,
  &:hover {
    text-decoration: none;
  }
}
