// Card style
// This card is used on the team list, project edit, create team — but not all the cards use this; some use MDC components
//
@mixin card($width: layout(card-width-large)) {
  @include fade-in(1);
  @include box-shadow(1);
  background-color: white;
  // TODO find a better way to override content-column, to avoid important CGB 2017-3-23
  margin: layout(gutter-small) auto !important;
  max-width: $width !important;
  padding: layout(gutter-medium) !important;
}

// Utility class to apply card style
.card {
  @include card;
}
