@mixin chip {
  background-color: $black-05;
  border: 0;
  border-radius: $border-radius-largest;
  color: $black-54;
  cursor: pointer;
  display: inline-block;
  font: font(caption);
  margin-#{$from-direction}: 0;
  margin-#{$to-direction}: units(1);
  margin-bottom: units(half);
  margin-top: units(half);
  padding: units(half) units(2);

  &--selected {
    background-color: $black-10;
    color: $black-87;
    font-weight: $font-weight-bold;
  }

  &:hover {
    background-color: $black-16;
  }
}
