@mixin background-cover {
  background-position: center;
  background-size: cover;
}

@mixin image($width, $height: $width) {
  @include background-cover;
  border: $border-width-small solid $black-05;
  border-radius: $border-radius-default;
  height: $height;
  width: $width;
}

@mixin avatar($size) {
  @include background-cover;
  border: $border-width-small solid $black-05;
  border-radius: $border-radius-default;
  flex: 0 0 auto;
  height: $size;
  width: $size;
}

@mixin user-avatar($size) {
  @include avatar($size);
  border-radius: 50%;
}
