@mixin menu {
  @include box-shadow(2);
  background: $white;
  border: $border-width-small solid $black-16;
  border-radius: $border-radius-default;
  color: $black-87;
  display: none;
  margin: 0;
  min-width: units(30);
  padding: units(1) 0;
  position: absolute;
  text-align: #{$from-direction};
  z-index: 3;

  &--active {
    display: block;
    opacity: 1;
  }

  & > li {
    @include menu-item;
  }
}

@mixin menu-item {
  cursor: pointer;
  font: font(body2);
  padding-bottom: units(1) + units(half);
  padding-top: units(1) + units(half);

  img {
    vertical-align: middle !important;
  }

  &:hover {
    background: $opaque-black-05;
    transition: background $transition-speed-fast;
  }

  // TODO enable profile so we can remove the span:first-child hack below — CGB 2017-3-26
  & > a,
  & > span:first-child {
    color: inherit;
    display: block;
    height: 100%;
    padding: 0 units(2);
    width: 100%;

    &,
    &:hover {
      text-decoration: none;
    }

    &[class$="--active"] {
      font-weight: $font-weight-bold;
    }
  }
}
