@mixin modal-overlay($color: $midnight-blue-90) {
  position: fixed;
  z-index: 1;
  #{$from-direction}: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color;
  opacity: 0;
  transition: opacity 100ms ease;
  pointer-events: none;

  &--active {
    pointer-events: auto;
    opacity: 1;
  }
}
