.add-annotation {
  @include box-shadow(1);
  background-color: $white;
  min-height: units(15);
  position: relative;
  z-index: 0;
  height: 20vh;

  .content-column {
    height: 100%;
    padding-top: units(5);

    @include when-taller-than(tallscreen-breakpoint) {
      padding-top: 5vh;
    }
  }

  .add-annotation__buttons {
    margin-bottom: units(3);
  }
}
