.annotations {
  .annotations__list {
    position: relative;

    // The timeline line
    &::before {
      background-color: $opaque-black-16;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      top: units(2);
      width: $border-width-medium;
      #{$from-direction}: units(4);
    }
  }

  .annotations__list-item {
    position: relative;

    // The timeline dot
    &::before {
      background-color: $opaque-black-16;
      border-radius: 100%;
      content: '';
      height: units(1);
      outline: $border-width-large solid $opaque-black-02;
      position: absolute;
      top: units(2);
      width: units(1);
      #{$from-direction}: units(4) - ($border-width-medium + ($border-width-medium / 2));
    }
  }
}
