.annotation {
  border-top: $layout-border-light;
  padding: 15px 0;
  display: flex;
  font-size: $annotation-font-size;
  position: relative;
  overflow-x: hidden;
}

.annotation__avatar {
  $width: 36px;
  @include user-avatar($width);
  flex: 0 0 $width;
  margin: 1px 12px 0 0;
}

.annotation__content {
  flex: 1;
  width: 100%;
}

.annotation__header {
  display: flex;
  align-items: baseline;
  white-space: pre;

  margin-bottom: 1.5px;
  @include gray-text($annotation-font-size);
}

.annotation__author-name {
  font-weight: 400;
  font-size: $annotation-font-size;
  color: inherit;
  margin: 0;
  display: inline-block;
  margin-right: 10px;

  &:first-child {
    color: theme-gray(28%);
    font-weight: 600;
  }
}

.annotation__timestamp {
  @include gray-text(12.5px);
}

.annotation__actions {
  flex: 1;
  align-self: flex-start;
  text-align: right;
}

.annotation__delete {
  @include close-button(21px);
  position: absolute;
  top: 10px;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: $home-bg;
  border-radius: 30px;
}

.annotation__body {
  color: theme-gray(27%);
}

.annotation__embedded-media {
  .media-card__title {
    font-size: 16px;
  }
}

// non-comments

.annotation__status {
  @include app-kicker(11px);
  @include media-status-font-colors;
  margin-left: 3px;
  margin-right: 2px;
}

.annotation__tag {
  &:before {
    content: '#';
  }
}
