.annotation {
  padding: 12px 0;
  display: flex;
  position: relative;

  .annotation__default {
    padding-#{$from-direction}: 80px;
    flex: 1;
    font-size: 12px;
    color: $black-87;
    display: flex;
    max-width: 704px;

    &,
    * {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      // TODO: consider `word-break: break-all` for long URLs etc.
    }

    &-content {
      margin-#{$to-direction}: 12px;
    }

    a,
    a:visited {
      color: inherit;
    }

    .menu-button {
      color: $black-38;
      margin-#{$to-direction}: 12px;
    }
  }

  .annotation__card {
    width: 100%;
    max-width: 704px;
    z-index: initial !important;

    & > div {
      padding-bottom: 0 !important;
    }

    img {
      cursor: pointer;
    }
  }

  .annotation__card-text {
    display: flex;
    padding-top: 24px;
    padding-#{$to-direction}: 0 !important;
    padding-bottom: 0 !important;
    padding-#{$from-direction}: 24px !important;
  }

  .annotation__card-avatar-col {
    margin-#{$to-direction}: 24px;
  }

  .annotation__card-avatar {
    $width: 32px;
    @include user-avatar($width);
  }

  .annotation__card-main-col {
    flex: 1;
  }

  .annotation__card-content {
    font-size: 14px;
    width: 100%;
    display: flex;

    & > span:first-child {
      flex: 1; // TODO: proper text/thumbnail templates
    }
  }

  .annotation__card-thumbnail {
    float: $to-direction;
    padding: 8px;
  }

  .annotation__card-footer {
    flex: 1;
    padding-#{$to-direction}: 12px;
    // see also .media-detail__check-metadata
    align-items: center;
    border-top: 1px solid $black-05;
    display: flex;
    flex-flow: wrap row;
    margin-top: 24px;
    height: 44px;
    font-size: 12px;
    color: $black-54;
  }

  .annotation__card-footer-text {
    margin-#{$to-direction}: 12px;
    flex: 1;
  }

  .annotation__card-author {
    font-size: 14px;
    font-weight: 500;
    color: $black-87;
    margin-#{$to-direction}: 12px;
  }

  .annotation__content {
    flex: 1;
    width: 100%;
  }

  .annotation__header {
    display: flex;
    align-items: baseline;
    white-space: pre;
    margin-bottom: 1.5px;
  }

  .annotation__timestamp {
    color: $black-38;
    display: inline;
    margin-#{$to-direction}: 12px;
    flex: 1;
  }

  .annotation__actions {
    display: none;
    flex: 1;
    align-self: flex-start;
    text-align: #{$to-direction};
  }

  .annotation__body {
    word-break: break-word;
  }

  .annotation__embedded-media {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  // non-comments
  .annotation__status {
    @include app-kicker(12px);
    @include media-status-font-colors;
    margin-#{$from-direction}: 3px;
    margin-#{$to-direction}: 2px;
  }

  .annotation__tag {
    &::before {
      content: '#';
    }
  }

  .annotation__update-task > span {
    display: block;
  }
}

.annotation__comment {
  margin-top: 5px;

  .annotation__comment-text {
    float: #{$from-direction};
    width: 80%;
  }

  img {
    max-width: 20%;
    min-width: 50px;
    float: $to-direction;
    cursor: zoom-in;
  }

  br {
    clear: both;
  }
}


.add-annotation {
  .add-annotation__buttons {
    margin-#{$from-direction}: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .add-annotation__insert-photo {
      display: inline-block;

      svg {
        @extend %icon;
        margin-#{$to-direction}: 0;

        path {
          color: $black-16;
        }
      }
    }
  }

  .preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    padding: 0;
    margin: 0;
    border: 1px solid $black-38;
    border-bottom: 0;
    width: 100%;

    .remove-image {
      position: absolute;
      top: 2px;
      #{$to-direction}: 2px;
      z-index: 1;
      color: $black-38;
      cursor: pointer;
    }
  }

  .upload-file {
    cursor: pointer;
    margin: 0 0 7px;
  }

  .upload-file > div.with-file {
    width: 100% !important;
    border-top: 0 !important;
    border-style: solid !important;
  }

  .upload-file > div {
    padding: 0 !important;
    height: 148px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-radius: 8px;

    &:hover {
      border-color: $check-blue !important;
    }
  }
}

.annotation__reverse-image-search {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}
