.annotation {
  display: flex;
  padding: units(1) 0;
  position: relative;
}

.annotation__default {
  color: $black-87;
  display: flex;
  font: font(caption);
  max-width: layout(card-width-large);

  &-content {
    @extend %break-word;
    display: block;
    margin-#{$to-direction}: units(2);
  }

  a,
  a:visited {
    color: inherit;
  }

  .menu-button {
    color: $black-38;
    margin-#{$to-direction}: units(1);
  }
  padding-#{$from-direction}: units(10);
}

.annotation__card {
  max-width: units(90);
  width: 100%;
  z-index: initial !important;

  & > div {
    padding-bottom: 0 !important;
  }

  img {
    cursor: pointer;
  }
}

.annotation__card-text {
  display: flex;
  padding: units(3) units(2) 0 !important;
}

.annotation__card-avatar-col {
  margin-#{$to-direction}: units(3);
}

.annotation__card-avatar {
  @include user-avatar(units(4));
}

.annotation__card-main-col {
  flex: 1;
}

.annotation__card-content {
  @extend %break-word;
  display: flex;
  width: 100%;

  & > span:first-child {
    flex: 1; // TODO: proper text/thumbnail templates
  }
}

.annotation__card-thumbnail {
  float: $to-direction;
  padding: units(1);
}

.annotation__card-footer {
  // see also .media-detail__check-metadata
  align-items: center;
  border-top: $border-width-small solid $black-05;
  color: $black-54;
  display: flex;
  flex: 1;
  flex-flow: wrap row;
  font: font(caption);
  height: units(5.5);
  margin-top: units(3);
  padding-#{$to-direction}: units(1);
}

.annotation__card-footer-text {
  flex: 1;
  margin-#{$to-direction}: units(1);
}

.annotation__card-author {
  color: $black-87;
  font-weight: $font-weight-medium;
  margin-#{$to-direction}: units(1);
}

.annotation__content {
  flex: 1;
  width: 100%;
}

.annotation__header {
  align-items: baseline;
  display: flex;
  margin-bottom: 1.5px;
  white-space: pre;
}

.annotation__timestamp {
  color: $black-38;
  display: inline;
  flex: 1;
  white-space: pre;
  margin-#{$to-direction}: units(1);
}

.annotation__actions {
  align-self: flex-start;
  display: none;
  flex: 1;
  text-align: #{$to-direction};
}

.annotation__body {
  @extend %break-word;
}

.annotation__embedded-media {
  padding-bottom: units(1);
  padding-top: units(1);
}

// non-comments
.annotation__status {
  @include media-status-font-colors;
  font: font(caption);
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  margin-#{$from-direction}: 3px;
  margin-#{$to-direction}: 2px;
}

.annotation__tag {
  &::before {
    content: '#';
  }
}

.annotation__update-task > span {
  display: block;
}

.annotation__comment {
  margin-top: units(.5);

  .annotation__comment-text {
    float: #{$from-direction};
    width: 80%;
  }

  img {
    cursor: zoom-in;
    float: $to-direction;
    max-width: 20%;
    min-width: units(6);
  }

  br {
    clear: both;
  }
}

.add-annotation__buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-#{$from-direction}: auto;
}

.add-annotation__insert-photo {
  display: inline-block;

  svg {
    @extend %icon;

    path {
      color: $black-16;
    }
    margin-#{$to-direction}: 0;
  }
}

.annotation__reverse-image-search,
.annotation__keep-retry {
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-bold;
  margin: 0 units(1);
  text-transform: uppercase;
}

.annotation__card-embedded-medias {
  clear: both;
  margin-top: units(.5);
}

.annotation__keep a {
  text-decoration: underline;
}
