.annotation {
  border-top: $layout-border-light;
  padding: 15px 0;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.annotation__avatar {
  $width: 36px;
  @include user-avatar($width);
  flex: 0 0 $width;
  margin: 1px 12px 0 0;
}

.annotation__content {
  flex: 1;
  width: 100%;
}

.annotation__header {
  display: flex;
  align-items: baseline;
  white-space: pre;
  margin-bottom: 1.5px;
}

.annotation__author-name {
  font-weight: 400;
  color: inherit;
  margin: 0;
  display: inline-block;
  margin-right: 10px;

  &:first-child {
    color: $black-38;
    font-weight: 600;
  }
}

.annotation__task-resolved {
  .annotation__author-name {
    margin-right: 0;
  }

  em {
    margin-right: 10px;
  }
}

.annotation__timestamp {
  font-size: 12px;
}

.annotation__actions {
  flex: 1;
  align-self: flex-start;
  text-align: right;
}

.annotation__delete {
  @include close-button(21px);
  position: absolute;
  top: 10px;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.annotation__body {
  word-break: break-word;
}

.annotation__embedded-media {
  padding-top: 8px;
  padding-bottom: 8px;
}

// non-comments
.annotation__status {
  @include app-kicker;
  @include media-status-font-colors;
  margin-left: 3px;
  margin-right: 2px;
}

.annotation__tag {
  &::before {
    content: '#';
  }
}

.annotation__update-task > span {
  display: block;
}

.annotation__comment {
  margin-top: 5px;

  .annotation__comment-text {
    float: left;
    width: 80%;
  }

  img {
    max-width: 20%;
    min-width: 50px;
    float: right;
    cursor: zoom-in
  }

  br {
    clear: both;
  }
}


.add-annotation {
  .add-annotation__buttons {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    .add-annotation__insert-photo {
      display: inline-block;
    
      svg {
        @extend %icon;
        margin-right: 0;
    
        path {
          color: $black-16;
        }
      }
    }
  }

  .preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    padding: 0;
    margin: 0;
    border: 1px solid $black-38;
    border-bottom: 0;
    width: 100%;

    .remove-image {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 1;
      color: $black-38;
      cursor: pointer;
    }
  }

  .upload-file {
    cursor: pointer;
    margin: 0 0 7px;
  }

  .upload-file > div.with-file {
    width: 100% !important;
    border-top: 0 !important;
    border-style: solid !important;
  }

  .upload-file > div {
    padding: 0 !important;
    height: 148px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-radius: 8px;

    &:hover {
      border-color: $check-blue !important;
    }
  }
}
