.breadcrumb {
  align-self: center;
  height: 100%;

  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  color: $light-gray-text;
}

.breadcrumb__label {
  font-size: 14px;
  padding-top: 2px
}
