.content-column {
  width: 100%;
  max-width: $layout__column-width-narrow;
  margin: 0 auto;
  padding: 0 units(1);

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &--wide {
    max-width: $layout__column-width-wide;
  }
}
