.content-column {
  margin: 0 auto;
  max-width: layout(column-width-narrow);
  padding: 0 units(1);
  width: 100%;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &--wide {
    max-width: layout(column-width-wide);
  }
}
