.footer {
  text-align: center;
  color: $opaque-black-38;
  margin: units(4) 0;
  font: $font-caption;

  span {
    margin: units(1) 0;
    display: inline-block;

    i {
      font-style: normal;
    }
  }

  a,
  a:hover {
    color: $opaque-black-38;
  }
}
