.header-actions {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: right;
}

.header-actions__search-icon {
  @extend %icon;
  color: $black-54;
}

.header-actions__menu-toggle {
  @extend %icon;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: $black-54;
}

.header-actions__menu-overlay {
  @include modal-overlay(transparent);
}

.header-actions__menu {
  @include app-menu;
  position: absolute;
  right: 16px;
  min-width: 250px;
  top: 44px;
  display: none;

  &--active {
    display: block;
  }
}

.header-actions__menu-item {
  font-size: 15px;
  padding: 11px 15px;
  cursor: pointer;

  &:hover {
    background: $opaque-black-05;
  }
}

.header-actions__link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }

  &:nth-last-child(-n + 2) {
    color: $black-38;
  }
}
