.header { // see also .project__description
  width: 100%;
  height: $layout-header-height;
  background: $black-05;
  position: absolute;
}

.header__container {
  position: relative;
  display: flex;
  height: 100%;
}

.header__app-link {
  display: flex;
  align-items: center;

  img {
    width: units(8);
  }
}

.header__team {
  display: flex;
  overflow: hidden;
  min-width: units(6);
}

.header__breadcrumb {
  svg path {
    color: $black-54;
  }
}

// media page
.header--media {
  .team-header__copy {
    display: none;
  }
}
