.header {
  width: 100%;
  height: $layout-header-height;
  background: #fff;
  border-bottom: $layout-border;
  box-shadow: $layout-box-shadow;
}

.header__container {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: $layout-column-width-wide;
  margin: 0 auto;
}

.header__breadcrumb {
  position: absolute;
  top: 0;
  bottom: 0;
}

// media page
.header--media {
  .team-header__copy {
    display: none;
  }
  // TODO: do with JS or simpler selectors
}

.header__team {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}
