.header-actions {
  display: flex;
  align-items: center;
  text-align: $to-direction;
  margin-#{$from-direction}: auto;
}

.header-actions__search-icon {
  @extend %icon;
  color: $black-54;
}

.header-actions__menu-toggle {
  @extend %icon;
  margin-#{$to-direction}: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: $black-54;
}

.header-actions__menu-overlay {
  @include modal-overlay(transparent);
}

.header-actions__menu {
  @include app-menu;
  #{$to-direction}: 16px;
  top: 44px;
}

.header-actions__link {
  &:nth-last-child(-n + 2) {
    color: $black-38;
  }
}
