.header-actions {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: right;
}

.header-actions__search-icon {
  @extend %icon;
}

.header-actions__menu-toggle {
  @extend %icon;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.header-actions__menu-overlay {
  @include modal-overlay;
}

.header-actions__menu {
  z-index: 2;
  margin: 0;
  border: $layout-border;
  border-top: 0;
  border-radius: 2px;
  position: absolute;
  right: 0;
  min-width: 250px;
  top: 72px;
  display: none;
  background: $opaque-black-02;
  padding: 2px;
  text-align: left;

  &--active {
    display: block;
  }
}

.header-actions__menu-item {
  font-size: 15px;
  padding: 11px 15px;
  cursor: pointer;

  &:hover {
    background: $opaque-black-05;
  }
}

.header-actions__link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }

  &:nth-last-child(-n + 2) {
    color: $black-38;
  }
}
