.media-item-wrapper {
  background-color: var(--color-gray-96);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  .next-prev-pager {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    margin: 16px 32px -32px;
  }

  .media-actions-bar {
    align-items: center;
    background-color: var(--color-white-100);
    border-radius: 8px;
    display: flex;
    flex: 0 0 64px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 32px 0;
    padding: 16px;
    width: auto;

    .paging-not-found {
      color: var(--color-gray-59);
      cursor: not-allowed;
      display: flex;
      font-size: var(--iconSizeSmall);
    }

    .media-actions-wrapper,
    .media-actions {
      align-items: flex-start;
      display: flex;
      flex: 1 1 auto;
      gap: 32px;
      justify-content: flex-end;
    }

    .media-actions {
      flex: 0 1 auto;
      gap: 8px;
      margin-top: 5px;
    }
  }

  .media-status-wrapper {
    align-items: center;
    display: flex;
    gap: 4px;

    button:disabled > span:first-of-type {
      color: var(--color-gray-37);
    }
  }

  .media-actions-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  .status-label {
    align-items: center;
    display: flex;
    gap: 2px;
  }

  .media-item {
    align-items: flex-start;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    gap: 16px;
    margin: 0 32px 16px;
    overflow: hidden;

    .media-item-content {
      overflow-y: auto;
      padding: 16px;
      width: 100%;
    }

    .media-item-claim,
    .media-item-medias,
    .media-item-annotations {
      background-color: var(--color-white-100);
      border-radius: 8px;
      overflow: hidden;
    }

    .media-item-claim,
    .media-item-medias {
      align-self: flex-start;
      display: flex;
      max-height: 100%;
    }

    .media-item-claim {
      flex: 0 0 420px;

      .media-item-content {
        display: flex;
        flex-direction: column;

        .media-item-claim-alert {
          margin: 0 0 16px;
        }
      }
    }

    .media-item-medias,
    .media-item-annotations {
      flex: 1 1 340px;
    }

    .media-item-annotations {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      overflow: hidden;
    }
  }

  .media-requests,
  .media-suggestions,
  .media-sources,
  .media-tasks {
    flex: 1;
    padding: 16px;

    .empty-list {
      @mixin typography-h5;
      color: var(--color-gray-75);
      padding: 16px;
      text-align: center;
    }

    .media-list-actions {
      display: flex;
      justify-content: center;
      padding: 16px;
    }
  }

  .media-sources {
    .media-sources-header {
      display: flex;
      gap: 6px;
      justify-content: space-between;
      margin: 0 0 16px;

      .media-sources-header-left {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        gap: 6px;

        .media-sources-title {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          gap: 0;
        }
      }

      .media-sources-header-right {
        @mixin typography-caption;
        align-items: flex-end;
        color: var(--color-gray-37);
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        gap: 6px;
      }
    }
  }

  .media-item-annotations-list {
    li {
      border-bottom: solid 1px var(--color-gray-88);
      padding: 16px 0;

      &:first-of-type {
        padding: 0 0 16px;
      }

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  @media (max-width: 1100px) {
    height: 100vh;
    overflow: auto;

    .media-item {
      display: block;
      margin: 0;
      overflow: auto;
      padding: 0 32px 16px;

      .media-item-content {
        overflow: visible;
      }

      .media-item-claim,
      .media-item-medias,
      .media-item-annotations {
        max-height: unset;
      }

      .media-item-claim {
        flex: 0 0 420px;
        margin: 0 0 16px;
      }

      .media-item-medias,
      .media-item-annotations {
        flex: 1 1 340px;
        margin: 0 0 16px;
      }

      .media-item-annotations {
        overflow: hidden;
      }
    }
  }
}

.media-list {
  .media-list-item {
    border-bottom: solid 1px var(--color-gray-88);
    padding: 16px 0;

    &:first-of-type {
      padding: 0 0 16px;
    }

    &:last-of-type {
      border-bottom: 0;
      padding: 16px 0 0;
    }

    &:only-child {
      padding: 0;
    }

    &.media-timeline-item {
      border-bottom: 0;
      padding: 0;
      position: relative;

      &::before {
        background-color: var(--color-gray-88);
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: auto;
        top: 0;
        width: 1px;
      }
    }
  }
}

.media-item-autocomplete-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;

  .media-item-autocomplete {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;

    .media-item-autocomplete-inputs {
      display: flex;
      flex: 0 0 auto;
      gap: 8px;

      > div {
        flex: 1 1 auto;
      }

      > button {
        flex: 0 0 auto;
        margin: 4px 0 0;
      }
    }

    .media-item-autocomplete-results {
      background-color: var(--color-beige-93);
      border: solid 2px var(--color-beige-86);
      border-radius: 5px;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      overflow-y: scroll;
      padding: 16px;

      .media-item-autocomplete-link {
        display: contents;
        text-decoration: none;
      }

      .media-item-autocomplete-multiple {
        align-items: center;
        display: flex;
      }

      .media-item-autocomplete-selected-item {
        background-color: var(--color-gray-96);
        outline: solid 2px var(--color-blue-54);
      }
    }
  }
}

.media-slug {
  .media-slug-title {
    align-items: center;
    display: flex;
    gap: 3px;
    margin: 4px 0;

    h6 {
      @mixin typography-subtitle2;
      min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/#aa-the-solution-is-min-width-0-on-the-flex-child */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.media-card-large {
  &.media-card-large-border {
    background-color: var(--color-white-100);
    border: 1px solid var(--color-blue-81);
    border-radius: 0 0 8px 8px;
    outline: 1px solid var(--color-blue-81);
    outline-offset: -1px;

    &.rounded-top-corners {
      border-radius: 8px;
    }

    &.no-border {
      border: 0;
    }

    &.no-outline {
      outline: none;
    }
  }

  .quote-mediacard-wrapper {
    padding: 16px 16px 0;
  }

  .empty-media-card-large {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 400px;
  }
}

body[dir='rtl'] {
  .media-timeline-item {
    &::before {
      left: auto;
      right: 32px;
    }
  }
}
