// TODO review the line height on form elements for Material Design compliance — CGB 2017-3-12
@mixin text-input {
  background: transparent;
  border: 0;
  border-bottom: $border-width-small solid $black-32;
  font: font(subheading2);
  line-height: 22px;
  order: 3;
  padding: 3px 0 6px;
  transition: border-color $transition-speed-fast ease;

  &:focus {
    border-color: $check-blue;
    outline: none;
  }
}
