// TODO review the line height on form elements for Material Design compliance — CGB 2017-3-12
@mixin text-input {
  order: 2;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $black-32;
  transition: border-color 200ms ease;
  padding: 3px 0 6px;
  font: $font-subheading-2;
  line-height: 22px;

  &:focus {
    outline: none;
    border-color: $check-blue;
  }
}
