/* Button mixin used only for building out ButtonMain component */
@define-mixin main-button-contained-theme $primary-color: var(--brandMain), $secondary-color: var(--brandSecondary), $text-color: var(--otherWhite), $text-secondary: var(--otherWhite) {
  background-color: $primary-color;
  border: solid 2px $primary-color;
  color: $text-color;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $text-secondary;
  }
}

@define-mixin main-button-outlined-theme $border-primary: var(--grayBorderMain), $border-secondary: var(--grayBorderMain), $text-primary: var(--brandMain), $text-secondary: var(--brandSecondary), $background-hover: var(--brandHoverAccent) {
  border: solid 2px $border-primary;
  color: $text-primary;

  &:hover {
    background-color: $background-hover;
    border-color: $border-secondary;
    color: $text-secondary;
  }
}

@define-mixin main-button-text-theme $text-primary: var(--brandMain), $text-secondary: var(--brandSecondary), $background-hover: var(--brandHoverAccent) {
  color: $text-primary;

  &:hover {
    background-color: $background-hover;
    color: $text-secondary;
  }
}

@define-mixin typography-definition $size: 14px, $weight: 400, $spacing: .15px, $height: 20px {
  font-size: $(size);
  font-weight: $(weight);
  letter-spacing: $(spacing);
  line-height: $(height);
}

@define-mixin typography-h1 {
  @mixin typography-definition 96px, 300, -1.5px, 112px;
}

@define-mixin typography-h2 {
  @mixin typography-definition 60px, 300, -.5px, 72px;
}

@define-mixin typography-h3 {
  @mixin typography-definition 48px, 400, 0, 56px;
}

@define-mixin typography-h4 {
  @mixin typography-definition 34px, 400, .25px, 42px;
}

@define-mixin typography-h5 {
  @mixin typography-definition 24px, 400, 0, 32px;
  color: currentcolor;
}

@define-mixin typography-h6 {
  @mixin typography-definition 20px, 500, .15px, 32px;
}

@define-mixin typography-subtitle1 {
  @mixin typography-definition var(--fontSizeDefault), 400, .15px, 21px;
}

@define-mixin typography-subtitle2 {
  @mixin typography-definition var(--fontSizeDefault), 500, .1px, 21px;
}

@define-mixin typography-body1 {
  @mixin typography-definition var(--fontSizeDefault), 400, .15px, 20px;
}

@define-mixin typography-body1-bold {
  @mixin typography-definition var(--fontSizeDefault), 700, .15px, 20px;
}

@define-mixin typography-body1-italic {
  @mixin typography-definition var(--fontSizeDefault), 400, .15px, 20px;
  font-style: italic;
}

@define-mixin typography-body2 {
  @mixin typography-definition var(--fontSizeSmall), 400, .15px, 17px;
}

@define-mixin typography-body2-bold {
  @mixin typography-definition var(--fontSizeSmall), 700, .15px, 17px;
}

@define-mixin typography-body2-italic {
  @mixin typography-definition var(--fontSizeSmall), 400, .15px, 17px;
  font-style: italic;
}

@define-mixin typography-button {
  @mixin typography-definition var(--fontSizeDefault), 500, .4px, 24px;
  color: currentcolor;
  text-transform: none;
}

@define-mixin typography-caption {
  @mixin typography-definition var(--fontSizeSmall), 400, .4px, 15px;
}

@define-mixin typography-overline {
  @mixin typography-definition var(--fontSizeSmall), 400, 1px, 32px;
  text-transform: uppercase;
}

@define-mixin position $positioning, $top, $right, $bottom, $left {
  bottom: $(bottom);
  left: $(left);
  position: $(positioning);
  right: $(right);
  top: $(top);
}

@define-mixin opacity $value: 1 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' $(value) * 100 ')';
  filter: alpha(opacity = $value * 100);
  opacity: $(value);
}

@define-mixin text-truncate $display {
  display: $(display);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
