@define-mixin typography $size: 14px, $weight: 400, $spacing: .15px, $height: 20px {
  font-size: $(size);
  font-weight: $(weight);
  letter-spacing: $(spacing);
  line-height: $(height);
}

@define-mixin position $positioning, $top, $right, $bottom, $left {
  bottom: $(bottom);
  left: $(left);
  position: $(positioning);
  right: $(right);
  top: $(top);
}

@define-mixin opacity $value: 1 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' $(value) * 100 ')';
  filter: alpha(opacity = $value * 100);
  opacity: $(value);
}

@define-mixin text-truncate $display {
  display: $(display);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
