/* stylelint-disable color-no-hex, custom-property-empty-line-before */
:root {
  --columnWidthMedium: 680px;
  --columnWidthLarge: 880px;
  --fontStackSans: 'Roboto', -apple-system, blinkmacsystemfont, 'Corbel', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', verdana, 'Verdana Ref', sans-serif;

  --fontSizeSmall: 12px;
  --fontSizeDefault: 14px;
  --fontSizeBaseText: 16px;
  --iconSizeTiny: 16px;
  --fontSizeLarge: 18px;
  --iconSizeSmall: 20px;
  --iconSizeDefault: 24px;
  --iconSizeBig: 176px;

  --brandMain: #567bff;
  --brandSecondary: #3b5cd0;
  --brandLight: #e7efff;
  --brandAccent: #293e86;
  --brandBorder: #d0d6ec;
  --brandBackground: #f1f5f6;
  --brandBackgroundAccent: #eaeeef;
  --brandHoverAccent: #f2f8ff;

  --textPrimary: #262626;
  --textSecondary: #656565;
  --textPlaceholder: #949494;
  --textDisabled: #999;
  --textDisabledInput: #4a4a4a;
  --textLink: #3b5cd0;

  --validationMain: #4caf50;
  --validationSecondary: #237c27;
  --validationLight: #f0fff1;
  --validationBorder: #c0f0c2;

  --alertMain: #e78a00;
  --alertSecondary: #a66300;
  --alertLight: #fff8ed;

  --errorMain: #f44336;
  --errorSecondary: #c9291d;
  --errorLight: #ffeeed;

  --grayBackground: #f7f7f7;
  --grayDisabledBackground: #f3f3f3;
  --grayBorderMain: #e4e4e4;
  --grayBorderAccent: #b4b4b4;
  --grayShadow: rgb(0 0 0 / .15);

  --overlayLight: rgb(34 34 34 / .7);

  --otherWhite: #fff;

  /* https://facebookbrand.com/facebookapp/advertisers-and-partners/ */
  --facebookBlue: #1877f2;

  /* https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/Twitter_Brand_Guidelines_V2_0.pdf */
  --twitterBlue: #1da1f2;

  /* https://slack.com/intl/en-it/marketing/img/media-kit/slack_brand_guidelines_september2020.pdf */
  --slackGreen: #2eb67d;

  /* https://www.youtube.com/about/brand-resources/#logos-icons-colors */
  --youTubeRed: #f00;

  /* https://whatsappbrand.com/#color */
  --whatsappGreen: #25d366;

  /* https://www.schemecolor.com/telegram-color.php */
  --telegramBlue: #08c;

  /* https://www.viber.com/en/brand-center/ */
  --viberPurple: #7360f2;

  /* https://line.me/en/logo */
  --lineGreen: #00b900;

  /* https://about.instagram.com/brand/gradient */
  --instagramPink: #ff0069;

  --dropShadowMenu: 0 5px 5px -3px rgba(0 0 0 / .2), 0 8px 10px 1px rgba(0 0 0 / .14), 0 3px 14px 2px rgba(0 0 0 / .12);
  --dropShadowMedium: 0 1px 6px 0 rgba(0 0 0 / .15);
  --dropShadowWindow: 14px 28px 56px 0 rgba(0 0 0 / .25);
  --dropShadowTab: 0 -2px 16px 0 rgba(0 0 0 / .15);
}
