.tooltip-icon {
  color: var(--textSecondary);
  display: inline-block;
  font-size: var(--iconSizeSmall);
  margin: 0 0 1px 6px;
  vertical-align: middle;
}

.tooltip-icon:hover {
  background: var(--brandHoverAccent);
  color: var(--brandSecondary);
}
