.inputWrapper {
  align-items: center;
  background-color: var(--grayDisabledBackground);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  min-height: 36px;
  padding: 0 4px;

  :global(.check-icon) {
    color: var(--textSecondary);
    font-size: var(--iconSizeSmall);
  }

  :global(.multi-select-filter__remove) {
    color: var(--errorMain);
    cursor: pointer;
  }

  :global(.multi-select-filter__tag-remove) {
    color: var(--otherWhite);
    cursor: pointer;
    margin: 0 0 0 4px;
  }
}

.search-form {
  background-color: var(--validationLight);
  width: 450px;
}

.search-field-wrapper {
  align-items: center;
  display: flex;
  margin: 0 0 8px;
  position: relative;

  .search-clear-button,
  .search-expand-button {
    bottom: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-clear-button {
    left: 6px;
  }

  .search-expand-button {
    right: 6px;
  }

  .search-field {
    flex: 1 0 auto;

    &.search-field-active {
      input {
        border-color: var(--brandMain);
      }
    }
  }
}

.search-expanded-popover {
  :global(.MuiPopover-paper) {
    background-color: var(--otherWhite);
    border-radius: 8px;
    box-shadow: var(--dropShadowMedium);
    margin: 16px 0 0 2px;
    padding: 16px;
    width: 440px;
  }
}

.close-media-button {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}
