.search-results-header-icon,
:global(.MuiIconButton-root).search-results-header-icon {
  border: solid 2px var(--grayBorderMain);
  border-radius: 8px;
  color: var(--textSecondary);
  display: inline-block;
  font-size: var(--iconSizeSmall);
  height: 32px;
  line-height: 50%;
  margin: 0 0 0 12px;
  padding: 4px;
  transition: color 100ms linear, background-color 100ms linear, border-color 100ms linear;
  width: 32px;

  &:hover {
    background: var(--brandHoverAccent);
    border-color: var(--brandBorder);
    color: var(--textLink);
  }
}

.project-title-icon {
  color: var(--textSecondary);
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  font-size: 24px;
  height: 1em;
  margin: 3px 12px 0 0;
  width: 1em;
}

.project-title {
  align-items: flex-start;
  color: var(--textSecondary);
  display: flex;
  margin: 0 16px 0 0;
}

.search-results-header {
  border: solid 2px var(--validationMain);
  padding: 16px 16px 0;

  :global(.search__list-header-filter-row) {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  :global(.project__title-text) {
    display: -webkit-box; /* stylelint-disable */
    max-height: 5em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-all;
  }

  :global(.project__description) {
    padding-top: 4px;
  }
}

.search-results-top {
  border: solid 2px var(--textPrimary);
}

.search-results-wrapper {
  border: solid 2px var(--errorMain);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .search__results-heading {
    align-items: center;
    color: var(--textPrimary);
    display: flex;
    justify-content: space-between;
    text-align: center;

    .search__selected {
      color: var(--brandMain);
      margin: 0 0 0 8px;
    }

    .search__nav {
      color: var(--textPrimary);
      cursor: pointer;
      display: flex;
      font-size: 24px;
      padding: 0 8px 0 0;
    }

    .search__button-disabled {
      color: var(--textPlaceholder);
      cursor: not-allowed;
    }

    .search__pagination {
      align-items: center;
      display: flex;
    }
  }
}
