.grid-wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  width: fit-content;
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 8px;

  div {
    background-color: var(--grayBorderMain);
    color: var(--textPrimary);
  }

  button > span > svg {
    background-color: var(--grayBorderMain);
    fill: var(--grayBorderAccent);
  }

  button > span > svg:hover {
    fill: var(--errorMain) !important;
  }
}

.tag-icon {
  align-self: start;
  border-radius: 8px;
  color: var(--textPlaceholder);
  font-size: var(--iconSizeSmall);
  margin-right: 4px;
  padding: 3px !important;
}

.tag-icon-editable {
  &:hover {
    background: var(--brandHoverAccent);
    color: var(--textSecondary);
    cursor: pointer;
  }
}

.circle-icon {
  align-self: start;
  border-radius: 8px;
  color: var(--textSecondary);
  font-size: var(--iconSizeSmall);
  margin-left: 4px;
  padding: 3px !important;

  &:hover {
    background: var(--brandHoverAccent);
    cursor: pointer;
  }
}

.empty-list {
  align-self: center;
  color: var(--textPlaceholder);
}
