.report-designer-wrapper {
  background-color: var(--grayBackground);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  .report-header-bar {
    align-items: center;
    background-color: var(--otherWhite);
    border-radius: 8px;
    display: flex;
    flex: 0 0 64px;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin: 16px 32px 0;
    padding: 16px;
    width: auto;
  }

  .report-designer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 400px;
    margin: 0 32px;
    max-height: 100%;
    overflow: hidden;

    .report-preview,
    .report-editor {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      overflow: auto;
    }

    .report-preview {
      border-right: solid 2px var(--brandBorder);
      padding: 0 16px 16px 0;
    }

    .report-editor {
      padding: 0 0 16px 16px;

      h6 {
        align-items: center;
        display: flex;
      }
    }
  }
}
