/* stylelint-disable scale-unlimited/declaration-strict-value,  */
.projectsComponentList {
  --drawerListIconSize: 18px;
  --drawerexpandIconSize: 16px;

  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding: 0;

  .projectsListItem {
    border: solid 1px var(--otherWhite);
    border-radius: 5px;
    margin: 0;
    padding: 10px 15px;
    width: 100%;

    .projectsListItemIcon {
      display: flex;
      font-size: var(--drawerListIconSize);
      margin: 0 10px 0 0;
    }

    .projectsListItemLabel {
      margin: 0;

      span {
        @mixin text-truncate block;
        @mixin typography-body1;
        cursor: pointer;
      }
    }

    &:hover {
      background-color: var(--brandHoverAccent);
    }

    &.projectsListItemWithCount {
      padding: 10px 48px 10px 15px;
    }

    &.projectsListItemActive,
    &.projectsListItemActive:hover {
      background-color: var(--brandLight);
      color: var(--brandSecondary);
    }
  }

  .projectsListItemCount {
    @mixin typography-body1;
  }

  .projectsComponentHeader {
    @mixin typography-caption;
    color: var(--brandSecondary);
    cursor: pointer;
    font-weight: 500;
    margin: 10px 0 2px;
    padding: 0;
    text-transform: uppercase;

    .projectsComponentHeaderLabel {
      align-items: center;
      display: flex;
      margin: 0;

      > span {
        flex: 1 1 auto;
        margin: 0 12px 0 -4px;
      }

      .projectsComponentButton {
        background-color: var(--grayBackground);
        border-radius: 8px;
        color: var(--textSecondary);
        flex: 0 0 26px;
        font-size: 20px;
        height: 26px;
        padding: 0;
        width: 26px;
      }
    }

    .projectsComponentChevron {
      font-size: var(--drawerexpandIconSize);
      margin: 0 4px 0 0;
    }
  }

  .projectsComponentCollectionItems {
    margin: -5px 1px 0 12px;
    padding: 3px 2px;
  }

  .projectsComponentCollapse {
    min-height: auto !important;

    .projectsComponentCollectionExpanded {
      background-color: var(--brandLight);
      border-color: var(--brandLight);
      border-radius: 5px;

      .projectsListItem {
        border-color: var(--brandLight);
      }

      &.projectsEmptyCollection {
        border-radius: 0 0 5px 5px;
        margin: -10px 1px 0;
        padding: 0;

        .projectsListItem {
          border-color: var(--brandLight);
          color: var(--textDisabled);
          padding: 5px 15px;

          .projectsListItemLabel {
            span {
              cursor: text;

              em {
                @mixin typography-caption;
                font-style: italic;
              }
            }
          }

          &:hover {
            background-color: var(--brandLight);
          }
        }
      }
    }
  }

  .projectsComponentMask {
    @mixin position absolute, 0, 0, 0, 0;
    background-color: var(--otherWhite);
    opacity: .7;
    z-index: 1;
  }

  &.projectsComponentListFooer {
    flex: 0 0 var(--drawerFooterHeight);
  }
}
/* stylelint-enable */
