.create-team {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .content-column {
    @extend %card;
  }
}

.create-team__blurb {
  margin-bottom: units(4);
}

.create-team__form {
  margin: 0 auto;
  max-width: layout(card-width-large);
}

.create-team__team-display-name {
  display: flex;
  flex-direction: column;
  margin-bottom: units(4);
}

.create-team__team-display-name-input {
  @include text-input;
  width: 100%;
}

.create-team__team-url {
  align-items: flex-end;
  display: flex;
  margin-bottom: units(4);
}

.create-team__team-slug {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-#{$from-direction}: units(1);
  width: 50%;
}

.create-team__team-slug-input {
  @include text-input;
  order: 3;
}

.create-team__team-display-name-label,
.create-team__team-slug-label {
  display: block;
  font-weight: 500;
  opacity: 0;
  order: 1;
  transition: color $transition-speed-fast ease, opacity $transition-speed-fast ease;
}

.create-team__team-display-name-label--text-entered,
.create-team__team-slug-label--text-entered {
  opacity: 1;
}

.create-team__root-domain {
  color: $black-32;
  font: font(headline);
  margin-#{$from-direction}: units(1);
  padding-bottom: units(3) + units(half);
  @include when-smaller-than(mobile-breakpoint) {
    font: font(body2);
  }
}

.create-team__team-slug-message {
  font-weight: 500;
  height: units(2);
  margin: units(1) 0 0;
  order: 3;
  text-align: center;
  transition: color $transition-speed-fast ease;
  width: 100%;
}

.create-team__submit-button {
  @include button-medium;
  @include button-primary;
  display: block;
  margin-left: auto;
  transition: background-color 150ms ease, opacity 150ms ease;
}
