.create-team {
  height: 100%;
  flex: 1;

  .message {
    margin: 0 (-1 * $layout-padding);
  }
}

.create-team__blurb {
  @include onboarding-blurb;
  text-align: center;
}

.create-team__form {
  max-width: 380px;
  margin: 0 auto;
}

.create-team__team-display-name {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.create-team__team-display-name-input {
  @include text-input;
  width: 100%;
}

.create-team__team-url {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.create-team__team-slug {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1 1;
}

.create-team__team-slug-input {
  @include text-input;
}

.create-team__team-display-name-label,
.create-team__team-slug-label {
  order: 1;
  display: block;
  opacity: 0;
  transition: color 200ms ease, opacity 50ms ease;
  font-weight: 500;
}

.create-team__team-display-name-label--text-entered,
.create-team__team-slug-label--text-entered {
  opacity: 1;
}

.create-team__root-domain {
  opacity: .2;
  font-size: 24px;
  padding-bottom: 27px;
  margin-#{$from-direction}: 2px;
  flex: 1 0;
}

.create-team__team-slug-message {
  order: 3;
  margin: 7px 0 0;
  height: 16px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  transition: color 100ms ease;
}

.create-team__submit-button {
  @include button-large;
  display: block;
  margin: 0 auto;
  transition: background-color 150ms ease, opacity 150ms ease;
  opacity: .5;

  &:not(:disabled) {
    opacity: 1;
    background-color: rgb(71, 207, 152);
  }
}
