.join-team {
  padding: 15px;
}

.join-team__main-heading {
  @include app-heading;
}

.join-team__blurb {
  @include app-blurb;
  text-align: center;
}

.join-team__button {
  @include button-large;
  min-width: 230px;
  transition: background-color 600ms ease;

  &:not(.join-team__button--submitted) {
    background-color: rgb(71, 207, 152);
  }
}
