.join-team {
  padding: units(2);
}

.join-team__main-heading {
  text-align: center;
}

.join-team__blurb {
  margin-bottom: units(4);
  text-align: center;
}

.join-team__button {
  @include button-medium;
  margin: units(3) auto;

  &:not(.join-team__button--submitted) {
    background-color: $check-blue;
  }
}
