.switch-teams {
  margin-bottom: 11px;
}

.switch-teams__teams {
  margin-bottom: 10px;
  min-width: 300px;
}

.switch-teams__team {
  border-radius: 2px;
  margin-bottom: 8px;
  transition: background-color 70ms ease;

  &:hover {
    background-color: $black-05;
  }
}

.switch-teams__team--current {
  background-color: $black-02;

  &:hover {
    background-color: $black-05;
  }
}

.switch-teams__team--pending {
  &:hover {
    background-color: transparent;
  }

  .switch-teams__team-avatar,
  .switch-teams__team-name {
    opacity: .4;
  }
}

.switch-teams__team-link,
.switch-teams__team--pending {
  display: flex;
  align-items: center;
  padding: 12px;
}

.switch-teams__team-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  cursor: pointer;

  &,
  &:hover {
    text-decoration: none;
  }
}

.switch-teams__team-avatar {
  @include avatar(60px);
  margin-#{$to-direction}: 15px;
}

.switch-teams__team-copy {
  flex: 1;
}

.switch-teams__team-name {
  @include team-name;
  color: $black-87;
  margin: 3px 0;

  & > a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.switch-teams__team-members-count,
.switch-teams__team-join-request-message {
  color: $black-87;
}

.switch-teams__team-join-request-message {
  text-transform: uppercase;
}

.switch-teams__team-caret {
  // TODO: use Caret.js once stable
  font-size: 24px;
}

.switch-teams__cancel-join-request {
  @include unbutton;
  color: $monza-red;
  margin-#{$from-direction}: 20px;
}

.switch-teams__new-team-link {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .03em;
  margin: 15px 12px;
}

.switch-teams__team-actions {
  svg {
    @extend %icon;
  }
}
