.switch-teams {
  background-color: #fff;
  margin-bottom: 11px;
}

.switch-teams__teams {
  margin-bottom: 10px;
  min-width: 300px;
}

.switch-teams__team {
  border-radius: 2px;
  margin-bottom: 8px;
  transition: background-color 70ms ease;
  &:hover {
    background-color: $light-gray-bg;
  }
}

.switch-teams__team--current {
  background-color: $light-gray-bg;
  &:hover {
    background-color: $medium-gray-bg;
  }
}

.switch-teams__team--pending {
  &:hover {
    background-color: transparent;
  }
  .switch-teams__team-avatar,
  .switch-teams__team-name { opacity: 0.4; }
}

.switch-teams__team-link,
.switch-teams__team--pending {
  display: flex;
  align-items: center;
  padding: 12px;
}

.switch-teams__team-link {
  &, &:hover { text-decoration: none; }
  height: 100%; width: 100%;
  text-decoration: none;
}

.switch-teams__team-avatar {
  @include team-avatar;
  color: $dark-gray-text;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
}

.switch-teams__team-copy {
  flex: 1;
}

.switch-teams__team-name {
  @include team-name;
  color: $dark-gray-text;
  margin: 3px 0;

  & > a { color: inherit; &:hover { text-decoration: none; }}
}

.switch-teams__team-members-count,
.switch-teams__team-join-request-message {
  color: $light-gray-text;
  font-size: 14px;
}

.switch-teams__team-join-request-message {
  text-transform: uppercase;
}

.switch-teams__team-caret {
  font-size: 24px;
  color: hsl(204, 15%, 70%);
}

.switch-teams__cancel-join-request {
  @include unbutton;
  color: $red-500;
}

.switch-teams__new-team-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 15px 12px;
}
