.switch-teams__teams {
  margin-bottom: units(3);
}

.switch-teams__team {
  border-radius: $border-radius-default;
  margin-bottom: units(1);
  transition: background-color $transition-speed-fast ease;

  &:hover {
    background-color: $black-05;
  }
}

.switch-teams__team--current {
  background-color: $black-02;

  &:hover {
    background-color: $black-05;
  }
}

// Pending teams
//
.switch-teams__team--pending {
  &:hover {
    background-color: transparent;
  }

  .switch-teams__team-avatar,
  .switch-teams__team-name {
    opacity: .4;
  }
}

.switch-teams__team-link,
.switch-teams__team--pending {
  align-items: center;
  display: flex;
  padding: units(2);
}

.switch-teams__team-link {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  width: 100%;

  &,
  &:hover {
    text-decoration: none;
  }
}

.switch-teams__team-avatar {
  @include avatar(units(7));
  margin-#{$to-direction}: units(2);
}

.switch-teams__team-copy {
  flex: 1;
}

.switch-teams__team-name {
  color: $black-87;
  margin: units(half) 0;

  & > a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.switch-teams__team-members-count,
.switch-teams__team-join-request-message {
  color: $black-87;
}

.switch-teams__cancel-join-request {
  @include button-small;
  @include button-flat;

  &:hover {
    background-color: $alert-red;
  }
}

// TODO: make this a proper button
.switch-teams__new-team-link {
  @include button-small;
  display: inline-flex;

  &:hover {
    text-decoration: none;
  }

  span {
    color: $white;
  }
}

.switch-teams__team-actions {
  svg {
    @extend %icon;
  }
}
