.team-header {
  border-radius: 2px;
  display: flex;
  height: units(6);
  overflow: hidden;
}

.team-header__clickable {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  &,
  &:hover {
    text-decoration: none;
  }

  &,
  &:visited {
    color: inherit;
  }
}

.team-header__avatar {
  @include team-avatar(units(4));
  margin: 0 units(2);
  background-color: $white;
}

.team-header__name {
  @extend %ellipsis;
  font: font(subheading2);
}
