.team {
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
}

.team__profile {
  position: relative;
}

// edit profile
.team__edit-profile {
  position: absolute;
  top: 0;
  right: 0;
}

.team__edit-button,
.team__cancel-button,
.team__save-button {
  @include button-medium;
  margin-left: 10px;

  @media screen and (max-width: 680px) {
    display: none;
  }
}

.team__edit-icon {
  font-size: 20px;
  opacity: .8;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.team__save-button {
  @include button-primary;
}

// profile

.team__avatar {
  @include avatar(100px);
  float: left;
  margin-right: 15px;
}

.team__avatar + div { // TODO: add .team__copy class to markup
  padding-top: 9px;
}

.team__name,
.team__name-input,
.team__name-link {
  @include team-name(21px);
}

.team__name {
  margin: 1px 0;
}

.team__name-link {
  display: inline-block;
  margin: 1px 0;
}

.team__name-input,
.team__description-input {
  border: 1px solid $black-05;
  border-radius: 2px;
  padding: 4px;
  box-shadow: inset 0 0 2px 0 $black-02;
}

.team__description,
.team__description-input {
  font-size: 16px;
}

.team__description {
  margin: 0 0 5px;
}

.team__description-text {
  margin: 0;
  padding: 5px 0;
  color: inherit;
}

.team__description-input {
  font-family: $font-stack-sans;
  width: 50%;
}

.team__location,
.team__link,
.team__add-link,
.team__phone {
  margin-right: 15px;
}

.team__location-icon,
.team__link-icon,
.team__add-link-icon,
.team__phone-icon {
  margin-right: 4px;
}

.team__add-link {
  // TODO: revisit semantics/interactions of button vs link
  background: none;
  border: 0;
  padding: 0;
}

// content
.team__content {
  clear: left;
  padding-top: 30px;
}

// projects
.team__projects-heading {
  @include app-kicker;
  margin: 0;
}

.team__projects-list {
  margin: 15px auto;
  color: $black-38;
  line-height: 1.45;

  & > :last-child {
    padding-bottom: 45px;
  }

  & > :only-child {
    font-size: 64px;
    padding-top: 0;
  }
}

.team__project,
.team__new-project {
  font-size: 18px;
  padding: .4em 0;
}

.team__new-project-input {
  border: 0;
  padding: 0;
  background: transparent;
  color: $black-87;
  font-weight: 500;

  &:focus { outline: none; }
  @include input-placeholder {
    color: $black-38;
    font-weight: 400;
  }
}

.team__project-link {
  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $black-87;
  }
}

.team__settings {
  text-align: center;
  margin-top: 20px;

  label {
    margin-right: 14px;
  }

  input[type='text'] {
    margin: 0 16px;
  }
}

// hack
.team__contact-info {
  display: flex;

  .team__link {
    order: 1;
  }

  .team__location {
    order: 2;
  }

  .team__phone {
    order: 3;
  }

  @media screen and (max-width: 680px) {
    .team__location-icon,
    .team__link-icon,
    .team__add-link-icon,
    .team__phone-icon {
      display: none;
    }
  }
}
