.team-header {
  border-radius: 2px;
  display: flex;
  height: 48px;
  overflow: hidden;
}

.team-header__clickable {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  &,
  &:hover {
    text-decoration: none;
  }

  &,
  &:visited {
    color: inherit;
  }
}

.team-header__avatar {
  @include team-avatar(32px);
  @include fade-in(.5s);
  margin-#{$to-direction}: 16px;
  background-color: $white;
}

.team-header__name {
  @include header-title;
  @extend %ellipsis;
}
