.team {
  padding: units(2) 0;
  width: 100%;
  margin: 0 auto;
}

.team__profile {
  position: relative;
}

// edit profile
.team__edit-profile {
  @include when-smaller-than(mobile-breakpoint) {
    position: static;
  }

  position: absolute;
  top: 0;
  #{$to-direction}: 0;
}

.team__edit-button,
.team__cancel-button,
.team__save-button {
  @include button-medium;
  margin-#{$to-direction}: units(1);
}

.team__edit-icon {
  width: units(2);
  margin-#{$to-direction}: units(1);
  display: inline-block;
  vertical-align: top;
}

.team__save-button {
  @include button-primary;
}

// profile
.team__avatar {
  @include avatar(units(12));
  float: #{$from-direction};
  margin-#{$to-direction}: units(2);
}

.team__name {
  margin: 1px 0;
  text-align: $from-direction;
}

.team__name-link {
  display: inline-block;
  margin: 1px 0;
}

.team__name-input,
.team__description-input {
  @include text-input;
  margin-bottom: units(2);
  width: units(45);
}

.team__description {
  margin: 0 0 units(1);
}

.team__description-text {
  margin: 0;
  padding: units(half) 0;
  color: inherit;
  text-align: $from-direction;
}

.team__location,
.team__link,
.team__add-link,
.team__phone,
.team__web {

  @include when-smaller-than(mobile-breakpoint) {
    width: 100%;
  }

  > span {
    display: flex;
  }

  input {
    @include text-input;
    @include when-smaller-than(mobile-breakpoint) {
      width: 100%;
    }
    margin: units(2);
    margin-#{$from-direction}: 0;
    font: $font-caption;
  }
}

.team__location-icon,
.team__link-icon,
.team__add-link-icon,
.team__phone-icon {
  margin-#{$to-direction}: units(1);
  align-self: center;
}

.team__add-link {
  // TODO: revisit semantics/interactions of button vs link
  background: none;
  border: 0;
  padding: 0;
}

.team__settings {
  margin-top: units(3);

  label {
    margin-#{$to-direction}: units(2);
  }

  input[type='text'] {
    @include text-input;
    @include when-smaller-than(mobile-breakpoint) {
      display: block;
      width: units(24);
      margin: units(2);
    }

    font: $font-caption;
    margin-#{$from-direction}: units(2);
    margin-#{$to-direction}: units(2);
  }
}

#team__settings-slack-notifications-enabled {
  & ~ label {
    font: $font-caption;
    margin-#{$from-direction}: units(1);
  }
}

.team__contact-info {
  display: flex;
  flex-flow: wrap row;

  .team__link {
    order: 1;
  }

  .team__location {
    order: 2;
  }

  .team__phone {
    order: 3;
  }
}

// content
.team__content {
  clear: #{$from-direction};
  padding-top: units(8);
}

// projects
.team__projects-heading {
  text-transform: uppercase;
  margin: 0;
}

.team__projects-list {
  margin: units(2) auto;
  color: $black-38;

  & > :last-child {
    padding-bottom: units(6);
  }

  & > :only-child {
    font-size: 64px;
    padding-top: 0;
  }
}

.team__project,
.team__new-project {
  font: $font-subheading-2;
}

.team__new-project-input {
  border: 0;
  padding: 0;
  background: transparent;
  color: $black-87;
  font-weight: 500;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $black-38;
    font-weight: 400;
  }
}

.team__project-link {
  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $black-87;
  }
}
