.team-header {
  border-radius: 2px;
  transition: opacity 200ms ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  padding-left: 14px; // TODO: rationalize layout padding
}

.team-header__clickable {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  &, &:hover { text-decoration: none; }
  &, &:visited { color: inherit; }
}

.team-header__icon {
  font-size: 24px;
  color: hsl(204, 15%, 70%);
}

.team-header__caret {
  display: none;
}

.team-header__avatar {
  @include team-avatar(40px);
  margin-right: 9px;
}

.team-header__copy {
  flex: 1;
}

.team-header__name {
  @include team-name(14px);
  margin: 3px 0 2px 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

.team-header__label {
  color: $light-gray-text;
  font-size: 13px;
}
