.team {
  $team-avatar-width: units(12);
  $team-profile-offset: units(18);

  &__profile {
    margin-bottom: units(4);
    margin-top: $team-profile-offset * -1;
    padding-top: $team-profile-offset;

    &--editing {
      .team__settings {
        margin-top: units(4);
      }
    }
  }

  &__contact-info {
    & > span {
      margin-#{$to-direction}: units(2);
    }
  }

  &__avatar {
    @include avatar($team-avatar-width);
  }
}
