.team-members {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}

.team-members__main-heading {
  @include app-heading;
}

// edit buttons
.team-members__edit-button {
  @include button-small;
  position: absolute;
  top: 30px;
  #{$to-direction}: 25px;

  @media screen and (max-width: 680px) {
    position: static;
    display: block;
    margin: 8px auto 0;
  }
}

.team-members__edit-icon {
  // TODO: DRY
  font-size: .9em;
  opacity: .8;
  margin-#{$to-direction}: .1em;
  display: inline-block;
  position: relative;
  #{$from-direction}: -3px;
}

// blurb
.team-members__blurb {
  @include app-blurb;
  text-align: center;
}

.team-members__blurb-graf--url {
  font-family: $font-stack-sans;
  font-size: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.team-membership-requests {
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
}

.team-membership-requests__heading {
  @include app-kicker;
  text-align: center;
  color: $check-blue;
}

.team-membership-requests__heading-parens {
  font-weight: 300;
  opacity: .8;
}

.team-members__member,
.team-membership-requests__user {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.team-members__member-avatar,
.team-membership-requests__user-avatar {
  $size: 50px;
  height: $size;
  width: $size;
  border-radius: $size;
  margin-#{$to-direction}: 10px;
}

.team-members__member-details,
.team-membership-requests__user-details {
  flex: 1 0 180px;
  margin-#{$to-direction}: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.team-members__member-name,
.team-membership-requests__user-name {
  margin: 0;
  margin-#{$to-direction}: 6px;
}

.team-members__member-username,
.team-membership-requests__user-username {
  color: $black-38;
}

// user controls
.team-member-requests__user-button {
  @include button-small;
  margin-#{$from-direction}: 10px;
  margin-bottom: 0;

  &--approve {
    @include button-primary;
  }
}

.team-members__member-role {
  min-width: 120px;
  margin-top: 8px;
  margin-#{$to-direction}: 0;
  margin-bottom: 8px;
  margin-#{$from-direction}: auto;

  .Select-control {
    transition: border-color 450ms ease;
  }

  .Select-arrow-zone {
    transition: opacity 300ms ease;
  }

  .Select-placeholder {
    transition: color 150ms ease;
  }

  &.is-disabled {
    .Select-control {
      background-color: transparent !important;
      border-color: transparent;

      &:hover {
        box-shadow: none;
      }
    }

    .Select-arrow-zone {
      opacity: 0;
    }

    .Select-placeholder {
      color: $black-38 !important;
    }
  }
}

.team-members__delete-member {
  @include unbutton;
  @include close-button;
  margin-#{$from-direction}: 15px;

  &-icon {
    position: relative;
    top: -.1em;
  }

  @media screen and (max-width: 680px) {
    display: none;
  }
}

.team-members__member-username {
  display: none;
}
