.team-header {
  border-radius: 2px;
  transition: background-color 70ms ease;
  // &:hover {
  //   background-color: $light-gray-bg;
  // }

  padding-left: 25px;
}

.team-header__clickable {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  &, &:hover { text-decoration: none; }
  &, &:visited { color: inherit; }
}

.team-header__icon {
  font-size: 24px;
  color: hsl(204, 15%, 70%);
}

.team-header__caret {
  display: none;
}

.team-header__avatar {
  @include team-avatar(40px);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.team-header__copy {
  flex: 1;
}

.team-header__name {
  @include team-name(14px);
  margin: 3px 0 2px 0;
}

.team-header__label {
  color: $light-gray-text;
  font-size: 13px;
}
