.translation__component {
  margin-bottom: 15px;
}

.translation__card-title {
  margin-bottom: 15px;
}

.translation__card-text {
  padding-bottom: 0 !important;
}

.translation__card-actions {
  text-align: $to-direction;
}
