.translation__component {
  margin-bottom: 16px;
}

.translation__rtl {
  direction: rtl;
  text-align: right;
}

.translation__ltr {
  direction: ltr;
  text-align: left;
}

.translation__card-title {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-#{$to-direction}: 24px;
}

.translation__card-text {
  padding-bottom: 0 !important;
}

.translation__card-actions {
  text-align: $to-direction;
}

.translation__note {
  text-align: $from-direction;
}
