.slideoutMain {
  box-shadow: -5px 0 5px 2px rgb(0 0 0 / .3);
  height: 100%;
  max-width: 600px;
  min-width: 320px;
  position: fixed;
  top: 0;
  width: 25vw;
}

.slideoutContainer {
  background-color: var(--otherWhite);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}

.slideoutTitle {
  background-color: var(--brandLight);

  .slideoutTitleContent {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: space-between;
    min-height: 80px;
    padding: 10px;

    h6 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.slideoutBody {
  overflow: scroll;
  padding: 10px;
}

.slideoutFooter {
  background-color: var(--brandBackgroundAccent);
  width: 100%;

  .slideoutFooterMain {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    min-height: 90px;
    padding: 8px;
  }

  .slideoutFooterContent {
    display: flex;
    gap: 8px;
  }
}

body[dir='rtl'] {
  .slideoutMain {
    left: 0;
    transform: translate3d(-600px, 0, 0);
    transition: all 380ms ease;

    &.slide {
      transform: translate3d(0, 0, 0);
    }
  }
}

body[dir='ltr'] {
  .slideoutMain {
    right: 0;
    transform: translate3d(600px, 0, 0);
    transition: all 380ms ease;

    &.slide {
      transform: translate3d(0, 0, 0);
    }
  }
}
