.project-edit__form {
  margin: 0 auto;
  max-width: layout(card-width-large);
}

.project-edit__editing-buttons {
  margin-top: units(2);
  text-align: $to-direction;
}

.project-edit__editing-button {
  @include button-medium;
  @include button-primary;

  &:not(:last-child) {
    margin-#{$to-direction}: units(1);
  }
}
