.project-breadcrumb {
  display: flex;
  height: 100%;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

.project-breadcrumb__caret {
  display: inline-block;
  margin-right: 5px;
}

.project-breadcrumb__project-name {
  @include breadcrumb-heading;
}
