.project-edit__form {
  max-width: 550px;
  margin: 0 auto;
}

.project-edit__editing-buttons {
  text-align: $to-direction;
}

.project-edit__editing-button {
  @include button-medium;

  &:not(:last-child) {
    margin-#{$to-direction}: units(half);
  }

  &--save {
    @include button-primary;
  }
}
