
.project-header {
  display: flex;
  align-items: center;
  overflow: hidden;

  label {
    overflow: hidden;
  }

  &__title {
    @extend %ellipsis;
    border-radius: 2px;
    display: inline;
    vertical-align: middle;

    &:hover {
      background-color: $black-05;
      transition: background-color 250ms;
    }
  }
}

.project-header__back-button {
  $_size: 23px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  opacity: 0;
  margin-#{$to-direction}: 0;
  transition: opacity 200ms ease, width 200ms ease, margin 200ms ease;

  & > svg {
    height: $_size;
    width: $_size;
  }

  &,
  &:visited {
    color: $black-54 !important;
  }

  a:hover {
    text-decoration: none;
  }

  &--displayed {
    width: $_size;
    opacity: 1;
    margin-#{$to-direction}: 8px;
  }
}

.project-header__menu-toggle-label {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.project-header__title {
  @include header-title;
}

.project-header__caret {
  @include header-title;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4px;
  opacity: .4;
  transition: opacity 100ms ease;
}

.project-header__menu-toggle-label:hover .project-header__caret {
  opacity: 1;
}

// toggle menu
.project-header__project-list {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
}

.project-header__menu-overlay {
  @include modal-overlay(transparent);
}

.project-header__menu-toggle:checked + .project-header__menu-toggle-label {
  .project-header__menu-overlay {
    display: block;
    pointer-events: auto;
  }
}

.project-header__menu-toggle:checked ~ .project-header__project-list {
  display: block;

  .project-list {
    display: block;
  }
}
