// Project page
//
.project {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: visible;
  padding: 0 units(2);
  position: relative;
  width: 100%;

  // Add annotations
  // TODO This element should not be present on the project page. 2017-2-13 CGB
  //
  .add-annotation {
    display: none;
  }
}

.project__description {
  // see also .header__container
  background: $black-02;
  display: flex;
  flex-direction: column;
  font: font(caption);
  justify-content: center;
  margin: (-1 * units(3)) (-1 * units(2)) units(2);
  min-height: units(4);

  &-container {
    @include when-smaller-than(mobile-breakpoint) {
      padding-#{$from-direction}: units(3);
    }
    color: $black-54;
    display: flex;
    margin: 0 auto;
    max-width: layout(column-width-wide) + units(2);
    padding-bottom: units(1);
    text-align: $from-direction;
    width: 100%;
    padding-#{$from-direction}: units(10);
    padding-#{$to-direction}: units(2);
  }
}

//  Create project button on the team page
//
// TODO move this to team page stylesheet
.create-project {
  display: inline;
}
