// Project page 
//
.project {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  // Add annotations
  // TODO This element should not be present on the project page. 2017-2-13 CGB
  //
  .add-annotation {
    display: none;
  }
}

//  Create projet button on the team page
//
// TODO move this to team page stylesheet
.create-project {
  display: inline;
}



// .project-header__description {
//   width: 100%;
//   position: relative;
//   z-index: 1;

//   .project-header__description-summary {
//     display: inline-block;
//     width: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }

//   .project-header__description-fulltext {
//     display: none;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     background: $white;
//     border: $layout-border;
//     border-radius: 2px;
//     padding: 8px;
//   }

//   &:hover .project-header__description-fulltext {
//     display: block;
//   }
// }
