.project-header {
  align-items: center;
  display: flex;
  overflow: hidden;

  label {
    overflow: hidden;
  }

  &__title {
    @extend %ellipsis;
    border-radius: $border-radius-default;
    color: $black-54;
    display: inline;
    font: font(subheading2);
    margin-#{$from-direction}: units(2);
    padding: 0 units(1);
    vertical-align: middle;

    &:hover {
      background-color: $black-05;
      transition: background-color $transition-speed-default;
    }
  }
}

.project-header__back-button {
  $back-button-size: units(3);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-#{$to-direction}: 0;
  opacity: 0;
  transition: opacity $transition-speed-default ease, width $transition-speed-default ease, margin $transition-speed-default ease;
  width: 0;

  & > svg {
    height: $back-button-size;
    width: $back-button-size;
  }

  &,
  &:visited {
    color: $black-54 !important;
  }

  a:hover {
    text-decoration: none;
  }

  &--displayed {
    margin-#{$from-direction}: units(2);
    opacity: 1;
    width: $back-button-size;
  }
}

.project-header__menu-toggle-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
}

.project-header__menu-toggle-label:hover .project-header__caret {
  opacity: 1;
}

// toggle menu
.project-header__project-list {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
}

.project-header__menu-overlay {
  @include modal-overlay(transparent);
}

// TODO move this display logic into the js component — 2017-3-26 CGB
//
/* stylelint-disable */
.project-header__menu-toggle:checked + .project-header__menu-toggle-label {
  .project-header__menu-overlay {
    display: block;
    pointer-events: auto;
  }
}

.project-header__menu-toggle:checked ~ .project-header__project-list {
  display: block;

  .project-list {
    display: block;
  }
}
/* stylelint-enable*/
