.project-header {
  height: 100%;
}

.project-header__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  width: 195px; // ellipsis truncation requires explicit width
  @media screen and (min-width: 400px) { width: 200px };
  @media screen and (min-width: 500px) { width: 300px };
  @media screen and (min-width: 600px) { width: 400px };
  @media screen and (min-width: 700px) { width: 500px };
  @media screen and (min-width: 800px) { width: 600px };
  @media screen and (min-width: 900px) { width: 700px };

  text-align: center;
}

.project-header__title {
  @include header-title;

  margin: 0 0 6px 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-header__description {
  width: 100%;
  @include gray-text;
  position: relative;

  .project-header__description-summary {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-header__description-fulltext {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    background: white;
    border: $layout-border;
    border-radius: 2px;
    padding: 8px;
  }

  &:hover .project-header__description-fulltext {
    display: block;
  }
}
