var config = {};

config.restBaseUrl = 'http://checkdesk-api.qa.checkdesk.org/api/';
config.relayPath = 'http://checkdesk-api.qa.checkdesk.org/api/graphql';
config.relayHeaders = {
  'X-Checkdesk-Token': 'dev'
}

module.exports = config;
