.articleLink {
  align-items: center;
  color: var(--color-blue-32);
  display: flex;
  font-size: var(--font-size-body-2);
  gap: 3px;
  margin: 3px 0;

  svg {
    flex: 0 0 var(--iconSizeTiny);
    font-size: var(--iconSizeTiny);
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.card {
  background-color: var(--color-white-100);
  border: 1px solid var(--color-gray-88);
  border-radius: 8px;
  padding: 8px;
  width: 100%;

  &:hover {
    border-color: var(--color-blue-32);
    outline: solid 1px var(--color-blue-32);
  }

  .cardContent {
    align-items: flex-start;
    display: flex;
    gap: 0 16px;
  }

  .cardSummary {
    display: flex;
    flex-direction: row;
    gap: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    .cardSummaryContent {
      flex: 1 1 auto;
      overflow: hidden;
    }

    .toggleCollapse {
      align-items: center;
      background-color: var(--color-blue-98);
      border: 0 solid var(--color-gray-88);
      border-radius: 8px;
      color: var(--color-gray-37);
      cursor: pointer;
      display: flex;
      flex: 0 0 30px;
      flex-direction: column;
      height: 30px;
      justify-content: center;
      margin-top: 8px;
      padding: 2px;
      width: 30px;

      :global(.check-icon) {
        font-size: var(--iconSizeSmall);
        margin: 0;
        vertical-align: middle;
      }

      &.toggleCollapseVisible {
        visibility: visible;
      }

      &.toggleCollapseHidden {
        visibility: hidden;
      }

      &:hover {
        color: var(--color-blue-54);
      }
    }
  }

  .cardTitle {
    -webkit-box-orient: vertical;
    display: -webkit-box; /* stylelint-disable-line */
    margin: 0;
    white-space: normal;
  }

  .cardTitleCollapse {
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: normal;
  }

  .cardDescription {
    -webkit-box-orient: vertical;
    color: var(--color-gray-37);
    display: -webkit-box; /* stylelint-disable-line */
    font-size: var(--font-size-body-2);
    white-space: pre-line;
  }

  .cardDescriptionCollapse {
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .cardTag {
    display: flex;
    justify-content: flex-end;
  }

  .cardTagIcon {
    font-size: var(--iconSizeTiny);
  }

  .cardDate {
    color: var(--color-gray-15);
    margin-top: 8px;
    padding-right: 8px;
    text-align: right;
  }

  .cardChannels {
    align-items: center;
    display: flex;
    gap: 3px;

    span {
      display: flex;
    }

    svg {
      font-size: var(--font-size-subtitle-1);
    }
  }

  .cardWorkspaces {
    align-items: center;
    display: flex;
    gap: 10px;

    .extraWorkspaces {
      align-items: center;
      background-color: var(--color-white-100);
      border: 2px solid var(--color-gray-88);
      border-radius: 6px;
      color: var(--color-gray-37);
      cursor: pointer;
      display: flex;
      flex-shrink: 0;
      font-feature-settings: 'clig' off, 'liga' off;
      gap: 12px;
      height: 30px;
      justify-content: center;
      padding: 6px;
      text-align: center;
      width: 30px;
    }
  }

  .cardFooter {
    margin-top: 6px;
  }

  .clickableCard {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}
