.request-list {
  .request-card {
    border-bottom: solid 1px var(--grayBorderMain);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 8px;

    .request-time {
      color: var(--textSecondary);
    }

    .request-content {
      background-color: var(--grayBackground);
      border-radius: 8px;
      gap: 8px;
      padding: 12px;
      width: 100%;
    }

    .buttons {
      display: flex;
      gap: 8px;
    }
  }

  :global(.annotations__list-item) {
    &:first-of-type {
      .request-card {
        padding: 0 8px 24px;
      }
    }

    &:last-of-type {
      .request-card {
        border-bottom: 0;
      }
    }
  }
}
