.request-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .request-time {
    color: var(--color-gray-37);
  }

  .request-content {
    background-color: var(--color-gray-96);
    border-radius: 8px;
    gap: 8px;
    padding: 12px;
    width: 100%;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }
}
