.content {
  margin-top: 16px;
  max-width: 880px;
  padding-left: 32px;
}

.header-container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 2fr 1fr;

  :global(.save-button) {
    float: right;
  }
}

.newsletter {
  background: var(--otherWhite);
  border-color: var(--grayBorderMain);
  border-radius: 16px 16px 0;
  border-style: solid;
  border-width: 2px 2px 0;
  padding: 16px;
}

.settings {
  background: var(--brandBackground);
  border-radius: 12px;
  padding: 16px;

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.select {
  width: 50%;
}

.newsletter-body {
  background: var(--brandBackgroundAccent);
  border-radius: 12px;
  padding: 16px;

  .rss-feed-url {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    .rss-feed-url-field {
      flex-grow: 1;
    }
  }

  .loading-rss-feed-button {
    background: var(--alertMain);
    min-width: 32px;
    width: 32px;
  }

  .switcher {
    margin-bottom: 16px;
  }

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.text-secondary {
  color: var(--textSecondary);
}

.two-spaced {
  margin-bottom: 16px;
  margin-top: 16px;
}
