
// Layout variables
//
$layout-sizes: (
  header-height: units(7),
  media-expanded-top-offset: units(9),
  card-width-small: units(40),
  card-width: units(56),
  card-width-large: units(85),
  column-width-narrow: units(100),
  column-width-wide: units(152),
  column-tall: units(152)
  );

// Helper for accessing the layout sizes
//
@function layout($size) {
  @if map-has-key($layout-sizes, $size) {
    @return map-get($layout-sizes, $size);
  }
}

// Breakpoint map
//
$breakpoints: (
  mobile-breakpoint-smallest: layout(card-width-small),
  mobile-breakpoint-small: layout(card-width),
  mobile-breakpoint: layout(card-width-large),
  widescreen-breakpoint: layout(column-width-wide)
);

// Helpers for accessing breakpoints
//
@mixin when-smaller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (max-width: $value) {
    @content;
  }
}

@mixin when-larger-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @content;
  }
}

@mixin when-taller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-height: $value) {
    @content;
  }
}

// Layout default settings
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  width: 100%;
}

button {
  border: 0;
}
