*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  width: 100%;
}

// // Responsive mixin helpers
// //
// @mixin when-smaller-than($breakpoint) {
//   $value: map-get($breakpoints, $breakpoint);
//   @media (max-width: $value) {
//     @content;
//   }
// }

// @mixin when-larger-than($breakpoint) {
//   $value: map-get($breakpoints, $breakpoint);
//   @media (min-width: $value) {
//     @content;
//   }
// }
