// Layout default settings
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  width: 100%;
}

// Breakpoint map
//
$breakpoints: (
  column-width-narrow: 784px,
  column-width-wide: 1200px + (2 * 8px),
  mobile-breakpoint-smallest: 320px,
  mobile-breakpoint-small: 450px,
  mobile-breakpoint: 680px,
);

// Columns and breakpoint variables
// DEPRECATED — use the map instead
//
$layout-column-width-narrow: 784px;
$layout-column-width-wide: 1200px + (2 * 8px);
$layout-mobile-breakpoint-smallest: 320px;
$layout-mobile-breakpoint-small: 450px;
$layout-mobile-breakpoint: 680px;

// Helpers for accessing breakpoints
//
@mixin when-smaller-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}

@mixin when-larger-than($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (min-width: $value) {
    @content;
  }
}
