$font-stack-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;

// Material design font size and line height
//
// • unquote() is used because: https://github.com/sass/sass/issues/667
// • The font name must be repeated to use the "font" shorthand
//
$typography-style-map: (
  display3:    400 56px unquote('/') 56px $font-stack-sans,
  display2:    500 45px unquote('/') 48px $font-stack-sans,
  display1:    500 34px unquote('/') 40px $font-stack-sans,
  headline:    500 24px unquote('/') 32px $font-stack-sans,
  title:       400 20px unquote('/') 32px $font-stack-sans,
  subheading2: 400 16px unquote('/') 28px $font-stack-sans,
  subheading1: 400 15px unquote('/') 24px $font-stack-sans,
  body2:       400 14px unquote('/') 24px $font-stack-sans,
  body1:       400 14px unquote('/') 20px $font-stack-sans,
  caption:     400 12px unquote('/') 20px $font-stack-sans,
  tiny:        400 8px  unquote('/') 12px $font-stack-sans
);

// Helper for accessing the grid unit map
//

@function font($style) {
  @if map-has-key($typography-style-map, $style) {
    @return map-get($typography-style-map, $style);
  }
}

// Default typography
//
body {
  color: $opaque-black-54;
  font: font(body1);
}

// Headers
//
h1,
.main-title {
  color: $black-87;
  font: font(title);
}

// Links
//
a {
  color: $opaque-black-54;
  text-decoration: none;

  &:hover {
    color: $opaque-black-87;
    text-decoration: underline;
    transition: color .4s;
  }

  &:visited {
    color: $opaque-black-54;
  }

  &:not([href]) {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}

// Paragraphs
//
p {
  color: $black-87;
  margin-top: 0;
}

// Lists
//
ul {
  list-style-type: none;
  padding-#{$from-direction}: 0;
  margin: 0;
}

/* stylelint-enable */
