$font-stack-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;

// Material design font size and line height
//
// • unquote() is used because: https://github.com/sass/sass/issues/667
// • The font name must be repeated to use the "font" shorthand
$font-display-2: 500 45px unquote('/') 48px $font-stack-sans;
$font-display-1: 500 34px unquote('/') 40px $font-stack-sans;
$font-headline: 500 24px unquote('/') 32px $font-stack-sans;
$font-subheading-2: 400 20px unquote('/') 32px $font-stack-sans;
$font-subheading-1: 400 20px unquote('/') 28px $font-stack-sans;
$font-body-2: 400 14px unquote('/') 24px $font-stack-sans;
$font-body-1: 400 14px unquote('/') 20px $font-stack-sans;
$font-caption: 400 12px unquote('/') 16px $font-stack-sans;

@mixin onboarding-heading {
  margin: 25px 0 20px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .035em;
  color: $check-blue;
}

@mixin onboarding-blurb {
  font-size: 17px;
  color: $black-87;
  margin-bottom: 30px;
  line-height: 1.45;
}

@mixin app-heading {
  @include onboarding-heading;
  text-align: center;
}

@mixin app-blurb {
  @include onboarding-blurb;
}

@mixin header-title($size: 16px) {
  font-weight: 400;
  font-size: $size;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &,
  & > a,
  & > a:visited {
    color: $black-87;
  }
}

@mixin app-kicker($size: 14px) {
  font-size: $size;
  text-transform: uppercase;
  font-weight: 500;
}

@mixin team-name($size: 17px) {
  font-size: $size;
}

@mixin breadcrumb-heading {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 2px 0 0;
}

// Default typography
//
body {
  color: $opaque-black-54;
  font: $font-stack-sans;
  font-size: 14px;
  line-height: 1.42;

  // Wrapping
  // TODO: Refine this so it only applies to elements with user-generated content 2017-4-18 CGB
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  color: $opaque-black-54;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $opaque-black-87;
    transition: color .4s;
  }

  &:visited {
    color: $opaque-black-54;
  }

  &:not([href]) {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}

input {
  font-size: inherit;
}

p {
  margin-top: 0;
  color: $black-87;
}

ul {
  list-style-type: none;
  padding-#{$from-direction}: 0;
  margin: 0;
}

// TOS and Privay Policy pages
// TODO refactor this to use a shared class like .page CGB 2017-3-10 
#tos,
#privacy-policy {
  margin: 10px;

  p {
    line-height: 1.5em;
    text-align: justify;
  }

  h2 {
    font-size: 22px;
    margin: 10px 0;
  }
}

// Main titles
.main-title {
  text-align: center;
}
