// Direction — overridden in the RTL stylesheet
//
$from-direction: left !default;
$to-direction: right !default;

// Transition
//
$transition-speed-slow: 500ms;
$transition-speed-default: 300ms;
$transition-speed-fast: 200ms;
$transition-speed-fastest: 50ms;

// Border Radius
//
$border-radius-default: 2px;
$border-radius-large: 8px;
$border-radius-largest: 24px;

// Border width
//
$border-width-small: 1px;
$border-width-medium: 2px;
$border-width-large: 3px;

// Letter spacing
$letter-spacing-medium: 1px;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
