// Direction — overridden in the RTL stylesheet
$from-direction: left !default;
$to-direction: right !default;
$transition-speed-default: 300ms;
$transition-speed-fast: 200ms;
$transition-speed-slow: 500ms;
$border-radius-default: 2px;
$border-radius-large: 8px;
