// Direction — overridden in the RTL stylesheet
$from-direction: left !default;
$to-direction: right !default;
$transition-speed-default: 300ms;
$transition-speed-fast: 200ms;
$transition-speed-slow: 500ms;
$border-radius-default: 2px;
$border-radius-large: 8px;
$border-radius-largest: 24px;
$border-width-small: 1px;
$border-width-medium: 2px;
$border-width-large: 3px;
